{% extends "layout-internal.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">School profiles</h1>


      <div class="nav-cont">

        <ul class="navi-style1">
          <li class="on"><!-- <strong class="govuk-heading-s"> -->
            <strong class="govuk-heading-s">Your profiles</strong>
          </li>
          <li>
            <a href="/schools-1/image-management">Image management</a>
          </li>
          <li>
            <a href="/schools-1/add-content">Add content</a>
          </li>
          <li>
            <a href="/schools-1/remove-content">Remove content</a>
          </li>
        </ul>
      </div>


    </div>
  </div>




{% endblock %}
