{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}
<div class="signin-status">
    <div class="banner1">


      <div class="signin-status">
        <p class="govuk-!-font-size-16">Hello, you last signed in 12:34pm, Monday 5 October 2018&nbsp;&nbsp;<a href="/candidate-dashboard/signout">Sign out</a></p>
      </div>
    </div>


</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Cancel booking</h1>
      <p>
        You've chosen to cancel your school experience placement booking for Abraham Moss Community School.</p>
        <p>Dates requested: 10 to 18 November 2019<br />
        <span class="greyout">Request sent: 10 September 2019</span><br />
      </p>
      <p class="govuk-inset-text">To change and update any placement details you’ll need to contact the school.</p>
      <p>
        <a href="view-booking" class="govuk-button">Contact school</a><br />
      </p>

<div class="govuk-form-group">
  <h2 class="govuk-heading-m">Cancellation reasons</h2>
  <span id="more-detail-hint" class="govuk-hint">
Tell us a why you want to cancel your booking so we can let the school know you no longer want your placement.
  </span>
  <label class="govuk-label" for="more-detail">
    Provide details
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>
            <p>
              <a href="cancel-confirm" class="govuk-button">Confirm booking cancellation</a><br />
              <a href="dash-search" class="">Back to Your bookings</a>
            </p>
                </div>

            </div>





            {% endblock %}
