{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}
<div class="signin-status">
    <div class="banner1">


      <div class="signin-status">
        <p class="govuk-!-font-size-16">Hello, you last signed in 12:34pm, Monday 5 October 2018&nbsp;&nbsp;<a href="/candidate-dashboard/signout">Sign out</a></p>
      </div>
    </div>


</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Cancel booking</h1>
      <p>
        You've chosen to cancel your school experience booking for Ancoats Nursery School.</p>
        <p>Date booked: 10 March 2019<br />
      </p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          To change any school experience details you’ll need to contact the school. For example, to change the date of your booking.
        </strong>
      </div>


<div class="govuk-form-group">
  <h2 class="govuk-heading-m">Cancellation reasons</h2>
  <p>
Tell us why you want to cancel your booking so we can let the school know you no longer want school experience.</p>
  </span>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

            <p>
              <a href="booking-cancel-confirm" class="govuk-button">Cancel booking</a><br/>


      <p>
        <a href="view-booking" class="govuk-button">Contact school</a><br/>
      </p>

            <p>  <a href="dash-search" class="">Your requests and bookings</a>
            </p>
                </div>

            </div>





            {% endblock %}
