{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row dashboard">


  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">School experience dashboard
    </h1>

    <div class="dashboard-top-divider">
      &nbsp;
    </div>
  </div>

</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
          <div class="greyblock1">

            <h2 class="govuk-heading-m">Your requests</h2>
            <p>

            </p>
            <ul class="govuk-list">
            <li><a class="govuk-link" href="/schools-2/associate?id=2">View associations</a></li>
            <li><a class="govuk-link" href="/schools-2/add-subsidiary?id=2">Add subsidiary schools</a></li>
            <li><a class="govuk-link" href="/schools-2/remove-subsidiary?id=2">Remove subsidiary schools</a></li>
            </ul>

          </div>
    </div>
    <div class="govuk-grid-column-one-half ">
          <div class="greyblock1">

            <h2 class="govuk-heading-m">Your placments</h2>
            <ul class="govuk-list">
            <li><a class="govuk-link" href="/schools-2/profile?id=3">View profiles</a></li>
            <li><a class="govuk-link" href="/schools-2/image-management?id=3">Image management</a></li>
            <li><a class="govuk-link" href="/schools-2/add-content?id=3">Add content</a></li>
            <li><a class="govuk-link" href="/schools-2/remove-content?id=3">Remove content</a></li>
            </ul>

          </div>
    </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half ">
        <div class="greyblock2">

          <h2 class="govuk-heading-m">Your completed experiences</h2>
          <ul class="govuk-list">
              <li><a class="govuk-link" href="/schools-2/view-calender?id=4">View calendar</a></li>
            <li><a class="govuk-link" href="/schools-2/non-placements?id=4">Add non-placement days</a></li>


          <li><a class="govuk-link" href="/schools-2/current-placments?id=4">View live placements</a></li>
          <li><a class="govuk-link" href="/schools-2/manage-placements?id=4">Manage placements</a></li>

          </ul>

        </div>
  </div>
  <div class="govuk-grid-column-one-half ">
        <div class="greyblock2">

          <h2 class="govuk-heading-m">Your notifications</h2>
          <ul class="govuk-list">
          <li><a class="govuk-link" href="/schools-2/view-bookings?id=5">View bookings</a></li>
          <li><a class="govuk-link" href="/schools-2/view-messages?id=5">View messages</a></li>
          <li><a class="govuk-link" href="/schools-2/notification?id=5">Notifications</a></li>
          <li><a class="govuk-link" href="/schools-2/attenedance?id=5">Candidate attendance</a></li>
          </ul>

        </div>
  </div>

</div>

{% endblock %}
