{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset">


				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading">
						Find school experience placements
					</h1>
				</legend>
				<p class="govuk-hint">Search by location, postcode, school type and subject or any combination of these</p>

				<!-- This version of the form starts horizontal but stacks vertically when narrow -->

				<form action="/candidate-search/search-results-post" method="post">

					<div class="govuk-form-group">

						<div class="stackable">
							<input class="govuk-input govuk-!-width-full" id="search-by-location" name="search" type="text">

							<select id="search-location-radius" class="govuk-select" name="locationRadius">
								<option selected>Select search distance</option>
								<option value="1">1 mile</option>
								<option value="3">3 miles</option>
								<option value="5">5 miles</option>
								<option value="10">10 miles</option>
								<option value="15">15 miles</option>
								<option value="20">20 miles</option>
								<option value="25">25 miles</option>
							</select>

							<button class="govuk-button inline-button govuk-se-wide-button">Find</button>
						</div>
					</div>

				</form>
			</fieldset>
		</div>
	</div>

</div>
<br>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading">
						Your requests and bookings
					</h1>
				</legend>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-se-dashboard">
            <div class="govuk-se-dashboard__row govuk-se-dashboard__row--header">
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader">
                </div>
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--heading">
                    <h3>Your requests</h3>
                    <div>Oldest first</div>
                </div>
            </div>
            <div class="govuk-se-dashboard__row">
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
                </div>

                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
                    <div class="govuk-se-dashboard-entry__heading">
                        <a href="#">New Islington Free School</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__info">
                        <strong>Dates available:</strong> 21 to 24 September 2019<br/>
                        <a href="view-individual-request">View request</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__cancel">
                        <a href="cancel-request">Cancel request</a>
                    </div>
                </div>
            </div>

            <div class="govuk-se-dashboard__row">
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
                </div>
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
                    <div class="govuk-se-dashboard-entry__heading">
                        <a href="#">Newton Heath School</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__info">
                        <strong>Dates available:</strong> 4 to 8 October 2019<br/>
                        <a href="view-individual-request">View request</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__cancel">
                        <a href="cancel-request">Cancel request</a>
                    </div>
                </div>
            </div>

            <div class="govuk-se-dashboard__row">
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
                </div>
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
                    <div class="govuk-se-dashboard-entry__heading">
                        <a href="#">Marsden High School</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__info">
                        <strong>Dates available:</strong> 10 to 12 November 2019<br/>
                        <a href="view-individual-request">View request</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__cancel">
                        <a href="cancel-request">Cancel request</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="govuk-grid-column-one-half">

        <div class="govuk-se-dashboard purple">
            <div class="govuk-se-dashboard__row govuk-se-dashboard__row--header">
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader">
                </div>
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--heading">
                    <h3>Your bookings</h3>
                    <div>Latest first</div>
                </div>
            </div>
            <div class="govuk-se-dashboard__row">
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
                </div>

                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
                    <div class="govuk-se-dashboard-entry__heading">
                        <a href="#">Ancoats Nursery School</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__info">
                        <strong>Dates: </strong>10 to 18 November 2019<br/>
												<strong>Status: </strong>Confirmed<br/>
                        <a href="view-booking">View booking</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__cancel">
                        <a href="cancel-booking">Cancel booking</a>
                    </div>
                </div>
            </div>

            <div class="govuk-se-dashboard__row">
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
                </div>

                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
                    <div class="govuk-se-dashboard-entry__heading">
                        <a href="#">Hulme High School</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__info">
                        <strong>Dates: </strong>1 to 4 November 2019<br/>
												<strong>Status: </strong>Attended<br/>
                        <a href="leave-feedback">Leave feedback</a>
                    </div>
                </div>
            </div>

            <div class="govuk-se-dashboard__row">
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
                </div>
                <div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
                    <div class="govuk-se-dashboard-entry__heading">
                        <a href="#">Ellen Wilkinson High School</a>
                    </div>
                    <div class="govuk-se-dashboard-entry__info">
											  <strong>Dates: </strong>15 to 19 October 2019<br/>
                        <strong>Status: </strong>Not attended<br/>
                        <a href="leave-feedback">Leave feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
