{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Feedback sent</h1>
            <p>
Your feedback will passed on to Newton Heath School and used by us to improve school experience across primary and secondary schools in England.
            </p>



            <p>

              <a href="/candidate-dashboard/c-dashboard?request-count=4&bookings-count=7" class="">Return to requests and bookings</a>
            </p>

    </div>

</div>





{% endblock %}
