{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}
<div class="signin-status">
    <div class="banner1">


      <div class="signin-status">
        <p class="govuk-!-font-size-16">Darren Silcox, you last signed in 12:34pm, Monday 5 October 2018&nbsp;&nbsp;<a href="/candidate-dashboard/signout">Sign out</a></p>
      </div>
    </div>


</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Feedback sent</h1>
            <p>
Your feedback will passed on to the school where you attended your placement and used by us to improve school experience across primary and secondary schools in England.
            </p>



            <p>

              <a href="dash-search" class="">Go to dashboard</a>
            </p>

    </div>

</div>





{% endblock %}
