{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

<dl class="govuk-summary-list">

<h2 class="govuk-heading-l">Marsden High School request details </h2>

<p>Here are the details you sent to request school experience at Marsden High School.</p>

<p><strong>Personal details</strong></p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value">
      Robert Smith
    </dd>
  </div>
	<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      110 Acacia Avenue, Northern Quarter, Manchester M1 1AD.
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0161 555 2222
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      bob.smith1995@outlook.com
    </dd>
  </div>
  <br>
</dl>


<p><strong>Request details</strong></p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      School or college
    </dt>
    <dd class="govuk-summary-list__value">
      New Islington Free School
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Experience availability
    </dt>
    <dd class="govuk-summary-list__value">
     Any time during April or May   <a href="">Request date change</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Experience outcome
    </dt>
    <dd class="govuk-summary-list__value">
      I want to experience classroom life, the way lessons are delivered, as well as various types of classroom behaviour and how to deal with them.
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Degree stage
    </dt>
    <dd class="govuk-summary-list__value">
			Final year
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree subject
    </dt>
    <dd class="govuk-summary-list__value">
      English
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching stage
    </dt>
    <dd class="govuk-summary-list__value">
      I’ve applied for teacher training
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject - first choice
    </dt>
    <dd class="govuk-summary-list__value">
      English
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject - Second choice
    </dt>
    <dd class="govuk-summary-list__value">
      History
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DBS certificate
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
</dl>





<br>
<p><a class="govuk-button button-grey cta" href="/candidate-dashboard/cancel-request">Cancel request</a></p>

<a class="govuk-link" href="/candidate-dashboard/dash-search">Your requests and bookings</a>

                </form>

            </div>

        </div>



{% endblock %}
