{% extends "layout.html" %} {% import "sections.html" as s %} {% import "schools/candidate-request.html" as candidate_request %} {% block pageTitle %} Candidate Requests {% endblock %} {% block beforeContent %} {{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<h1 class="govuk-heading-l">
      View your past bookings and give feedback 
    </h1>

<fieldset class="govuk-fieldset">

    <nav class="pagination" role="navigation" aria-label="pager">

        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="">2</a>
</span>

        <span class="page">
  <a rel="next" href="">3</a>
</span>

        <span class="next">
  <a rel="next" href="">Next</a>
</span>

    </nav>
    <br>

</fieldset>
<table class="govuk-table attendance-confirmation">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header app-custom-class" scope="col">School</th>
            <th class="govuk-table__header app-custom-class" scope="col">Subject</th>
            <th class="govuk-table__header app-custom-class" scope="col">Date booked</th>
            <th class="govuk-table__header app-custom-class" scope="col"></th>
            <th class="govuk-table__header app-custom-class" scope="col"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <colgroup>
            <col span="" class="name">
                <col>
                    <col span="" class="subject">
        </colgroup>

        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Newton Heath School</th>
            <td class="govuk-table__cell">Physics</td>
            <td class="govuk-table__cell"><strong>1 October 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>
  </fieldset>
</div></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Newton Heath School</th>
      <td class="govuk-table__cell">Physics</td>
      <td class="govuk-table__cell"><strong>17 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>
  </fieldset>
</div></td></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Black Firs School</th>
      <td class="govuk-table__cell">Physics</td>
      <td class="govuk-table__cell"><strong>15 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>
  </fieldset>
</div></td></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Newton Heath School</th>
      <td class="govuk-table__cell">Maths</td>
      <td class="govuk-table__cell"><strong>13 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>
  </fieldset>
</div></td></td>
    </tr>

        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Black Firs School</th>
            <td class="govuk-table__cell">Physics</td>
            <td class="govuk-table__cell"><strong>12 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>
  </fieldset>
</div></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Newton Heath School</th>
      <td class="govuk-table__cell">Physics</td>
      <td class="govuk-table__cell"><strong>12 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>
  </fieldset>
</div></td></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Black Firs School</th>
      <td class="govuk-table__cell">Physics</td>
      <td class="govuk-table__cell"><strong>12 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>
  </fieldset>
</div></td></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Newton Heath School</th>
      <td class="govuk-table__cell">Maths</td>
      <td class="govuk-table__cell"><strong>10 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>	
  </fieldset>
</div></td></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Black Firs School</th>
      <td class="govuk-table__cell">Physics</td>
      <td class="govuk-table__cell"><strong>3 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
	      <td class="govuk-table__cell"><a href="/candidate-dashboard/give-feedback" class="govuk-link">Give feedback</a></td>			
    </div>	
  </fieldset>
</div></td></td>
    </tr>

  </tbody>
</table>

<nav class="pagination" role="navigation" aria-label="pager">

        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="">2</a>
</span>

        <span class="page">
  <a rel="next" href="">3</a>
</span>

      <span class="next">
  <a rel="next" href="">Next</a>
</span>
  </nav>
<br>

<p><a class="govuk-button govuk-button--secondary" href="/candidate-dashboard/c-dashboard?request-count=4&bookings-count=7">Return to requests and bookings</a></p>

{% endblock %}