{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Booking details</h1>


<p>Here are the details about your school experience placement at Abbey College - Manchester</p>




<h2 class="govuk-heading-m">School details</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      School or college
    </dt>
    <dd class="govuk-summary-list__value">
      Abbey College - Manchester
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      Crescent Road, Crumpsall, Manchester M8 5UF
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Location
    </dt>
    <dd class="govuk-summary-list__value">
			<img src="/public/images/school-map.png" alt="map of school location">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Placement dates
    </dt>
    <dd class="govuk-summary-list__value">
      01 June 2019 to 5 June 2019
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Placement start and finish times
    </dt>
    <dd class="govuk-summary-list__value">
      9am to 5pm
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Dress code
    </dt>
    <dd class="govuk-summary-list__value">
	  Business attire with male attendees expected to wear a collar and tie
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Parking
    </dt>
    <dd class="govuk-summary-list__value">
      Limited on-site parking arranged as part of placement. Local paid-for on-street parking around school site for £3 per day
    </dd>
</dl>

  <br>

<h2 class="govuk-heading-m">Placement contacts</h2>

<p class="govuk-body">
If you have any questions about your booking:
</p>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Billy Admin</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      badmin@abbeycollege.co.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0161 345 6000
    </dd>
</dl>

  <p>
<p class="govuk-body">
On the day of your school experience placement you'll need to report to:
</p>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      Mrs I Teach
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      iteach@abbeycollege.co.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0161 345 6355
    </dd>
</dl>
<p class="govuk-body">
You can also contact them if you have any questions about your actual placement.
</p>

<h2 class="govuk-heading-m">Placement details</h2>

<p class="govuk-body">
  You’ll be observing lessons and may get the chance to interact with pupils and classroom activities
</p>
<p><strong>Subject:</strong> Maths</p>


<h2 class="govuk-heading-m">Remember to bring</h2>

<p class="govuk-body">
Make sure you bring the following with you on the day:
  </p>

<ul class="govuk-list govuk-list--bullet">
<li>your DBS check document</li>
<li>your £50 placement fee</li>
</ul>
            <p>
              <a href="cancel-request" class="govuk-link">Cancel booking</a>
			  <p>
              <a href="dash-search" class="govuk-link">Your bookings</a>
            </p>

    </form>
</div>
</div>




    </div>

{% endblock %}
