{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}


<div class="govuk-grid-row dashboard-figures">


    <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-xl">9 Requests</h1>
          <a href="#" class="govuk-link">Organise by most urgent</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#" class="govuk-link ">Organise by most recent</a><br /><br />

          <div class="greyblock3 red">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>N'golo Ake Akenfyewe</strong></a>
                  </p>
                  <p class="">
                    DBS: Yes
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 1st Jul 2018 - 22nd Dec 2019
                  </p>
                  <p class="dater">
                    Subject: German
                  </p>
              </div>
          </div>

          <div class="greyblock3 red">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>Matias Goodwin</strong></a>
                  </p>
                  <p class="">
                    DBS: Yes
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 10th Jan 2019 - 10th Dec 2019
                  </p>
                  <p class="dater">
                    Subject: Physical education
                  </p>
              </div>
          </div>

          <div class="greyblock3 red">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>Emilia Coleman</strong></a>
                  </p>
                  <p class="">
                    DBS: Yes
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 25st Aug 2019 - 5 Nov 2019
                  </p>
                  <p class="dater">
                    Subject: English
                  </p>
              </div>
          </div>












          <div class="greyblock3 amber">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>Donell Reyes</strong></a>
                  </p>
                  <p class="">
                    DBS: No
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 9th Feb 2019 - 1st Jun 2019
                  </p>
                  <p class="dater">
                    Subject: Physical education
                  </p>
              </div>
          </div>

          <div class="greyblock3 amber">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>Mayur Briggs</strong></a>
                  </p>
                  <p class="">
                    DBS: Yes
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 1st Jan 2019 - 1st Dec 2019
                  </p>
                  <p class="dater">
                    Subject: Science
                  </p>
              </div>
          </div>

          <div class="greyblock3 amber">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>Joao Lord</strong></a>
                  </p>
                  <p class="">
                    DBS: No
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 1st Jul 2019 - 22 Dec 2019
                  </p>
                  <p class="dater">
                    Subject: Chemistry
                  </p>
              </div>
          </div>








          <div class="greyblock3 green">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>Felix Finney</strong></a>
                  </p>
                  <p class="">
                    DBS: Yes
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 1st March 2019 - 21st Oct 2019
                  </p>
                  <p class="dater">
                    Subject: French
                  </p>
              </div>
          </div>

          <div class="greyblock3 green">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>Kendal Vazquez</strong></a>
                  </p>
                  <p class="">
                    DBS: Yes
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 1st Apr 2019 - 1st Jan 2020
                  </p>
                  <p class="dater">
                    Subject: Computing
                  </p>
              </div>
          </div>

          <div class="greyblock3 green">
              <div class="govuk-grid-column-one-half">
                  <p class="">
                    <a href="" class="govuk-link name"><strong>Laaibah Regan</strong></a>
                  </p>
                  <p class="">
                    DBS: No
                  </p>

              </div>
              <div class="govuk-grid-column-one-half">
                  <p class="dater">
                    Date Range: 31st Feb 2019 - 1st Jul 2019
                  </p>
                  <p class="dater">
                    Subject: Computing
                  </p>
              </div>
          </div>









    </div>



    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-xl">10 Bookings</h2>
        <a href="#" class="govuk-link">Organise by earliest</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" class="govuk-link">Organise by latest</a><br /><br />



                  <div class="greyblock3 red">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Asia Benton</strong></a>
                          </p>
                          <p class="">
                            DBS: Yes
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 1st Jul 2019 - 1st Aug 2019
                          </p>
                          <p class="dater">
                            Subject: French
                          </p>
                      </div>
                  </div>

                  <div class="greyblock3 red">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Amrit Shepherd</strong></a>
                          </p>
                          <p class="">
                            DBS: Yes
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 1st Jul 2019 - 1st Sept 2019
                          </p>
                          <p class="dater">
                            Subject: Physics
                          </p>
                      </div>
                  </div>

                  <div class="greyblock3 red">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Hanifa Curry</strong></a>
                          </p>
                          <p class="">
                            DBS: Yes
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 1st Jul - 22 Dec
                          </p>
                          <p class="dater">
                            Subject: Science
                          </p>
                      </div>
                  </div>

                  <div class="greyblock3 red">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Lola-Mae Patton</strong></a>
                          </p>
                          <p class="">
                            DBS: Yes
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 1st Jan 2019 - 1st Dec 2019
                          </p>
                          <p class="dater">
                            Subject: Music
                          </p>
                      </div>
                  </div>












                  <div class="greyblock3 amber">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Jaxon Burgess</strong></a>
                          </p>
                          <p class="">
                            DBS: No
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 31st May 2019 - 1st Jul 2019
                          </p>
                          <p class="dater">
                            Subject: German
                          </p>
                      </div>
                  </div>

                  <div class="greyblock3 amber">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Henley Hurst</strong></a>
                          </p>
                          <p class="">
                            DBS: Yes
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 27th Mar 2019 - 22nd Jun 2019
                          </p>
                          <p class="dater">
                            Subject: English
                          </p>
                      </div>
                  </div>

                  <div class="greyblock3 amber">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>N'golo Ake Akenfyewe</strong></a>
                          </p>
                          <p class="">
                            DBS: Yes
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 1st Jul - 22 Dec
                          </p>
                          <p class="dater">
                            Subject: French
                          </p>
                      </div>
                  </div>








                  <div class="greyblock3 green">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Doris Wickens</strong></a>
                          </p>
                          <p class="">
                            DBS: No
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 1st Jan 2019 - 22nd Mar 2019
                          </p>
                          <p class="dater">
                            Subject: Math
                          </p>
                      </div>
                  </div>

                  <div class="greyblock3 green">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Karen Tillman</strong></a>
                          </p>
                          <p class="">
                            DBS: Yes
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 1st Jan 2019 - 1st Dec 2019
                          </p>
                          <p class="dater">
                            Subject: Geography
                          </p>
                      </div>
                  </div>

                  <div class="greyblock3 green">
                      <div class="govuk-grid-column-one-half">
                          <p class="">
                            <a href="" class="govuk-link name"><strong>Tobi Brandt</strong></a>
                          </p>
                          <p class="">
                            DBS: Yes
                          </p>

                      </div>
                      <div class="govuk-grid-column-one-half">
                          <p class="dater">
                            Date Range: 1st Nov 2019 - 1st Dec Nov 2019
                          </p>
                          <p class="dater">
                            Subject: History
                          </p>
                      </div>
                  </div>






    </div>

  </div>
















</div>



{% endblock %}
