{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



      <div class="nav-cont1">

        <ul class="navi-style1">
          <li class="on"><!-- <strong class="govuk-heading-s"> -->
            <strong class="govuk-heading-s">Your profile</strong>
          </li>
          <!--
          <li>
            <a href="/booking-v1/image-management?id=3">Image management</a>
          </li>
          <li>
            <a href="/booking-v1/add-content?id=3">Add content</a>
          </li>
          <li>
            <a href="/booking-v1/remove-content?id=3">Remove content</a>
          </li>
        -->
        </ul>
      </div>
      <!--
      <p class="govuk-!-width-two-thirds">
        Use the fields provided to update your school profile. The right hand column contains information you entered when registering these can also be updated.
      </p>


      <div class="divider">
        &nbsp;
      </div>
    -->
    </div>
  </div>






    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Abraham Moss Community School</h1>

          <h2 class="govuk-heading-m">About our school</h2>
<p>
  We are an 5-18 comprehensive school with approximately 850 students on roll, serving a catchment area in and around Manchester . We are a very successful school with a strong reputation for social inclusion. We value all of the young people who study here and work hard to try to ensure that they all reach their full potential.
</p>
<p>
  The school has seen growing academic success over recent years and our students consistently achieve at levels well above national averages. As a specialist Sports College we have an excellent track record for providing opportunities for our students and the wider community to participate in sport. As a key partner in Manchester Adult Learning Alliance we are proud of our community education role, which sees almost one thousand adult learners currently enrolled on courses at Abraham Moss.
</p>
<p>
  Abraham Moss is constantly striving to improve on all fronts. We are working hard to raise academic standards even further and to extend the range of opportunities available to our students and our wider community.
<br />
<a class="" href="/schools-pre/content-edit">Change content</a>
</p>


<p class="profile-img">
  <img src="/public/images/abschool.jpg" width="250" height="172" />
</p>

  <a class="govuk-body govuk-!-font-size-19" href="/schools-pre/content-edit-image">Change image</a>



      </div>






      <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Details</h3>
      <p class="govuk-body">
        Crescent Road<br />
        Manchester<br />
        Greater Manchester<br />
        M8 5UF<br />
      </p>

      <h3 class="govuk-heading-s">Availability</h3>
      <p class="govuk-body">
        October - April
        <br /><a class="" href="/schools-pre/availability1_edit">Change</a>
      </p>


      <h3 class="govuk-heading-s">DBS</h3>
      <p class="govuk-body">
        Preferred
        <br /><a class="" href="/schools-pre/other-details-edit">Change</a>
      </p>


      <h3 class="govuk-heading-s">Subjects offered</h3>
      <p class="govuk-body">
        Art, English, Geography, Maths, Physics
        <br /><a class="" href="/schools-pre/subjects-edit">Change</a>
      </p>

      <h3 class="govuk-heading-s">Fee</h3>
      <p class="govuk-body">
        None
        <br /><a class="" href="/schools-pre/other-details-edit">Change</a>
      </p>

    </div>

{% endblock %}
