{% extends "layout-internal-booking.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-m">Candidate profile</h1>



        <div class="nav-cont">

          <ul class="navi-style1">
            <li class="on"><!-- <strong class="govuk-heading-s"> -->
              <strong class="govuk-heading-s">View bookings</strong>
            </li>
            <li>
              <a href="/booking-v1/view-messages?id=5">View messages</a>
            </li>
            <li>
              <a href="/booking-v1/notification?id=5">Notification</a>
            </li>
            <li >
              <a href="/booking-v1/attendance?id=5">Candidate atendance</a>
            </li>
          </ul>
        </div>



    </div>
  </div>
  <div>
    &nbsp;
  </div>

<!-- ********** Personal details *********** -->
  <div class="govuk-grid-row divider-profile">

      <div class="govuk-grid-column-one-half profile">

        <div class="personal">
            <h2 class="govuk-heading-l">David Mineli</h2>
            <ul>
              <li>Date of birth: 01 08 1997</li>
              <li>Address: 21 Byker Grove, Byker, Newcastle. NL1 5NU</li>

            </ul>
        </div>

      </div>
      <div class="govuk-grid-column-one-half profile">
          <div class="contact">
              <ul>
                <li>Email: mineliman97@hotmail.co.uk  </li>
                <li>Tel: 0191 333 4545</li>
                <li>07979 123 456</li>
              </ul>
          </div>
      </div>
  </div>



  <!-- ********** DBS, Qualifications, Teacher Training *********** -->
    <div class="govuk-grid-row divider-profile">
        <div class="govuk-grid-column-one-third qualtrain">
            <div class="qual">
              <h2 class="govuk-heading-m">Qualifications</h2>
              <ul>
                <li>Degree: Yes</li>
                <li>Subject: Computer sciences</li>
                <li>Class: 1st</li>
              </ul>
            </div>
        </div>
        <div class="govuk-grid-column-one-third qualtrain">
            <div class="teach-t">
                <h2 class="govuk-heading-m">Teacher training</h2>
                <ul>
                  <li>Status: Applied</li>
                  <li>ITT provider: St Andrews School Group - North Tyneside</li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-column-one-third qualtrain">
            <div class="dbs">
                <h2 class="govuk-heading-m">DBS</h2>
                <ul>
                  <li>DBS checked: No</li>
                  <li>Criminal Record: No</li>
                  <!--<li>Details: N/A</li>-->
                </ul>
            </div>
        </div>
    </div>


    <!-- ********** Booking details *********** -->
      <div class="govuk-grid-row divider-profile">
          <div class="govuk-grid-column-one-half">
              <div class="booking-details">
                <h2 class="govuk-heading-m">Booking details</h2>
                <ul>
                  <li>Date: 15 to 20 October 2018 (5 days)</li>
                  <li>Subject: Physics</li>
                  <li>No shows: 1</li>
                </ul>
                <p>

                </p>
              </div>
          </div>
          <div class="govuk-grid-column-one-half">
              <div class="booking-details1">
                <ul>
                  <li>Preferred placement role:	Observing</li>
                  <li>Motivations: Need to get experience for ITT.</li>
                  <li>Expectations: I’m hoping it’ll help me decide if teaching is the right career for me.</li>
                  <li>Reason for selecting school: OFSTED rating, Local, Right subject
                </ul>
              </div>
          </div>
      </div>



<!-- ********** CTA *********** -->
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

              <form action="/booking-v1/noti-confirm" method="post" class="form">

                <!-- *** Soft Booking *** -->
                <!-- *** Name to be passed *** -->
                <input name="full-name" value="David Mineli" type="hidden">

                <button type="submit" name="pro2-direct" value="confirm-candidate" class="govuk-button">
                  Confirm
                </button>
                <br />
                <button type="submit" name="pro2-direct" value="reject-candidate" class="govuk-button button-grey cta">
                  Reject candidate
                </button>
                <button type="submit" name="pro2-direct" value="contact-candidate" class="govuk-button button-grey cta">
                  Contact booking
                </button>


                <br />
                <a class="govuk-link" href="/booking-v1/view-bookings?id=5">Back to booking list</a>

              </form>

          </div>

      </div>



{% endblock %}
