

{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Change school
              </h1>
            </legend>
            <p>Choose a school and select confirm to view and manage its school experience details.</p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england" checked="checked">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                  Abraham Moss Community School<br />
                  Crescent Road, Manchester M8 5UF
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Calder High School<br />
                  Tall Tree Lane, Manchester M12 4WZ
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Brook High School<br />
                  Valley Head, Manchester M22 8NN
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                  Hills School<br />
                  Riverside, Manchester M18 1TW
                </label>
              </div>
            </div>
          </fieldset>
        </div>



        <a href="/booking-v1/dashboard?id=1" class="govuk-button">
            Confirm
        </a>


    </div>

</div>




{% endblock %}
