{% extends "layout-internal-1.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Your bookings</h1>



        <div class="nav-cont">

          <ul class="navi-style1">
            <li class="on"><!-- <strong class="govuk-heading-s"> -->
              <strong class="govuk-heading-s">View bookings</strong>
            </li>
            <li>
              <a href="/schools-2/view-messages?id=5">View messages</a>
            </li>
            <li>
              <a href="/schools-2/notification?id=5">Notification</a>
            </li>
            <li >
              <a href="/schools-2/attendance?id=5">Candidate atendance</a>
            </li>
          </ul>
        </div>



    </div>
  </div>




{% endblock %}
