{% extends "layout-internal-1.html" %}
{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Your places</h1>


      <div class="nav-cont">

        <ul class="navi-style1">
          <li class="on">
            <strong class="govuk-heading-s">View calendar</strong>
          </li>
          <li><!-- <strong class="govuk-heading-s"> -->
            <a href="/schools-2/non-placements?id=4">Add non-placement days</a>
          </li>

          <li>
            <a href="/schools-2/current-placements?id=4">View current placements</a>
          </li>
          <li>
            <a href="/schools-2/manage-placements?id=4">Manage placements</a>
          </li>
        </ul>
      </div>




    </div>
  </div>




{% endblock %}
