{% extends "fake-email.html" %}

{% block emailcontent %}
<p>Dear David Minelli</p>

<p>You’ve requested school experience at Ellen Wilkinson High School.</p>

<p class="govuk-inset">
	The school will be in touch with you shortly. During term time
	this could typically mean within two weeks.
</div>


<h2 class="govuk-heading-l">Your school experience request details</h2>

<p>
	Here is a copy of your request details which have been forwarded to the
	school.
</p>

<p>Personal details</p>

<ul>
	<li>Full name: David Minelli</li>
	<li>Address: 21 Byker Grove, Byker, Newcastle NL1 5NU</li>
	<li>UK telephone number: 0191 333 4545</li>
	<li>Email address: mineliman97@hotmail.co.uk</li>
</ul>

<p>Request details</p>

<ul>
	<li>School or college: Ellen Wilkinson High School</li>
	<li>Experience availability: Any time in March 2019</li>
	<li>Experience outcome: A greater understanding of classroom experience</li>
	<li>Degree stage: Final year</li>
	<li>Degree subject: Physics</li>
	<li>Teaching stage: I'm fairly sure and exploring my options</li>
	<li>Teaching subject – first choice: Physics</li>
	<li>Teaching subject – second choice: Maths</li>
	<li>DBS check document: Yes</li>
</ul>
{% endblock %}
