{% extends "fake-email.html" %}

{% block emailcontent %}
<p>Dear Mr Smith</p>

<p>David Minelli has sent you a request for school experience at Ellen Wilkinson High School.</p>

<h2 class="govuk-heading-l">David Minelli request details</h2>

<p>If possible, you should try and contact them or respond to their request within 10 working days.</p>

<p>Personal details:</p>

<ul>
	<li>Full name: David Minelli</li>
	<li>Address: 21 Byker Grove, Byker, Newcastle NL1 5NU</li>
	<li>UK telephone number: 0191 333 4545</li>
	<li>Email address: mineliman97@hotmail.co.uk</li>
</ul>

<p>Request details:</p>

<ul>
	<li>School or college: Ellen Wilkinson High School.</li>
	<li>Placement availability: Any time in March 2019</li>
	<li>Placement outcome: A greater understanding of classroom experience</li>
	<li>Degree stage: Final year</li>
	<li>Degree subject: Physics</li>
	<li>Teaching stage: I'm fairly sure and exploring my options</li>
	<li>Teaching subject – first choice: Physics</li>
	<li>Teaching subject – second choice: Maths</li>
	<li>DBS Check Document: Yes</li>
</ul>
{% endblock %}