{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}





    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Request new school link</h1>


            <form action="/schools-pre/signout" method="post" class="form">
                <p>
                    You need to be linked to a school to use this service
                </p>

                <p>
                    To request a new school link, enter the school reference number and click request.
                </p>



                <div class="govuk-form-group">
                    <label class="govuk-label" for="name">
                        URN, LAESTAB or UKPRN
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="name" name="name" type="text">
                </div>

                <button type="submit" class="govuk-button" name="school-request" value="Your request for a link to this school is being processed, we will notify you via email soon">
                    Request school link
                </button><br />

                <a href="signout" class="govuk-link govuk-!-font-size-19">Sign out</a>


            </form>
    </div>

</div>

{% endblock %}
