{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-l">Availability for school experience</h1>
              <p>blah blah... </p><br />


                  <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">

                    <table class="govuk-table">
                    <caption class="govuk-table__caption">Dates added</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Date</th>
                        <th class="govuk-table__header" scope="col">Remove</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">1 July 2018 - 21 August 2018</th>
                        <td class="govuk-table__cell">Avalable</td>
                        <td class="govuk-table__cell "><a href="">Remove</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">1 Jan 2019 - 21 Jan 2019</th>
                        <td class="govuk-table__cell">Unavailable</td>
                        <td class="govuk-table__cell "><a href="">Remove</a></td>
                      </tr>
                    </tbody>
                  </table>


                  </div>
              </div>






      <h2 class="govuk-heading-m">Add date ranges</h2>
      <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="sort">
                        Adding
                      </label>
                      <select class="govuk-select" id="sort" name="sort">
                        <option value="">Dates available</option>
                        <option value="">Dates unavailable</option>
                      </select>
                    </div>
              </fieldset>
            </div>
          </div>


          <div class="govuk-grid-column-one-third">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

                <div class="govuk-date-input" id="dob">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

          </div>



          <div class="govuk-grid-column-one-third">
              <div class="added-range">
                <h2 class="govuk-heading-m">to</h2>
              </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

                    <div class="govuk-date-input" id="dob">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dob-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dob-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="dob-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

          </div>





      </div>









    <h2 class="govuk-heading-m">Add a single date</h2>
      <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="sort">
                        Adding
                      </label>
                      <select class="govuk-select" id="sort" name="sort">
                        <option value="">Dates available</option>
                        <option value="">Dates unavailable</option>
                      </select>
                    </div>
              </fieldset>
            </div>
          </div>


          <div class="govuk-grid-column-one-third">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

                <div class="govuk-date-input" id="dob">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

          </div>








      </div>









    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
          <button type="submit" class="govuk-button button-grey">
          Update
          </button>
    </div>
</div>
{% endblock %}
