{% extends "layout.html" %}

{% block pageTitle %}
  Schools Admin - for School Experience
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader() }}
{% endblock %}



{% block content %}

 <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


          <h1  class="govuk-heading-xl">DFE Sign-in</h1>

          <p>DFE sign-in is the new way to sign-in to access some specific education sector services. <p>

          </p>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">


                {% call govukFieldset({
                  legend: {
                    text: "Sign in",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: true
                  }
                }) %}


                {{ govukInput({
                  label: {
                    text: "User ID"
                  },

                  id: "user-id",
                  name: "user-id",
                  type: "user-id"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Password"
                  },

                  id: "password",
                  name: "password",
                  type: "password"
                })}}

                {{ govukButton({
                  text: "Sign in",
                  href: "/schools-pre/associations",
                  classes: "govuk-button--start"
                }) }}

              {% endcall %}
              </div>
          </div>





            <!--<a class="govuk-link" href=""></a>-->
          <h2 class="govuk-heading-m">Problems signing in</h2>



          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten user ID
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <a href="#">Recover your user ID</a>
                </div>
          </details>


          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten password
                    </span>
                </summary>
                <div class="govuk-details__text">
                  <a href="#">Recover your password</a>
                </div>
          </details>

          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten user ID and password
                    </span>
                </summary>
                <div class="govuk-details__text">
                  <a href="#">Recover all your sign in details</a>
                </div>
          </details>






        </div>
      </div>


</main>


{% endblock %}
