{% extends "layout.html" %}

{% block pageTitle %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader() }}
{% endblock %}



{% block content %}
 <main class="govuk-main-wrapper">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Organise school experience placements

      </h1>

      <p>
        Use this service if you're a primary or secondary school in England and want to offer and manage school experience placements for the current academic year.
      </p>


      <p>
        The service will send you requests from people looking into becoming a teacher and who want to find out what it's like to work as one.
      </p>


      <p>
        To help you decide whether to accept an individual candidate and book them on a placement, you'll be provided with their:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li> full name and contact details - including address, email and telephone number</li>
        <li>placement requirements - including preferred placement length, dates and subjects</li>
        <li>teaching experience and motivations - including how far they've got towards becoming a teacher and why they want to teach</li>
      </ul>


      <p class="govuk-inset-text">
        You'll also be told if candidates have undergone a Disclosure and Barring Service (DBS) check. These details will not be verified by DfE.
      </p>

      <p class="govuk-inset-text">
        It's your responsibility to decide if a candidate complies with your individual school safeguarding policies and whether to accept their placement request.
      </p>

      <p >
        To help cover costs, you can charge fees for placements. You’ll need to sort out payment direct between yourselves and the individual candidate.
      </p>


      <p class="govuk-inset-text">This service is only for organising school experience placements in England.
      </p>

      <a href="associations" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

 <h2 class="govuk-heading-m">Before you start</h2>

      <p>
        If you’d like to manage your school experience through this service, you’ll need to provide various placement details including:

      </p>
      <ul class="govuk-list govuk-list--bullet">

      <li>
        your available placement dates and subjects
      </li>
      <li>
         your DBS-check requirements
      </li>
      <li>
        whether you charge a fee for placements
      </li>
        </ul>
      <p>


      </p>



    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>
{% endblock %}
