{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a class="" href="/"> Sign out</a>'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  		<form action="/booking/" method="post" class="form">
      <h1 class="govuk-heading-l">Give feedback on this service</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Help us improve the school experience service.</p>

					<h2 class="govuk-heading-m">What did you come to do on the service?</h2>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="service-hint">
    <span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="service" name="service" type="checkbox" value="request">
        <label class="govuk-label govuk-checkboxes__label" for="service">
          Make a school experience request
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="service-2" name="service" type="checkbox" value="withdraw">
        <label class="govuk-label govuk-checkboxes__label" for="service-2">
          Withdraw a request or cancel a booking
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="service-3" name="service" type="checkbox" value="days">
        <label class="govuk-label govuk-checkboxes__label" for="service-3">
          View upcoming experience days
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="service-4" name="service" type="checkbox" value="previous">
        <label class="govuk-label govuk-checkboxes__label" for="service-4">
          View previous bookings
        </label>
      </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="service-5" name="service" type="checkbox" value="amend">
      <label class="govuk-label govuk-checkboxes__label" for="service-5">
        Amend a booking
      </label>
    </div>
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="service-6" name="service" type="checkbox" value="feedback">
    <label class="govuk-label govuk-checkboxes__label" for="service-6">
      Give feedback about the school experience
    </label>
  </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="service-7" name="citizen" type="checkbox" value="email" data-aria-controls="else-reveal">
        <label class="govuk-label govuk-checkboxes__label" for="service-7">
          Something else 
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="else-reveal">
        <div class="govuk-form-group">
          <label class="govuk-label" for="else-reveal">
            Tell us what you came here to do. Do not include any information that could identify you personally - such as your name
          </label>
       <textarea class="govuk-textarea govuk-!-width-two-thirds" data-save-name="else" id="else-reveal" name="else-text" rows="7" aria-describedby="else-reveal"></textarea>
        </div>					
  </fieldset>
</div>


						


		<h2 class="govuk-heading-m">Were you able to do what you wanted? </h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" data-save-name="achieve1" id="visit1" name="visit" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes
              </label>
            </div>					
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" data-save-name="achieve2" id="visit2" name="visit" type="radio" value="no" data-aria-controls="visit-reveal">
              <label class="govuk-label govuk-radios__label" for="no">
                 No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="visit-reveal">
              <div class="govuk-form-group">
                <label class="govuk-label" for="visit">
                  Give details
                  <textarea class="govuk-textarea govuk-!-width-two-thirds" data-save-name="visit-text" id="visit-text" name="visit-text" rows="7" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
          </div>
        </fieldset>
      </div>


          </div>
      </div>	



<h2 class="govuk-heading-m">Overall, how did you feel about the service you received?</h2>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-do-you-feel1" name="how-do-you-feel" type="radio" value="very-satisfied">
        <label class="govuk-label govuk-radios__label" for="how-feel1">
          Very satisfied
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-do-you-feel2" name="how-do-you-feel" type="radio" value="satisfied">
        <label class="govuk-label govuk-radios__label" for="how-feel2">
          Satisfied
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-do-you-feel3" name="how-do-you-feel" type="radio" value="neither-satisfied-or-dissatisfied">
        <label class="govuk-label govuk-radios__label" for="how-feel3">
          Neither satisfied or dissatisfied
        </label> </div>			
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-do-you-feel4" name="how-do-you-feel" type="radio" value="dissatisfied">
        <label class="govuk-label govuk-radios__label" for="how-feel4">
          Dissatisfied
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-do-you-feel5" name="how-do-you-feel" type="radio" value="very-dissatisfied">
        <label class="govuk-label govuk-radios__label" for="how-feel5">
          Very dissatisfied
        </label> </div>
    </div>		
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
<h2 class="govuk-heading-m">Would you recommend this service to others?</h2>
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>


<h2 class="govuk-heading-m">How could we improve the service? (optional)</h2>


<div class="govuk-form-group">
  <span id="more-detail-hint" class="govuk-hint">
    Do not include any information that could identify you personally - such as your name.
  </span>
  <textarea class="govuk-textarea" id="more-detail-improve" name="more-detail-improve" rows="5" aria-describedby="more-detail-improve"></textarea>
</div>


<a href="/candidate-dashboard-lite/feedback-confirm?request-count=4&bookings-count=7" class="govuk-button">Submit feedback</a>
<br>
<!--
<h2 class="govuk-heading-m">Help and support</h2>

<p class="govuk-body">If there’s anything else you’d like to add email our School Experience Service team at <a href="mailto:organise.school-experience@education.gov.uk" class="govuk-link">organise.school-experience@education.gov.uk</a>.</p>
-->
		</form>
    </div>
</div>
{% endblock %}
