{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
<!--

      <div class="nav-cont">

          <ul class="navi-style1">
            <li>
              <a href="/booking/view-bookings?id=5">View bookings</a>
            </li>
            <li>
              <a href="/booking/view-messages?id=5">View messages</a>
            </li>
            <li class="on">
              <strong class="govuk-heading-s">Notifications</strong>
            </li>
            <li>
              <a href="/booking/attendance?id=5">Candidate attendance</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
-->
          <form action="/booking/" method="post" class="form">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Cancel booking for {{ data['full-name'] }}</h1>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This candidate is due tomorrow. To make sure they don't turn up at your school - call them to tell them their placement has been cancelled.
  </strong>
</div>
      <h2 class="govuk-heading-s">Cancellation email for candidate</h2>
      <div class="govuk-form-group">

          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint">
Your booking for school experience at Abraham Moss Community School for for {{ data['candidate-booking-dates'] }} has been cancelled.

This is because the school has decided you're not suitable for the placement.

If you have any questions about this decision contact John Lewis at Abraham Moss Community School on 0161 123 4567 or at info@central.co.uk.

          </textarea>
      </div> 



      <a href="noti-sent?id=5" class="govuk-button">Send cancellation</a>


      <br />
      <a class="govuk-link" href="/booking/profile-request1">Back to candidate profile</a>
      <br />
<br>
      <a class="govuk-link" href="/booking/notification?id=5">Go to notifications</a>

    </div>
              </form>
</div>

<!--
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full emails">
          <h2 class="govuk-heading-m">Email to {{ data['full-name'] }}</h2>
          <div class="divider"></div>
          <div class="noti-template">
              This email is using the "Cancel booking" template.
          </div>
          <div class="divider"></div>
      </div>
  </div>
-->

<!--
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <p>
            <strong>Subject:</strong> Your school experience placement request has been cancelled
          </p>
          <p><strong>Body:</strong> The placement you requested at Abraham Moss Community School for {{ data['candidate-booking-dates'] }} has been cancelled.</p>
          <p>
            This is because the school has decided you're not suitable for the placement.
          </p>
          <p>
              If you have any questions about this decision contact John Lewis at Abraham Moss Community School on <a href="tel:0161 123 4567">0161 123 4567</a> or at <a href="mailto:info@abmoss.ac.uk">info@central.co.uk</a>.
          </p>

          <div class="divider"></div>


              <h2 class="govuk-heading-s">Need to add extra content?</h2>
              <div class="govuk-form-group">
                  <label class="govuk-label" for="more-detail">
                      Write any extra content you need in here, if not needed just leave blank
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>

              <a href="noti-sent?id=5" class="govuk-button">Send email</a>


              <br />
              <a class="govuk-link" href="{{data['candidate-profile-page']}}&id=5">Back to profile</a>
              <br />
              <a class="govuk-link" href="/booking/notification?id=5">Go to notifications</a>
              </br/>

-->

      </div>
  </div>


{% endblock %}
