{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  		<form action="/booking/" method="post" class="form">
      <h1 class="govuk-heading-l">Send rejection email to candidate</h1>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

					<p class="govuk-body">The following email will be sent to Matthew Richards.

			<h2 class="govuk-heading-m">
				Preview rejection email
			</h2>

		<div class="se-letter-with-form">
			<h2 class="govuk-heading-m">
				Dear Matthew Richards,
			</h2>

			<p>
				Newton Heath School has turned down your school experience request for the following dates:
			</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>01 June 2019</li>
			</ul>
			<p>
				<strong>Your request was turned down for the following reasons</strong>
			</p>
			<p>The school is fully booked and has no school experience available on the date you requested.</p>

			<p><strong>Extra details from the school
</strong></p>

			<p>We have 05 June 2019 available</p>


      <p>
				<strong>Make a new request</strong>
			</p>

			<p>Apply for school experience at other schools - <a href="/candidate-search/search" class="govuk-link">Find school experience</a>.</p>

      <p>
				<strong>Help and support</strong>
			</p>

			<p>If you need any further help and support getting school experience or becoming a teacher visit the <a href="https://getintoteaching.education.gov.uk/school-experience" class="govuk-link">Get Into Teaching</a> website.</p>

		</form>
    </div>

<a href="/booking/noti-sent-rejected" class="govuk-button">Send rejection email</a>
<br/>

<p><a class="govuk-link" href="/booking/noti-reject">Edit rejection email</a></p>

<p><a class="govuk-link" href="/booking/profile-request1-full">Back to requests</a></p>

</div>







{% endblock %}
