{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  		<form action="/booking/" method="post" class="form">
      <h1 class="govuk-heading-l">Confirm school experience booking</h1>

<!--
      <div class="nav-cont">

          <ul class="navi-style1">
            <li>
              <a href="/booking/view-bookings?id=5">View bookings</a>
            </li>
            <li>
              <a href="/booking/view-messages?id=5">View messages</a>
            </li>
            <li class="on">
              <strong class="govuk-heading-s">Notifications</strong>
            </li>
            <li>
              <a href="/booking/attendance?id=5">Candidate attendance</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
-->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">You’ve confirmed the booking details for {{ data['candidate-name'] }}</p>

					<p class="govuk-body">The following contains the wording of the email which will be sent to them to confirm their school experience booking.
<p>
You can change any of the details ahead of sending the confirmation by simply editing or adding in any extra details in the following text box.
<p>

         <h2 class="govuk-heading-m">Read and update confirmation email </h2>
					<div class="govuk-form-group">

					 <textarea class="govuk-textarea" rows="15">
Dear {{ data['candidate-name'] }},
Here are the details about your school experience placement at {{ data['school-name'] }}.

School details

School or college: Abbey College - Manchester 
Address: Crescent Road, Crumpsall, Manchester M8 5UF. 
Placement dates: 01 June 2019 to 5 June 2019       
Placement start and finish times: 9am to 5pm
Dress code: Business attire with male attendees expected to wear a collar and tie
Parking: Limited on-site parking arranged as part of placement. Local paid-for on-street parking around school site for £3 per day					

Placement contacts

If you have any questions about your booking:

Name: Billy Admin
Email address: badmin@abbeycollege.co.uk 
UK telephone number: 0161 345 6000

On the day of your school experience placement, you’ll need to report to:

Name: Mrs I Teach
Email address: iteach@abbeycollege.co.uk 
UK telephone number: 0161 345 6355

You can also contact them if you have any questions about your actual placement.

Placement details

You’ll be observing lessons and may get the chance to interact with pupils and classroom activities 

Subject: Maths

Remember to bring

Make sure you bring the following with you on the day of your placement:

your DBS check document
your £30 placement fee

					 </textarea>
					</div>
					
					<h2 class="govuk-heading-m">Send confirmation email to {{ data['candidate-name'] }}
</h2>


					<p class="govuk-body">By sending this email you’re confirming, to the best of your knowledge, the booking details you’re providing are correct.</p>

<a href="noti-sent?id=5" class="govuk-button">Send booking confirmation</a>
<br/>

<a class="govuk-link" href="/booking/profile-request1-contact">Back to confirm booking details</a>
<br>
<br>
<a class="govuk-link" href="/booking/profile-request1-full">Back to request</a>
		</form>


    </div>
</div>





<!--

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full emails">
          <h2 class="govuk-heading-m">Email to {{ data['candidate-name'] }}</h2>
          <div class="divider"></div>
          <div class="noti-template">
              This email is using the "Confirm booking" template.
          </div>
          <div class="divider"></div>
      </div>
  </div>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <p>
            <strong>Subject:</strong> Your school experience placement confirmation
          </p>
          <p>
              <strong>Body:</strong> Your placement at Abraham Moss Community School has been confirmed for {{ data['candidate-booking-dates'] }}.
          </p>

          <p>
            The school has provided the following important details about your placement which you need to read and take note of ahead your arrival:
          </p>
          <ul class="govuk-list">
            <li>placement start and finish time - 8am to 4pm</li>
            <li>school location and directions - (Abraham Moss Community School)[<a href="">https://goo.gl/maps/p3AgGMyAwgy</a>] </li>
            <li>parking and access - in teaching car park accessed via south gate on Mosley Street</li>
            <li>report to - John Lewis in main school reception</li>
            <li>dress code - formal </li>
            <li>placement fee - £10</li>
          </ul>
          <p>The school will be contacting you in due course with further details about your placement.</p>
          <p>In the meantime, if you have any urgent questions contact John Lewis at Abraham Moss Community School on <a href="tel:0161 123 4567">0161 123 4567</a> or at <a href="mailto:info@abmoss.ac.uk">info@central.co.uk</a>.</p>

          <div class="divider"></div>




      </div>
  </div>
-->

{% endblock %}
