{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  		<form action="/booking/" method="post" class="form">
      <h1 class="govuk-heading-l">Review and send cancellation email to candidate</h1>

<!--
      <div class="nav-cont">

          <ul class="navi-style1">
            <li>
              <a href="/booking/view-bookings?id=5">View bookings</a>
            </li>
            <li>
              <a href="/booking/view-messages?id=5">View messages</a>
            </li>
            <li class="on">
              <strong class="govuk-heading-s">Notifications</strong>
            </li>
            <li>
              <a href="/booking/attendance?id=5">Candidate attendance</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
-->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

					<p class="govuk-body">Review the following email which will be sent to the candidate. You can add extra details.
<!--
						The following contains the wording of the confirmation email which will be sent to Matthew Richards to confirm their booking.</p>


<h2 class="govuk-heading-m">Read confirmation email </h2>
<p>
If required, you can add instructions to be sent to the Candidate along with their
Booking details
<p>
-->


		<div class="se-letter-with-form">
			<h2 class="govuk-heading-m">
				Dear Matthew Richards,
			</h2>

			<p>
				Newton Heath School has cancelled your school experience booking for the following dates:
			</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>01 June 2019</li>
			</ul>
			<p>
				<strong>Your booking was cancelled for the following reasons</strong>
			</p>

      <div class="govuk-form-group">
       <textarea class="govuk-textarea" rows="8"
        placeholder="Explain why the request was rejected. For example, the school is fully booked or there's no longer school experience available on the requested date"></textarea>
      </div>

			<p><strong>Extra details from the school
</strong></p>

			<div class="govuk-form-group">
			 <textarea class="govuk-textarea" rows="8"
			 	placeholder="Add any extra details. For example, you may have availability on a different date or you can offer school experience in another subject"></textarea>
			</div>


			<p>
				<strong>Make a new request</strong>
			</p>

			<p>Request school experience at other schools - <a href="/candidate-search/search" class="govuk-link">Find school experience</a>.</p>

      <p>
				<strong>Help and support</strong>
			</p>

			<p>If you need any further help and support getting school experience or becoming a teacher visit the <a href="https://getintoteaching.education.gov.uk/school-experience" class="govuk-link">Get Into Teaching</a> website.</p>
		</form>
    </div>

<a href="/booking/noti-cancel2" class="govuk-button">Preview cancellation email</a>
<br/>

<a class="govuk-link" href="/booking/profile-request1-full">Back to bookings</a>

</div>







{% endblock %}
