{% extends "layout-internal-booking-iteration.html" %}
{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your email has been sent
          </h1>
          <div class="govuk-panel__body">
          </div>
        </div>



        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We’ve sent your confirmation to the candidate. </p>

          <p>
					They’ve been told to arrive at your school on the date and time you specified.
        </p>


        <a class="govuk-button button-grey cta" href="/schools/school-dashboard-lean">Return to requests and bookings</a>


      </div>
    </div>
  </main>
</div>





{% endblock %}
