{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
<!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		
		<h1 class="govuk-heading-l">Enter more booking details</h1>
		<h1 class="govuk-heading-m">Enter contact and location details</h1>
		<p>This is the person the candidate will need to report to on the day of their experience.</p>
		<form>
			<div class="govuk-form-group">
				<label class="govuk-label" for="event-name">
					Enter school experience contact on the day
				</label>
				<input class="govuk-input" id="event-name" name="event-name" type="text">
			</div>

			<div class="govuk-form-group">
				<label class="govuk-label" for="event-name">
					Enter contact telephone number
				</label>
				<input class="govuk-input" id="event-name" name="event-name" type="text">
			</div>

			<div class="govuk-form-group">
				<label class="govuk-label" for="event-name">
					Enter email address
				</label>
				<input class="govuk-input" id="event-name" name="event-name" type="text">
			</div>

			<div class="govuk-form-group">
				<label class="govuk-label" for="event-name">
					Enter location
				</label>
				<textarea class="govuk-textarea"></textarea>
			</div>
			<h1 class="govuk-heading-m">Enter any extra details for candidates</h1>
			<div class="govuk-form-group">
				<label class="govuk-label" for="event-name">
					<span id="more-detail-hint" class="govuk-hint">For example, things they need to bring on the day such as their DBS certificate or fee payments</span>
				</label>
				<textarea class="govuk-textarea"></textarea>
			</div>
			
			

			<div class="govuk-form-group">
				<a href="/booking/noti-confirm-part2" role="button" draggable="false" class="govuk-button">
					Continue
				</a>
			</div>
			<a href="/schools/school-requests-fixed" class="govuk-link">Back to request</a>
		</form>
	</div>
</div>

{% endblock %}
