{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




    </div>
  </div>



  <div class="nav-cont1">

    <ul class="navi-style1">
      <li class="on"><!-- <strong class="govuk-heading-s"> -->
        <strong class="govuk-heading-s">Your requests</strong>
      </li>
      <li>
        <a href="/booking/view-messages?id=5">View messages</a>
      </li>
      <li>
        <a href="/booking/notification?id=5">Notifications </a>
      </li>
      <li >
        <a href="/booking/attendance?id=5">Candidate attendance</a>
      </li>
    </ul>
  </div>


<h1 class="govuk-heading-l">View candidate request</h1>

<dl class="govuk-summary-list">
	  
<h2 class="govuk-heading-m">Priya Acharya</h2>
<p><strong>Personal details</strong></p>
<dl class="govuk-summary-list">
	  
  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      66 Rushington Road, Chapeltown, Leeds LS5 8EP
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0116 456 8975
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      pacharya@gmail.com 	
    </dd>
  </div>
  <br>
</dl>


<p><strong>Request details</strong></p>
<dl class="govuk-summary-list">
	  
  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Dates requested
    </dt>
    <dd class="govuk-summary-list__value">
      20 to 27 February 2019
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DBS checked
    </dt>
    <dd class="govuk-summary-list__value">
     No
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disability or access needs
    </dt>
    <dd class="govuk-summary-list__value">
      Yes - I required disabled parking and wheelchair access
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Request received
    </dt>
    <dd class="govuk-summary-list__value">
      31 January 2019
    </dd>
  </div>
  <br>
</dl>

<p><strong>Candidate details</strong></p>
<dl class="govuk-summary-list">
	  
  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      What they want out of school experience
    </dt>
    <dd class="govuk-summary-list__value">
			I want to find out what it’s like to be in front of a class full of kids. 
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree stage
    </dt>
    <dd class="govuk-summary-list__value">
      Graduate or postgraduate
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree subject
    </dt>
    <dd class="govuk-summary-list__value">
      English
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching stage
    </dt>
    <dd class="govuk-summary-list__value">
      I've been accepted on teacher training
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
    <dd class="govuk-summary-list__value">
      First choice:  English
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
    <dd class="govuk-summary-list__value">
      Second choice:  History
    </dd>
  </div>
  <br>
</dl>



<a class="govuk-button" href="/booking/noti-confirm-part1">Confirm booking</a>
                    
<br>										
<p><a class="govuk-button button-grey cta" href="/booking/noti-reject">Cancel request</a></p>

<a class="govuk-link" href="/schools/school-dashboard">Your requests</a>

                </form>

            </div>

        </div>



{% endblock %}
