{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




    </div>
  </div>



  <div class="nav-cont1">

    <ul class="navi-style1">
      <li class="on"><!-- <strong class="govuk-heading-s"> -->
        <strong class="govuk-heading-s">Your bookings</strong>
      </li>
      <li>
        <a href="/booking/view-messages?id=5">View messages</a>
      </li>
      <li>
        <a href="/booking/notification?id=5">Notifications </a>
      </li>
      <li >
        <a href="/booking/attendance?id=5">Candidate attendance</a>
      </li>
    </ul>
  </div>


<h1 class="govuk-heading-l">View candidate booking profile</h1>

<dl class="govuk-summary-list">
	  
<h2 class="govuk-heading-m">Matthew Richards</h2>
<p><strong>Personal details</strong></p>
<dl class="govuk-summary-list">
	  
  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      12 North Street, Basingstoke SO14 7RP
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      01555 666 777
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      jessieh1986@hotmail.com
    </dd>
  </div>
  <br>
</dl>

<p><strong>Booking details</strong></p>
<dl class="govuk-summary-list">
	  
  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      School experience subject
    </dt>
    <dd class="govuk-summary-list__value">
      English
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date
    </dt>
    <dd class="govuk-summary-list__value">
      01 February 2019
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      Confirm attendance
    </dd>
  </div>
  <br>
</dl>


<p><strong>Request details</strong></p>
<dl class="govuk-summary-list">
	  
  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Dates requested
    </dt>
    <dd class="govuk-summary-list__value">
      15 to 25 February 2019
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DBS checked
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disability or access needs
    </dt>
    <dd class="govuk-summary-list__value">
      Yes - I require disabled parking
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Request received
    </dt>
    <dd class="govuk-summary-list__value">
      1 January 2019
    </dd>
  </div>
  <br>
</dl>

<p><strong>Candidate details</strong></p>
<dl class="govuk-summary-list">
	  
  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      What they want out of school experience
    </dt>
    <dd class="govuk-summary-list__value">
      I want to experience what it’s really like to be in front of a classroom full of students.
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree stage
    </dt>
    <dd class="govuk-summary-list__value">
      Graduate or postgraduate
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree subject
    </dt>
    <dd class="govuk-summary-list__value">
      English
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching stage
    </dt>
    <dd class="govuk-summary-list__value">
      I want to become a teacher
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
    <dd class="govuk-summary-list__value">
      First choice:  English
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
    <dd class="govuk-summary-list__value">
      Second choice:  History
    </dd>
  </div>
  <br>
</dl>

                    <!--<button type="submit" name="result" value="contact" class="govuk-button button-grey cta">
                        Contact candidate
                    </button>-->

                    <button type="submit" name="result" value="feedback" class="govuk-button">
                        Leave feedback
                    </button>
<br>
                    <a class="govuk-link" href="/booking/view-bookings?id=5">Your bookings</a>

                </form>

            </div>

        </div>



{% endblock %}
