{% extends "layout-internal-booking.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-m">Candidate profile</h1>



        <div class="nav-cont">

          <ul class="navi-style1">
            <li class="on"><!-- <strong class="govuk-heading-s"> -->
              <strong class="govuk-heading-s">View bookings</strong>
            </li>
            <li>
              <a href="/booking/view-messages?id=5">View messages</a>
            </li>
            <li>
              <a href="/booking/notification?id=5">Notification</a>
            </li>
            <li >
              <a href="/booking/attendance?id=5">Candidate atendance</a>
            </li>
          </ul>
        </div>



    </div>
  </div>
  <div>
    &nbsp;
  </div>

<!-- ********** Personal details *********** -->
  <div class="govuk-grid-row divider-profile">

      <div class="govuk-grid-column-one-half profile">

        <div class="personal">
            <h2 class="govuk-heading-l">Grace Cooper</h2>
            <ul>
              <li>Date of birth: 01 08 1997</li>
              <li>Address: 1 Windsor Terrace, Thameside, London. W1 3XP


            </ul>
        </div>

      </div>
      <div class="govuk-grid-column-one-half profile">
          <div class="contact">
              <ul>
                <li>Email: AC1994@gimail.com   </li>
                <li>Tel: N/A</li>
                <li>Mobile: +447 888 274397</li>
              </ul>
          </div>
      </div>
  </div>



  <!-- ********** DBS, Qualifications, Teacher Training *********** -->
    <div class="govuk-grid-row divider-profile">
        <div class="govuk-grid-column-one-third qualtrain">
            <div class="qual">
              <h2 class="govuk-heading-m">Qualifications</h2>
              <ul>
                <li>Degree: Yes</li>
                <li>Subject: Art history</li>
                <li>Class: 3rd</li>
              </ul>
            </div>
        </div>
        <div class="govuk-grid-column-one-third qualtrain">
            <div class="teach-t">
                <h2 class="govuk-heading-m">Teacher training</h2>
                <ul>
                  <li>Status: Haven't applied </li>
                  <li>ITT provider: N/A</li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-column-one-third qualtrain">
            <div class="dbs">
                <h2 class="govuk-heading-m">DBS</h2>
                <ul>
                  <li>DBS checked: Yes</li>
                  <li>Criminal Recor: No</li>
                  <li>Details: N/A</li>
                </ul>
            </div>
        </div>
    </div>


    <!-- ********** Booking details *********** -->
      <div class="govuk-grid-row divider-profile">
          <div class="govuk-grid-column-one-half">
              <div class="booking-details">
                <h2 class="govuk-heading-m">Booking details</h2>
                <ul>
                  <li>Date: 08 to 19 October 2019 (10 days)</li>
                  <li>Subject: Art</li>
                  <li>No shows: 2</li>
                </ul>
                <p>

                </p>
              </div>
          </div>
          <div class="govuk-grid-column-one-half">
              <div class="booking-details1">
                <ul>
                  <li>Preferred placement role:	Teaching assistant</li>
                  <li>Motivations: I’ve been told by lots of people that I’d be a good teacher so I want to find out more about it.</li>
                  <li>Expectations: I just love kids.</li>
                  <li>Reason for selecting school: Know someone at the school, Right age & range

                </ul>
              </div>
          </div>
      </div>


      <!-- ********** CTA *********** -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <form action="/booking/noti-confirm" method="post" class="form">

                      <!-- *** Soft Booking *** -->
                      <!-- *** Name to be passed *** -->
                      <input name="full-name" value="Grace Cooper" type="hidden">

                      <button type="submit" name="pro2-direct" value="confirm-candidate" class="govuk-button">
                        Confirm
                      </button>
                      <br />
                      <button type="submit" name="pro2-direct" value="reject-candidate" class="govuk-button button-grey cta">
                        Reject candidate
                      </button>
                      <button type="submit" name="pro2-direct" value="contact-candidate" class="govuk-button button-grey cta">
                        Contact booking
                      </button>


                      <br />
                      <a class="govuk-link" href="/booking/view-bookings?id=5">Back to booking list</a>

                    </form>

                </div>

            </div>


{% endblock %}
