{% extends "layout-internal-booking-iteration.html" %} {% block pageTitle %} XXXXXXXXXXXXXXXXXXXXXXXXX {% endblock %} {% block beforeContent %}
<!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %} {% block content %}
<dl class="govuk-summary-list">

    <h2 class="govuk-heading-l">Request from Matthew Richards</h2>
    <p><h2 class="govuk-heading-m">Personal details</h2></p>
    <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">
      Address
    </dt>
            <dd class="govuk-summary-list__value">
                55 Richmond Road, Gorton, Manchester M15 3AP
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
            <dd class="govuk-summary-list__value">
                0161 234 567
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Email address
    </dt>
            <dd class="govuk-summary-list__value">
                mrichrds98@hotmail.co.uk
            </dd>
        </div>
        <br>
    </dl>

    <p><h2 class="govuk-heading-m">Request details</h2></p>
    <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">
      Dates requested
    </dt>
            <dd class="govuk-summary-list__value">
                01 to 05 June 2019
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      DBS certificate
    </dt>
            <dd class="govuk-summary-list__value">
                No
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Request received
    </dt>
            <dd class="govuk-summary-list__value">
                30 January 2019
            </dd>
        </div>
        <br>
    </dl>

    <p><h2 class="govuk-heading-m">Candidate details</h2></p>
    <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">
      What they want out of school experience
    </dt>
            <dd class="govuk-summary-list__value">
                I'd like to experience what it would be like to be a teacher. This would then influence my decision to proceed onto the next stage of teacher training.
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Degree stage
    </dt>
            <dd class="govuk-summary-list__value">
                Final year
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Degree subject
    </dt>
            <dd class="govuk-summary-list__value">
                Chemistry
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Teaching stage
    </dt>
            <dd class="govuk-summary-list__value">
                I'm fairly sure and exploring my options
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
            <dd class="govuk-summary-list__value">
                First choice: Maths
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
            <dd class="govuk-summary-list__value">
                Second choice: Science
            </dd>
        </div>
		        <div class="govuk-summary-list__row">
		            <dt class="govuk-summary-list__key">
		      Notes
		    </dt>
		            <dd class="govuk-summary-list__value">
		                <div class="govuk-form-group">
		                    <span id="more-detail-hint" class="govuk-hint">
					    Enter and record notes about the candidate. For example, useful extra details picked up during any conversations. <strong>Do not include any private or financial information</strong>.
					  </span>
		                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
		                </div>

		                <a class="govuk-button" href="" class="govuk-button">Save note</a>
		            </dd>
		        </div>
    </dl>
		

    <a class="govuk-button" href="/booking/profile-request1">Accept request</a>

    <br>
    <p><a class="govuk-button button-grey cta" href="/booking/noti-reject">Reject request</a></p>

    <a class="govuk-link" href="/schools/school-requests-fixed">Your requests</a>

    </form>

    </div>

    </div>

    {% endblock %}