{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}
<dl class="govuk-summary-list">

<h2 class="govuk-heading-l">Ashley Bourne</h2>
<p><strong>Personal details</strong></p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      55 Richmond Road, Gorton, Manchester M15 3AP
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0161 234 567
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      bourneser98@hotmail.co.uk
    </dd>
  </div>
  <br>
</dl>


<p><strong>Request details</strong></p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Dates requested
    </dt>
    <dd class="govuk-summary-list__value">
      All of April through to 25 May and any time during September
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DBS certificate
    </dt>
    <dd class="govuk-summary-list__value">
     No
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disability or access needs
    </dt>
    <dd class="govuk-summary-list__value">
      Yes - I require wheelchair access
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Request received
    </dt>
    <dd class="govuk-summary-list__value">
      30 January 2019
    </dd>
  </div>
  <br>
</dl>

<p><strong>Candidate details</strong></p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      What they want out of school experience
    </dt>
    <dd class="govuk-summary-list__value">
			I'd like to experience what it would be like to be a teacher. This would then influence my decision to proceed onto the next stage of teacher training.
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree stage
    </dt>
    <dd class="govuk-summary-list__value">
      Final year
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree subject
    </dt>
    <dd class="govuk-summary-list__value">
      Chemistry
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching stage
    </dt>
    <dd class="govuk-summary-list__value">
    I'm fairly sure and exploring my options
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
    <dd class="govuk-summary-list__value">
      First choice:  Chemistry
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
    <dd class="govuk-summary-list__value">
      Second choice:  Science
    </dd>
  </div>
  <br>
</dl>



<a class="govuk-button" href="/booking/noti-confirm-part1">Accept request</a>

<br>
<p><a class="govuk-button button-grey cta" href="/booking/noti-reject">Cancel request</a></p>

<a class="govuk-link" href="/schools/school-dashboard">Your requests</a>

                </form>

            </div>

        </div>



{% endblock %}
