{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

<dl class="govuk-summary-list">

<h2 class="govuk-heading-l">Request from Jacob Sterling</h2>
<p><strong>Personal details</strong></p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      101 Brook Street, West Hampstead, London SW1 8RG.
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0207 555 6666
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      jacob.sterling@gmail.com
    </dd>
  </div>
  <br>
</dl>


<p><strong>Request details</strong></p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      Dates requested
    </dt>
    <dd class="govuk-summary-list__value">
      20 to 27 March, 6 to 25 April and 5 until 20 May 2019
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DBS certificate
    </dt>
    <dd class="govuk-summary-list__value">
     Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Request received
    </dt>
    <dd class="govuk-summary-list__value">
      15 January 2019
    </dd>
  </div>
  <br>
</dl>

<p><strong>Candidate details</strong></p>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      What they want out of school experience
    </dt>
    <dd class="govuk-summary-list__value">
			I would like to gain first-hand experience in a high school because I'm considering undertaking a PGCE in secondary Biology.
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree stage
    </dt>
    <dd class="govuk-summary-list__value">
      Graduate or postgraduate
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree subject
    </dt>
    <dd class="govuk-summary-list__value">
      Biology
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching stage
    </dt>
    <dd class="govuk-summary-list__value">
      I’m very sure and think I’ll apply
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
    <dd class="govuk-summary-list__value">
      First choice:  Biology
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject
    </dt>
    <dd class="govuk-summary-list__value">
      Second choice:  Chemistry
    </dd>
  </div>
  <br>
</dl>



<a class="govuk-button" href="/booking/noti-confirm-part1">Accept request</a>

<br>
<p><a class="govuk-button button-grey cta" href="/booking/noti-reject">Reject request</a></p>

<a class="govuk-link" href="/schools/school-dashboard">Your requests</a>

                </form>

            </div>

        </div>



{% endblock %}
