{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

<dl class="govuk-summary-list">

<h2 class="govuk-heading-l">Confirm booking details</h2>
<p>
	Enter and confirm the following school experience details for Matthew Richards.
</p>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">

    <dt class="govuk-summary-list__key">
      School
    </dt>
    <dd class="govuk-summary-list__value">
      Newton Heath School
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      School experience dates
    </dt>
    <dd class="govuk-summary-list__value">
      01 to 05 June 2019
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Enter school experience contact on the day
    </dt>
    <dd class="govuk-summary-list__value">
<div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
    Name
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
</div>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     UK telephone number
    </dt>
		<dd class="govuk-summary-list__value">
<div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
   Insert number
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
</div>
    </dd>
  </div>
	
	
	  <div class="govuk-summary-list__row">
	    <dt class="govuk-summary-list__key">
	     Email address
	    </dt>
			<dd class="govuk-summary-list__value">
	<div class="govuk-form-group">
	  <label class="govuk-label" for="width-20">
	   Insert email
	  </label>
	  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
	</div>
	    </dd>
	  </div>
	


	  <div class="govuk-summary-list__row">
	    <dt class="govuk-summary-list__key">
	     Location
	    </dt>
			<dd class="govuk-summary-list__value">
	<div class="govuk-form-group">
	  <label class="govuk-label" for="width-20">
	   Insert location details
	  </label>
	  <textarea class="govuk-textarea govuk-!-width-two-thirds" data-save-name="location" id="location" name="location" rows="3" aria-describedby="location-hint"></textarea>
	</div>
	    </dd>
	  </div>
			
	
	
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      School experience details
    </dt>
    <dd class="govuk-summary-list__value">
     You’ll be observing lessons and may get the chance to interact with pupils and classroom activities 
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Request received
    </dt>
    <dd class="govuk-summary-list__value">
      Maths
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>


	  <div class="govuk-summary-list__row">
	    <dt class="govuk-summary-list__key">
	     Enter any other details school experience details for candidates
	    </dt>
			<dd class="govuk-summary-list__value">
	<div class="govuk-form-group">
	  <label class="govuk-label" for="width-20">
	   For example, things they need to bring on the day such as their DBS certificate or fee payments
	  </label>
	  <textarea class="govuk-textarea govuk-!-width-two-thirds" data-save-name="things-to-bring" id="things-to-bring" name="things-to-bring" rows="4" aria-describedby="things-to-bring-hint"></textarea>
	</div>
	    </dd>
	  </div>
	<br>
</dl>


<a class="govuk-button" href="/booking/noti-confirm-part1">Continue</a>
<br>
<!--
<p><a class="govuk-button button-grey cta" href="/booking/noti-reject">Reject request</a></p>
-->
<a class="govuk-link" href="/schools/school-dashboard">Back to request</a>

                </form>
            </div>
        </div>



{% endblock %}
