{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
<!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Confirm booking</h1>
<p class="govuk-body">Confirm the following booking details for Matthew Richards.</p>
<dl class="govuk-summary-list">
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			School
		</dt>
		<dd class="govuk-summary-list__value">
			Newton Heath School
		</dd>

		<dd class="govuk-summary-list__actions">
			<a class="govuk-link" href="#">
				Change
				<span class="govuk-visually-hidden"> name</span>
			</a>
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Dates
		</dt>
		<dd class="govuk-summary-list__value">
			01 to 05 June 2019
		</dd>

		<dd class="govuk-summary-list__actions">
			<a class="govuk-link" href="#">
				Change
				<span class="govuk-visually-hidden"> name</span>
			</a>
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Experience details
		</dt>
		<dd class="govuk-summary-list__value">
			You'll be observing lessons and may get the change to interact
			with pupils and classroom activities.
		</dd>

		<dd class="govuk-summary-list__actions">
			<a class="govuk-link" href="#">
				Change
				<span class="govuk-visually-hidden"> name</span>
			</a>
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Subject
		</dt>
		<dd class="govuk-summary-list__value">
			Maths
		</dd>

		<dd class="govuk-summary-list__actions">
			<a class="govuk-link" href="#">
				Change
				<span class="govuk-visually-hidden"> name</span>
			</a>
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Request received
		</dt>
		<dd class="govuk-summary-list__value">
			02 February 2019
		</dd>

		<dd class="govuk-summary-list__actions">

		</dd>

	</dl>

	<div class="govuk-form-group">
		<a href="/booking/profile-request1-contact" role="button" draggable="false" class="govuk-button">
			Continue
		</a>
	</div>
	<a href="/schools/school-requests-fixed" class="govuk-link">Back to request</a>
</form>
</div>
</div>

{% endblock %}
