{% extends "layout-internal-booking.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Candidate admin</h1>



        <div class="nav-cont">

          <ul class="navi-style1">
            <li class="on"><!-- <strong class="govuk-heading-s"> -->
              <strong class="govuk-heading-s">View bookings</strong>
            </li>
            <li>
              <a href="/booking/view-messages?id=5">View messages</a>
            </li>
            <li>
              <a href="/booking/notification?id=5">Notification</a>
            </li>
            <li >
              <a href="/booking/attendance?id=5">Candidate atendance</a>
            </li>
          </ul>
        </div>



    </div>
  </div>


<!-- ***************************** 1 Result ************************* -->
  <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <div class="snipbook">

          <div class="govuk-grid-column-one-third">
            <!-- Personal Details -->
            <div class="book-snip-personal">
                <!--<h2 class="govuk-heading-s">Personal details</h2>-->
                <div class="name">Charlie Wilcoock</div>
                <!-- Break -->
                <div class="location">Location: Manchester</div>
                <div class="motivation">
                  I’ve always wanted to be a teacher but never had the confidence to give it a try...until now.
                </div>
                <a class="govuk-link" href="/booking/profile1">View profile</a>
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="book-snip-more-detail">
                <div class="itt">
                    <h2 class="govuk-heading-s">Education and ITT</h2>
                    <ul>
                      <li>Degree: Physics</li>
                      <li>ITT provider: Manchester Metropolitan University</li>
                      <li>Status: Conditional offer</li>
                    </ul>
                </div>
              </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="book-snip-more-detail">
              <div class="booking">
                  <h2 class="govuk-heading-s">Booking details</h2>
                  <ul>
                    <li>Subject: Maths</li>
                    <li>8 to 9 October 2018 (2 days)</li>
                    <li>Supervised teaching</li>
                  </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

  </div>
<!-- ***************************** End Result ************************* -->


<!-- ***************************** 1 Result ************************* -->
  <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <div class="snipbook">

          <div class="govuk-grid-column-one-third">
            <!-- Personal Details -->
            <div class="book-snip-personal">
                <!--<h2 class="govuk-heading-s">Personal details</h2>-->
                <div class="name">David Mineli</div>
                <!-- Break -->
                <div class="location">Location: Newcastle</div>
                <div class="motivation">
                  I’ve been told by lots of people that I’d be a good teacher so I want to find out more about it.
                </div>
                <a class="govuk-link" href="/booking/profile1">View profile</a>
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="book-snip-more-detail">
                <div class="itt">
                    <h2 class="govuk-heading-s">Education and ITT</h2>
                    <ul>
                      <li>Degree: Computer sciences</li>
                      <li>ITT provider: St Andrews School Group - North </li>
                      <li>Status: Applied</li>
                    </ul>
                </div>
              </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="book-snip-more-detail">
              <div class="booking">
                  <h2 class="govuk-heading-s">Booking details</h2>
                  <ul>
                    <li>Subject: Physics</li>
                    <li>8 to 13 October 2018 (5 days)</li>
                    <li>Observing</li>
                  </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

  </div>
<!-- ***************************** End Result ************************* -->

<!-- ***************************** 1 Result ************************* -->
  <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <div class="snipbook">

          <div class="govuk-grid-column-one-third">
            <!-- Personal Details -->
            <div class="book-snip-personal">
                <!--<h2 class="govuk-heading-s">Personal details</h2>-->
                <div class="name">Grace Cooper</div>
                <!-- Break -->
                <div class="location">Location: London</div>
                <div class="motivation">
                I just love kids.
                </div>
                <a class="govuk-link" href="/booking/profile1">View profile</a>
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="book-snip-more-detail">
                <div class="itt">
                    <h2 class="govuk-heading-s">Education and ITT</h2>
                    <ul>
                      <li>Degree: Art history</li>
                      <li>ITT provider: Haven't applied </li>
                      <li>Status: N/A</li>
                    </ul>
                </div>
              </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="book-snip-more-detail">
              <div class="booking">
                  <h2 class="govuk-heading-s">Booking details</h2>
                  <ul>
                    <li>Subject: Art</li>
                    <li>08 to 19 October 2019 (10 days)</li>
                    <li>Teaching assistant</li>
                  </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

  </div>
<!-- ***************************** End Result ************************* -->



<!-- ***************************** 1 Result ************************* -->
  <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">

        <div class="snipbook">

          <div class="govuk-grid-column-one-third">
            <!-- Personal Details -->
            <div class="book-snip-personal">
                <!--<h2 class="govuk-heading-s">Personal details</h2>-->
                <div class="name">George McDonald</div>
                <!-- Break -->
                <div class="location">Location: New York</div>
                <div class="motivation">
                  I want to be a teacher in the UK as it seems like such a different career to the US equivalent.
                </div>
                <a class="govuk-link" href="/booking/profile1">View profile</a>
            </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="book-snip-more-detail">
                <div class="itt">
                    <h2 class="govuk-heading-s">Education and ITT</h2>
                    <ul>
                      <li>Degree: Chemistry and Biology - special interest marine biology</li>
                      <li>ITT provider: City College London</li>
                      <li>Status: Offer</li>
                    </ul>
                </div>
              </div>
          </div>

          <div class="govuk-grid-column-one-third">
            <div class="book-snip-more-detail">
              <div class="booking">
                  <h2 class="govuk-heading-s">Booking details</h2>
                  <ul>
                    <li>Subject: Biology</li>
                    <li>08 to 26 October 2018 (15 days)</li>
                    <li>Shadowing</li>
                  </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

  </div>
<!-- ***************************** End Result ************************* -->






{% endblock %}
