{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}





    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Request a school experience date</h1>

<p>Choose a date for your experience in either a primary or secondary phase. For secondary phases you can also choose a subject.</p>

<br>

<dl class="pink-left-border govuk-summary-list govuk-summary-list--no-border">
	<h2 class="govuk-heading-m">Primary school dates</h2>
</dl>

<dl class="pink-left-border govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      16 October 2019
    </dt>
    <dd class="govuk-summary-list__value" style="display: initial;">
      <div class="govuk-radios govuk-radios--small">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            1 day
          </label>
        </div>
      </div>
    </dd>
  </div>
</dl>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<dl class="pink-left-border govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      18 October 2019
    </dt>
    <dd class="govuk-summary-list__value" style="display: initial;">
      <div class="govuk-radios govuk-radios--small">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            2 days
          </label>
        </div>
      </div>
    </dd>
  </div>
</dl>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<dl class="pink-left-border govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      19 October 2019
    </dt>
    <dd class="govuk-summary-list__value" style="display: initial;">
      <div class="govuk-radios govuk-radios--small">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            1 day
          </label>
        </div>
      </div>
    </dd>
  </div>
</dl>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<br>

<dl class="green-left-border govuk-summary-list govuk-summary-list--no-border">
<h2 class="govuk-heading-m">Secondary school dates</h2>
</dl>

<dl class="green-left-border govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      15 December 2019
    </dt>
    <dd class="govuk-summary-list__value" style="display: initial;">
      <div class="govuk-radios govuk-radios--small">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Biology (1 day)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Chemistry (1 day)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Maths (1 day)
          </label>
        </div>
      </div>
    </dd>
  </div>
</dl>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<dl class="green-left-border govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      17 December 2019
    </dt>
    <dd class="govuk-summary-list__value" style="display: initial;">
      <div class="govuk-radios govuk-radios--small">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Art (2 days)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Maths (1 day)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            PE (1 day)
          </label>
        </div>
      </div>
    </dd>
  </div>
</dl>




<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<dl class="green-left-border govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      20 December 2019
    </dt>
    <dd class="govuk-summary-list__value" style="display: initial;">
      <div class="govuk-radios govuk-radios--small">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Geography (1 day)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            German (2 days)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
          <label class="govuk-label govuk-radios__label" for="changed-name">
            Spanish (2 days)
          </label>
        </div>
      </div>
    </dd>
  </div>
</dl>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<br>

									<a href="/register/login-check" class="govuk-button" style="font-weight:normal">Continue</a>

				
<br>
<br>
          <p>  <a href="search-results-filter" class="">Back to search results</a></p>


    </div>





{% endblock %}


