{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-full">

		<fieldset class="govuk-fieldset">


			<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				<h1 class="govuk-fieldset__heading">
					Search for school experience
				</h1>
			</legend>

			<!-- This version of the form starts horizontal but stacks vertically when narrow -->
			<form action="/candidate-search/result-redirect" class="school-search-form" method="post">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-third">
						<div class="govuk-form-group">
							<label class="govuk-label" for="search-by-location">Enter location or postcode.</label>
							<input class="govuk-input govuk-!-width-full" id="search-by-location" name="location" type="text" placeholder="Such as Manchester or M1 3BD">
						</div>
					</div>
				</div>


				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-third">
						<div class="govuk-form-group">
							<label class="govuk-label" for="search-location-radius">Select search area.</label>
							<select id="search-location-radius" class="govuk-select" name="locationRadius">
								<option value="1">1 mile</option>
								<option value="3">3 miles</option>
								<option value="5">5 miles</option>
								<option selected value="10">10 miles</option>
								<option value="15">15 miles</option>
								<option value="20">20 miles</option>
								<option value="25">25 miles</option>
							</select>
						</div>
					</div>
				</div>


				{{ govukRadios({
					  idPrefix: "search-phase",
					  name: "search-phase",
					  fieldset: {
						legend: {
						  text: "What kind of school do you want experience at?",
						  isPageHeading: true,
						  classes: "govuk-fieldset__legend--m"
						}
					  },
					  items: [
							{
							  value: "primary",
							  text: "Primary schools",
							  label: {
									classes: "govuk-label--s"
							  }
							},
							{
							  value: "secondary-and-further",
							  text: "Secondary schools, sixth forms and colleges",
							  label: {
									classes: "govuk-label--s"
							  }
							}
						]
				}) }}

				<div class="govuk-grid-row">

					<div class="school-search-form__submit govuk-grid-column-one-third">
						<div class="govuk-form-group">
							<button class="govuk-button inline-button">Search</button>
						</div>
					</div>

				</div>
			</form>

		</fieldset>

	</div>

</div>


{% endblock %}
