{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset">


				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading">
						Find school experience placements
					</h1>
				</legend>
				<p class="govuk-body">This service is only available in England</p>

				<!-- This version of the form starts horizontal but stacks vertically when narrow -->

				<form action="/candidate-search/search-results-post" method="post">

					<div class="govuk-form-group">

						<span id="search-hint" class="govuk-hint">
							For example: <strong>Manchester M1 1AD</strong><br/>
							OR<br/>
							<strong>Maths, special school, M1 1AD</strong>
						</span>

						<div class="stackable">
							<input class="govuk-input govuk-!-width-full" id="search-by-location" name="search" type="text">

							<select id="search-location-radius" class="govuk-select" name="locationRadius">
								<option selected>Choose your distance</option>
								<option value="1">1 mile</option>
								<option value="3">3 miles</option>
								<option value="5">5 miles</option>
								<option value="10">10 miles</option>
								<option value="15">15 miles</option>
								<option value="20">20 miles</option>
								<option value="25">25 miles</option>
							</select>

							<button class="govuk-button inline-button">Find</button>
						</div>
					</div>

				</form>
			</fieldset>
		</div>
	</div>

</div>


{% endblock %}
