<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get school experience</h1>

      <p>Use this service if you want to request school experience in a primary and secondary school in England.</p>

	  <p>School experience allows you to find out more about teaching by visiting schools.</p>

	  <p>You’ll need to provide personal details which schools will use to decide whether they can offer you school experience.
		  They may contact you for further information.</p>

	  <a href="{{params.url}}" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>



	  <h2 class="govuk-heading-m">Before you start</h2>

      <p>
        By using this service, you'll be registered with the Department for Education's <a href="https://getintoteaching.education.gov.uk/">Get Into Teaching Information Service</a> 
        to receive tailored advice about becoming a teacher.</p>

	    <p>During school holidays, schools may take longer to respond to requests.</p>

      <p>Some schools charge fees to cover their costs. These will be clearly listed and need to be paid directly to the individual school.</p>

      <p class="govuk-inset-text">
        If you're a school use <a href="https://schoolexperience.education.gov.uk/schools">manage school experience</a>.
      </p> 
      


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Helpful information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://getintoteaching.education.gov.uk/" class="govuk-!-font-weight-bold">
                Get Into Teaching<span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/find-postgraduate-teacher-training-courses " class="govuk-!-font-weight-bold">
                Find postgraduate teacher training courses<span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/school-term-holiday-dates" class="govuk-!-font-weight-bold">
                School term and holiday dates<span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/types-of-school" class="govuk-!-font-weight-bold">
                Types of school<span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
ß
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>


