{% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "alpha" }, html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<form action="/schools/access-need2" method="post" class="form" data-local-save="school-onboarding:candidate-details">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Enter disability and access needs details for candidates</h1>

            <p>Tell us about how you can support candidates who have disability and access needs requirements. </p>
            <p>Select all that apply.</p>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="access-needs">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="access-needs1" name="access-needs" type="checkbox" value="need1">
                            <label class="govuk-label govuk-checkboxes__label" for="access-needs1">
                               <p>We offer an inclusive environment for students and staff. </p>
                                <p>We encourage requests from under-represented groups and do our best to 
                                support and make adjustments for all needs and requirements. </p>
                                <p>We're happy to discuss you disability or access needs before or as part 
                                of your school experience request.</p>
                            </label>
                        </div>
<br>
                        <fieldset class="govuk-fieldset" aria-describedby="access-needs">
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="access-needs1" name="access-needs" type="checkbox" value="need1">
                                    <label class="govuk-label govuk-checkboxes__label" for="access-needs1">
                                        We offer disability and access needs facilities and support. 
                                    </label>
                                    <label class="govuk-label govuk-checkboxes__label" for="access-needs1">
                                        Enter any details about what facilities and support you offer candidates. 
                                    </label>
                                    <p class="govuk-hint">
                                        For example, disabled parking spaces and support for autistic spectrum disorders, dyslexia and hearing impairments
                                    </p>

                                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                                </div>
                        </fieldset>
                        </div>

                        <button type="submit" class="govuk-button">
                            Continue
                        </button>

                    </div>
            </div>
</form>

{% endblock %}