{% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "alpha" }, html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<form action="/schools/access-need2" method="post" class="form" data-local-save="school-onboarding:candidate-details">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Enter disability and access needs details for candidates</h1>

            <h2 class="govuk-heading-m">Do you want to add some wording about how you support candidates with disabilites and access needs to your profile?</h2>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" data-save-name="offers-placement-Yes" id="how-contacted-conditional-6" name="dress" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-6">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-6">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-6">
                            <div class="govuk-form-group">

                                

                                <p>Edit and add to the following suggested wording so we can add it to your school profile.</p>
                
                                <p><strong>Add any details about the kinds of facilities and support you provide for candidates with disabilites and access needs.</strong></p>
                    
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint">We provide an inclusive environment for students, staff and school experience candidates with disability and access needs.
                        
                    We're happy to discuss your disability or access needs before or as part of your school experience request.
                    
                        </textarea>
                                
                            </div>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" data-save-name="offeres-placement-No" id="how-contacted-conditional-7" name="dress" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-7">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-7">
                                No
                            </label>
                        </div>
                        <br>
                        <br>


    <p class="govuk-inset-text">
        Find out how you can <a href="/schools/access-need-guidance2">help and support candidates with disability and access needs</a>.
    </p>
    
<br>
<br>
<br>


                        <button type="submit" class="govuk-button">
                                Continue
                            </button>
                        </div>

                    </div>
            </div>
</form>

{% endblock %}