{% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "alpha" }, html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<form action="/schools/access-need2" method="post" class="form" data-local-save="school-onboarding:candidate-details">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Enter disability and access needs details for candidates</h1>

            <p>Tell us about the facilites and support you offer and include these details on your school profile. </p>

            <p>Edit or add to the existing details in the following box.</p>

            <p class="govuk-hint">For example, if you offer disabled parking spaces and support for autistic spectrum disorders, dyslexia and hearing impairments.</p>
                
<br>
<textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint">
We offer facilities and support an inclusive environment for candidates with disability and access needs. 

We're happy to discuss your disability or access needs before or as part of your school experience request.

    </textarea>                        

<fieldset class="govuk-fieldset" aria-describedby="access-needs">
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="access-needs1" name="access-needs" type="checkbox" value="need1">
                                    <label class="govuk-label govuk-checkboxes__label" for="access-needs1">
                                        Include details on school profile
                                    </label>
                                </div>
                        </fieldset>
                        <br>

                        <button type="submit" class="govuk-button">
                                Continue
                            </button>
                        </div>

                    </div>
            </div>
</form>

{% endblock %}