{% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "alpha" }, html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<form action="/schools/access-need2" method="post" class="form" data-local-save="school-onboarding:candidate-details">
    <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Enter disability and access needs details for candidates</h1>

    <p>Edit and add to the following suggested wording so we can add it to your school profile.</p>
                
    <p><strong>Add any details about the kinds of facilities and support you can provide for candidates with disabilities and access needs.</strong></p>


<textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint">
We offer facilities and provide an inclusive environment for students, staff and school experience candidates with disability and access needs. 

We're happy to discuss your disability or access needs before or as part of your school experience request.

</textarea>        

<br>


                        <button type="submit" class="govuk-button">
                                Continue
                            </button>
                        </div>

                    </div>
            </div>
</form>

{% endblock %}