{% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "alpha" }, html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<form action="/schools/access-need1-update3-question" method="post" class="form" data-local-save="school-onboarding:candidate-details">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Help and support candidates with disability and access needs</h1>

            <p>Read this guidance to find out you can help and support candidates with disability and access needs requirements.</p>


<div class="govuk-accordion" data-module="accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Dealing with requests
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body govuk-!-font-weight-bold">Ask all candidates if they have disability or access needs and if they require any adjustments for school experience.
	</p>
                   <p>
					Each individual will be the best 'expert' on their needs. Two people may have the same condition but have different needs and preferences.
				   </p>
				   <p>
					If you don't ask people directly if they need any adjustments then some participants won’t be confident enough to ask.
                   </p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Leading up to school experience
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class="govuk-body govuk-!-font-weight-bold">Provide all candidates with an outline of their school experience day and agenda in advance.	</p>
				                        <p>
				                            It’s good practice to share this information in advance as it helps all candidates - even if they don’t have specific disability or access needs.
										</p>
										<p>
				                            However, providing information up front is particularly beneficial for candidates with autistic spectrum disorders and reading disabilities such as anxiety or dyslexia.

				                        </p>
												
												<br>
												<br>												
                              <p class="govuk-body govuk-!-font-weight-bold">Provide all printed material in at least font size 14. </p> 
				                        <p>
				                            It's good practice as: 
				                        </p>
										<ul class="govuk-list govuk-list--bullet">
										<li>50% of the population can't read fonts smaller than 12 point</li>	
										<li>reading is easier and quicker for most people in larger fonts</li>	
										</ul>	
												

												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Allow candidates to bring laptops and digital devices to school experience if they ask.</p>
				                        <p>
				                            Candidates with dyslexia might prefer to follow along on their own laptops and devices and may also have their own assistive technology (software) installed on them to help with their reading and comprehension. 
										</p>
										<p>Candidates with sight impairments may find it difficult or impossible to use paper materials.</p>




												<br>
												<br>
                               <p class="govuk-body govuk-!-font-weight-bold">Provide candidates with advance copies of any electronic and printed materials.</p>
				                        <p>
				                            This can support candidates with anxiety, autistic spectrum disorders, dyslexia and hearing and visual impairments.
				                        </p>


												<br>
												<br>
                               <p class="govuk-body govuk-!-font-weight-bold">Tell candidates about disabled access, lifts and accessible car parking and toilets. 
							</p>
				                        <p>
				                            If you have rooms that are not wheelchair accessible or a 'long walk' away, offer to relocate classes or school experience sessions.
										</p>
										<p>This will be a key concern for candidates with mobility issues and you need to consider candidates who may not be able to walk very far as well as wheelchair users.</p>

												<br>
												<br>
                               <p class="govuk-body govuk-!-font-weight-bold">Tell candidates about any additional access support you have such as hearing loops and let them know if you have good acoustic sound levels.</p>
				                        <p>
											If a room has lots of hard surfaces and is ‘echoey’ it may cause problems.
										</p>
										<p>For example, 50% of over 50s have hearing loss and an increasing number of young people are experiencing it as well.</p>
										<p>Good communication support tactics, such as 1 person speaking at a time, loops and good acoustics (ie lagging on walls) all support those with hearing impairments. </p>

												<br>
												<br>
                              <p class="govuk-body govuk-!-font-weight-bold">Let candidates know how to book communication support. 
							</p>
										
										<p>For example, sign language interpreters, speech-to-text services or lip speakers.</p>
										<p>
											Make sure you’re clear on who provides, books and pays for these services. 
										</p>
										<p>The recommended lead times for booking BSL interpreters is 6 weeks so you’ll need to build this into your planning.</p>

												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">If candidates want to discuss their access needs allow them to contact you directly before booking school experience.
							</p>
				                        <p>
											This is very important for candidates who require communication support or have more significant needs such as anxiety.
				                        </p>


												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Use plain english in all communications.</p>
				                        <p>
											For example, the use of metaphors can be particularly problematic for people with autistic spectrum disorders.
				                        </p>

												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Ask candidates for their preferred method of contact.</p>
				                        <p>
				                            Some candidates may be unable or struggle with certain forms of contact. 
										</p>
										<p>For example, candidates with autistic spectrum disorders and hearing impairments may struggle with phone calls. </p>
	
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          On the day
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                               <p class="govuk-body govuk-!-font-weight-bold">Ask candidates where they want to sit.</p>
				                        <p>
				                            This is particularly important for candidates with anxiety, autistic spectrum disorders, mobility issues and hearing and visually impairments.
				                        </p>






												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Provide some printed materials in larger fonts for candidates.</p> 
										<p>We recommend you use an 18-point font printed in landscape because it’s easier to print in landscape for fonts of this size and above.</p>
										<p>However, some candidates will even struggle using 14-point fonts and not everyone will be confident enough to ask you to make adjustments. </p>
										<p>This means having at least a few copies of materials in larger fonts can be helpful. </p>
										<p>It’s good practice to let candidates know that the can ask for larger font printed materials in advance so add this information to your school profile if you offer this service.</p>
	

    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          On request
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                               <p class="govuk-body govuk-!-font-weight-bold">If candidates ask, print materials in larger fonts.</p>
				                        <p>
											Some candidates will have very specific needs. For example, large print means different things to different people and some may want materials printed in a specific font. 
				                        </p>
										<p>
											It’s good practice to let candidates know that the can ask for larger font printed materials in advance so add this information to your school profile if you offer this service.
										</p>

												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">If candidate ask, print materials on different colour backgrounds.</p>
				                        <p>
											This is particularly helpful for candidates with dyslexia as reading black text on a white background can be very difficult and having different colour texts and backgrounds can make reading easier.
										</p>
										<p>
											Even an off-white background can help candidates and many use yellow paper or other pastel colours. 
										</p>
										<p>
											Candidates with dyslexia may also prefer to receive material electronically and follow along on their own laptop or digital device.
										</p>
    </div>
  </div>

</div>

<!-- Old list

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-m">On accepting the candidate</h3>
												<br>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="access-needs-list">
                   <p class="govuk-body govuk-!-font-weight-bold">Ask all candidates if they have a disability or access need and if they require any adustments for school experience.</p>
				                        <p class="govuk-hint">
				                            Each individual will be the best 'expert' on their needs.  Two people may have the same condition but have different needs and preferences.  If you don't ask people directly if they need any adjustments then some participants wont be confident enough to ask.
				                        </p>                            
														</label>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
												
<h3 class="govuk-heading-m">Prior to the school experience</h3>
												<br>
              <p class="govuk-body govuk-!-font-weight-bold">Provide all candidates with an outline of the school experience day and agenda in advance.</p>
				                        <p class="govuk-hint">
				                            This will support all candidates and it would be good practice to share this information in advance.   This will be particularly beneficial to candidates who have an Autistic Spectrum Disorder, reading disability such as dyslexia or Anxiety
				                        </p>
												
												<br>
												<br>												
                              <p class="govuk-body govuk-!-font-weight-bold">Provide all printed material in at least font size 14. </p> 
				                        <p class="govuk-hint">
				                            This is good practice, 50% of the population can't read fonts smaller than 12 point.  Reading is easier and quicker for most people in larger fonts.
				                        </p>

												

												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Enable candidates to bring their laptops to school experience if requested.</p>
				                        <p class="govuk-hint">
				                            People with dyslexia might prefer to follow along on their own device and they may also have their own assistive technology (software) on their laptop/device that makes reading and comprehension easier.  People with sight impairments may find it difficult or impossible to use paper materials 
				                        </p>




												<br>
												<br>
                               <p class="govuk-body govuk-!-font-weight-bold">Provide candidates with printed materials / electronic materials in advance.</p>
				                        <p class="govuk-hint">
				                            This wil potentially support participants with dyslexia, autistic spectrum disorders and those who are deaf, have a sight impairment or anxiety.  
				                        </p>


												<br>
												<br>
                               <p class="govuk-body govuk-!-font-weight-bold">Share information about disabled access, lifts, accessible toilets and accessible car parking. If you have rooms that are not wheel chair accessible or are a 'long walk' then offer to relocate classes or school experience sessions on request.</p>
				                        <p class="govuk-hint">
				                            If people have mobility issues this will be a key concern.  You need to consider people who may not be able to walk very far as well as wheelchair users
				                        </p>

												<br>
												<br>
                               <p class="govuk-body govuk-!-font-weight-bold">Let candidates know about any additional access support you have such as hearing loops.  Its worth mentioning if you know you have good acousitic sound levels.</p>
				                        <p class="govuk-hint">
				                            Good communication support tactics, such as one person speaking at a time, loops and good acoustics (i.e. lagging on walls) all support deaf and hard of hearing people. If a room has lots of hard surfaces and is echoey it may be problematic for hearing, 50% of over 50's have hearing lost but more young people have hearing loss now as well.
				                        </p>

												<br>
												<br>
                              <p class="govuk-body govuk-!-font-weight-bold">Share information on how communication support can be booked for school experience such as sign language interpreters, speech to text services or lip speakers.</p>
				                        <p class="govuk-hint">
				                            Make sure you are clear on who provides, books and pays for these services.  The recommended lead times for booking BSL interpreters is 6 weeks so you will need to build this into your planning.
				                        </p>

												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Let candidates contact you directly before booking school experience if they want to discuss their access needs.</p>
				                        <p class="govuk-hint">
				                            This is very important for candidates who have more significant needs, anxiety or require communication support.
				                        </p>


												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Use plain english in all communications.</p>
				                        <p class="govuk-hint">
				                            Use of metaphors can be particularly problematic for people with autistic spectrum disorders.
				                        </p>

												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Ask candidates their preferred method of contact.</p>
				                        <p class="govuk-hint">
				                            Some candidates may be unable or struggle with some forms of contact. For example deaf and hard of hearing candidates may struggle with phone calls. Candidates with autistic spectrum disorders may also struggle with phone calls.
				                        </p>
												
												
												
												
												
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



<h3 class="govuk-heading-m">On the day</h3>

												<br>
												<br>
                               <p class="govuk-body govuk-!-font-weight-bold">Ask candidates where they want to sit.</p>
				                        <p class="govuk-hint">
				                            Particularly important for sight impaired, deaf an hard of hearing, mobility issues, autistic spectrum disorders and anxiety.
				                        </p>






												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">Provide some materials in large print (suggest font size 18 - landscape), just in case for each session.</p> 
				                        <p class="govuk-hint">
				                            Some candidates will struggle with even 14 point font and not everyone is confident to ask for adjustments.  Having a few copies of materials in larger fonts can be helpful.  For fonts from 18 point and higher its easier to print in landscape.  You can also add to your profile that large print and (alternative formats) are available on request
				                        </p>	
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-m">On request</h3>


												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">On request print material in larger fonts.</p>
				                        <p class="govuk-hint">
				                            Some candidates will have very specific needs, large print means different things to different people.  Candidates may also want a specific font.  Letting people know they can ask for this in advance is good practice.
				                        </p>


												<br>
												<br>												
                               <p class="govuk-body govuk-!-font-weight-bold">On request print material on different colour backrounds</p>
				                        <p class="govuk-hint">
				                            This is particularly helpful for candidates with Dyslexia, reading black text on a white background can be very difficult and having different colours can make reading easier, even off-white will help, many people use yellow paper or other pastel colours.  Some people with Dyslexia would prefer to recieve material electronically and follow along on their own laptop or electronic device. 
				                        </p>

																						
                </fieldset>
                </div>


-->


<button type="submit" class="govuk-button govuk-button">
  Continue
</button>

            </div>
        </div>
</form>

{% endblock %}
