{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Enter subject</h1>
	<form action="" method="post" class="form">

			


			<p>Select all that apply.</p>
              <fieldset class="govuk-fieldset" aria-describedby="subjects">

                  <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" data-save-name="Art-and-design" id="subject1" name="sub" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="subject1">
                         General experience / not subject specific </label>
                        
                </div>
                <br>
                <hr>
                <br>

                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Art-and-design" id="subject1" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject1">
                      Art and design
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Biology" id="subject1" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject1">
                      Biology
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Business-studies" id="subject10" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject10">
                      Business studies
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Chemistry" id="subject2" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject2">
                      Chemistry
                    </label>
                  </div>
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Citizenship" id="subject7" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject7">
                        Citizenship
                      </label>
                    </div>
                    <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" data-save-name="Classics" id="subject14" name="sub" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="subject14">
                          Classics
                        </label>
                      </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Computing" id="subject8" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject8">
                        Computing
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Dance" id="subject11" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject11">
                        Dance
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Design-and-technology" id="subject12" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject12">
                        Design and technology
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Drama" id="subject12" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject12">
                        Drama
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Economics" id="subject21" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject21">
                        Economics
                      </label>
                    </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="English" id="subject3" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject3">
                      English
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="French" id="subject18" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject18">
                      French
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Geography" id="subject15" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject15">
                      Geography
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="German" id="subject19" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject19">
                      German
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Health-and-social-care" id="subject22" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject22">
                      Health and social care
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="History" id="subject16" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject16">
                      History
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Maths" id="subject4a" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject4a">
                      Maths
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Media-studies" id="subject23" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject23">
                      Media studies
                    </label>
                  </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Music" id="subject13" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject13">
                        Music
                      </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Physical-education-(PE)" id="subject9" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject9">
                      Physical education (PE)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Physics" id="subject4" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject4">
                      Physics
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Physics-with-maths" id="subject5" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject5">
                      Physics with maths
                    </label>
                  </div>
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" data-save-name="Psychology" id="subject24" name="sub" type="checkbox" value="">
                   <label class="govuk-label govuk-checkboxes__label" for="subject24">
                     Psychology
                   </label>
                 </div>
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" data-save-name="Religious-education-(RE)" id="subject17" name="sub" type="checkbox" value="">
                   <label class="govuk-label govuk-checkboxes__label" for="subject17">
                     Religious education (RE)
                   </label>
                 </div>
                 <div class="govuk-checkboxes__item">
                   <input class="govuk-checkboxes__input" data-save-name="Social-sciences" id="subject25" name="sub" type="checkbox" value="">
                   <label class="govuk-label govuk-checkboxes__label" for="subject25">
                     Social sciences
                   </label>
                 </div>
                   <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Spanish" id="subject20" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject20">
                       Spanish
                      </label>
                      </div>
                      <div class="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" data-save-name="Vocational-health" id="subject26" name="sub" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="subject26">
                        Vocational health
                       </label>
                      </div>
                    </div>
              </fieldset>

<br>

<!--
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Subject
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="Art and design">Art and design</option>
    <option value="Biology" selected>Biology</option>
    <option value="Business studies">Business studies</option>
    <option value="Chemistry">Chemistry</option>
    <option value="Citizenship">Citizenship</option>
    <option value="Classics">Classics</option>
    <option value="Computing">Computing</option>
    <option value="Dance">Dance</option>
    <option value="Design and technology">Design and technology</option>
    <option value="Drama">Drama</option>
    <option value="Economics">Economics</option>
    <option value="English">English</option>
    <option value="French">French</option>
    <option value="Geography">Geography</option>
    <option value="German">German</option>
    <option value="Health and social care">Health and social care</option>
    <option value="History">History</option>
    <option value="Maths">Maths</option>
    <option value="Media studies">Media studies</option>
    <option value="Music">Music</option>
    <option value="Physical education (PE)">Physical education (PE)</option>
    <option value="Physics">Physics</option>
    <option value="Physics with maths">Physics with maths</option>
    <option value="Psychology">Psychology</option>
    <option value="Religious education (RE)">Religious education (RE)</option>
    <option value="Social sciences">Social sciences</option>
    <option value="Spanish">Spanish</option>
    <option value="Vocational health">Vocational health</option>																																					
  </select>
</div>

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">Enter maximum number of bookings you'll accept for this date</h2>

					<div class="govuk-form-group">
						<label class="govuk-label" for="width-3">
							<p class="govuk-hint">Once you've accepted the maximum number of bookings this date will not be shown to candidates.</p>
						</label>
						<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
					</div>
				</div>
			</div>
			
-->







	<br>
	<a href="/schools/add-date-secondary2" class="govuk-button" style="font-weight:normal">Continue</a>
	

</div>


{% endblock %}
