{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">State the fixed dates when you offer school experience</h1>
	<form action="" method="post" class="form">
 	 <div class="govuk-grid-row">
	 	<div class="govuk-grid-column-two-thirds">

<p>Enter the start dates and tell us how long it will last.</p>

<p class="govuk-hint">These details will be shown to candidates to help them choose school experience at your school.</p>
		</div>
	</div>

	<div id="dates-block">
		<div id="initial-block">
			<h2 class="govuk-heading-m">Enter start date</h2>
			<p class="govuk-hint">For example, 01 09 2019.</p>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
							<div class="govuk-date-input">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-day">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-day" name="dob-day" type="number" pattern="[0-9]*">
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-month">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-month" name="dob-month" type="number" pattern="[0-9]*">
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-year">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="single-year" name="dob-year" type="number" pattern="[0-9]*">
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">How long will it last</h2>

					<div class="govuk-form-group">
						<label class="govuk-label" for="width-3">
							Enter number of days.
						</label>
						<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
					</div>
				</div>
			</div>
			


			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">Enter maximum number of bookings you’ll accept for this date</h2>

					<div class="govuk-form-group">
						<p class="govuk-hint">
							Once you’ve accepted the maximum number of bookings this date will not be shown to candidates.
						</p>
						<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
					</div>
				</div>
			</div>
			







<h2 class="govuk-heading-m">Show this date on your school profile?</h2>

			<div class="govuk-form-group">
			  <fieldset class="govuk-fieldset" aria-describedby="available">
			    <div class="govuk-checkboxes">
			      <div class="govuk-checkboxes__item">
			        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="available">
			        <label class="govuk-label govuk-checkboxes__label" for="available">
			          Make this date available to candidates 
			        </label> </div>
			  </fieldset>
			</div>
	<br>
	<a href="/schools/school-edit-dates-added" class="govuk-button" style="font-weight:normal">Continue</a>
	

</div>


{% endblock %}
