{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}





    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Your schools</h1>


                <form action="/schools/other-details" method="post" class="form">



                <p>
                  Our records show you have been linked to:</p>
                <p>
                  <span class="govuk-!-font-weight-bold">Chiserly Academy, Cheshire Road, Manchester MA2 4TW</span>
                </p>
                <p>
                  You need to confirm or reject this link.
                </p>
                <p>
                  If you need to link to more schools, this can be done later.
                </p>


                <button type="submit" class="govuk-button">
                  Confirm
                </button>
                <br />
                <a href="reject" class="govuk-link govuk-!-font-size-19">Reject</a>

                </form>
    </div>

</div>

{% endblock %}
