{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">School experience availability or fixed dates</h1>
	<form action="/schools/availability" method="post" class="form">
 	 <div class="govuk-grid-row">
	 	<div class="govuk-grid-column-two-thirds">

<p>You need to contact individual candidates to discuss, arrange and offer them a placement date after you’ve received their school experience request.</p>

<p>You should try and respond to requests within 10 working days.</p>

<p>Once you’ve accepted a request you’ll be asked to confirm the candidate’s placement dates as part of confirming their school experience booking.
</p>
<h2 class="govuk-heading-m">Enter school experience availability or fixed dates</h2>
<p>
Tell candidates about your school experience availability. Select at least 1 option.
</p>
<p>
Select whether you’d like to tell candidates about your school experience by outlining your school's availability or telling them about fixed dates:
</p>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="dates1" name="fixed_dates" type="checkbox" value="1">
        <label class="govuk-label govuk-checkboxes__label" for="dates-1">
          <p>If you offer <strong>fixed</strong> dates, state when you provide school experience.</p>
          <span id="more-detail-hint" class="govuk-hint">For example, on 10 May 2020.</span>
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="dates2" name="flexible_dates" type="checkbox" value="1">
        <label class="govuk-label govuk-checkboxes__label" for="dates-2">
          <p>If you're <strong>flexible</strong> on dates, describe your school experience availability.</p>
          <span id="more-detail-hint" class="govuk-hint">For example, on specific days of the week and open days or around exams, holidays and term times.</span>
        </label>
      </div>
  </fieldset>
</div>





<!--


        <h2 class="govuk-heading-m">Add date ranges</h2>
        <div class="govuk-grid-row" id="available-range">

            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="availability-range-field">
                                Add
                            </label>
                            <select class="govuk-select" id="availability-range-field" name="sort">
                                <option value="Available">Dates available</option>
                                <option value="Unavailable">Dates unavailable</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>


            <div class="govuk-grid-column-one-third">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

                        <div class="govuk-date-input" id="start">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="start-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-day" name="dob-day" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="start-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-month" name="dob-month" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="start-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-year" name="dob-year" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>



            <div class="govuk-grid-column-one-third">
                <div class="added-range">
                    <h2 class="govuk-heading-m">to</h2>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

                        <div class="govuk-date-input" id="dob">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="finish-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="finish-day" name="dob-day" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="finish-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="finish-month" name="dob-month" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="finish-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="finish-year" name="dob-year" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>




        </div>




        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <button id="add-range" class="govuk-button button-grey">
                    Add date range
                </button>

            </div>
        </div>




        <h2 class="govuk-heading-m">Add single dates</h2>
        <div class="govuk-grid-row" id="available-single">

            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="availability-single-field">
                                Add
                            </label>
                            <select class="govuk-select" id="availability-single-field" name="sort">
                                <option value="Available">Date available</option>
                                <option value="Unavailable">Date unavailable</option>
                            </select>
                        </div>
                    </fieldset>
                </div>
            </div>


            <div class="govuk-grid-column-one-third">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">

                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="single-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-day" name="dob-day" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="single-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-month" name="dob-month" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="single-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="single-year" name="dob-year" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>








        </div>



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <button id="add-single" class="govuk-button button-grey">
                    Add single date
                </button>

            </div>
        </div>






    </div>
</div>
<p>
  &nbsp;
</p>
-->

		</div>
	</div>
<br>
<button type="submit" class="govuk-button">
    Continue
</button>

<!--
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="/public/javascripts/availability-list.js"></script>
-->
{% endblock %}
