{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">22 September 2019 (3 days)</h1>
	<form action="/schools/availability-select-dates-subjects-maximum" method="post" class="form">
 	 <div class="govuk-grid-row">
	 	<div class="govuk-grid-column-two-thirds">





<h2 class="govuk-heading-m">Is this date available for all the subjects you offer?</h2>

<div class="govuk-form-group">
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="all-subjects-yes" name="all-subjects" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="all-subjects-yes">
          Yes
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="all-subjects-no" name="all-subjects" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="all-subjects-no">
          No
        </label> </div>
    </div>
  </fieldset>
</div>


	<br>
	<button type="submit" class="govuk-button">
		Continue
	</button>
</div>

<script>
	function copy_dates_block() {
		var initialBlock = document.getElementById("initial-block") ;
		var newBlock = document.createElement('div') ;

		var parentBlock = document.getElementById('dates-block') ;
		parentBlock.appendChild(newBlock) ;

		newBlock.innerHTML = initialBlock.innerHTML ;

		return true ;
	}
</script>

<!--
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="/public/javascripts/availability-list.js"></script>
-->
{% endblock %}
