{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Abraham Moss Community School</h1>

      <form action="/booking-v1/profile" method="post" class="form">

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
        Edit when placements will be available to candidates for the upcoming academic year.
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">
October - April</textarea>
      </div>

      <button type="submit" class="govuk-button">
        Change availalbility
      </button>
      <br />
            <a class="govuk-link" href="/booking-v1/profile?id=3">Back to school profile page</a>

    </div>
</div>


{% endblock %}
