{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">State the fixed dates when you offer school experience</h1>
	<form action="/schools/availability-start-dates-edit" method="post" class="form">
 	 <div class="govuk-grid-row">
	 	<div class="govuk-grid-column-two-thirds">

<p>Enter the start dates and tell us how long it will last.</p>

<p>These details will be shown to candidates to help them choose school experience at your school.</p>
		</div>
	</div>

	<div id="dates-block">
		<div id="initial-block">
			<h2 class="govuk-heading-m">Enter start date</h2>
			<p class="govuk-hint">For example, 01 09 2019</p>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
							<div class="govuk-date-input">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-day">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-day" name="dob-day" type="number" pattern="[0-9]*">
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-month">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-month" name="dob-month" type="number" pattern="[0-9]*">
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-year">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="single-year" name="dob-year" type="number" pattern="[0-9]*">
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">How long will it last</h2>

					<div class="govuk-form-group">
						<label class="govuk-label" for="width-3">
							Enter number of days.
						</label>
						<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
					</div>
				</div>
			</div>

<h2 class="govuk-heading-m">Is there a maximum number of bookings you’ll accept for this date?</h2>

<p>Once you’ve accepted the maximum number of bookings this date will not be shown to candidates.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" data-save-name="candidate-requirements-Yes" id="how-contacted-conditional-5" name="requirements" type="radio" value="" data-aria-controls="conditional-how-contacted-conditional-5">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-4">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-5">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Enter maximum number of bookings.
                </label>
                  <textarea class="govuk-textarea govuk-!-width-two-thirds" data-save-name="candidate-requirements-details" id="more-detail" name="max-bookings-count" rows="1" aria-describedby="more-detail-hint"></textarea>
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" data-save-name="candidate-requirements-No" id="how-contacted-conditional-1" name="requirements" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-1">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

<h2 class="govuk-heading-m">Is this date available for all the subjects you offer?</h2>

<div class="govuk-form-group">
    <div class="govuk-radios govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="all-subjects-yes" name="all-subjects" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="all-subjects-yes">
          Yes
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="all-subjects-no" name="all-subjects" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="all-subjects-no">
          No
        </label> </div>
    </div>
  </fieldset>
</div>


	<br>
	<button type="submit" class="govuk-button">
		Continue
	</button>
</div>

<script>
	function copy_dates_block() {
		var initialBlock = document.getElementById("initial-block") ;
		var newBlock = document.createElement('div') ;

		var parentBlock = document.getElementById('dates-block') ;
		parentBlock.appendChild(newBlock) ;

		newBlock.innerHTML = initialBlock.innerHTML ;

		return true ;
	}
</script>

<!--
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="/public/javascripts/availability-list.js"></script>
-->
{% endblock %}
