{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">Change booking for 22 September 2019</h1>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This date is now full. You'll need to inform the candidate.
  </strong>
</div>
	<form action="/schools/school-edit-dates" method="post" class="form">
 	 <div class="govuk-grid-row">
	 	<div class="govuk-grid-column-two-thirds">

<p>Update any of the details you wish to change.</p>
		</div>
	</div>


	<div id="dates-block">
		<div id="initial-block">
			<h2 class="govuk-heading-m">Start date</h2>
			<p class="govuk-hint">For example, 31 09 2019.</p>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
							<div class="govuk-date-input">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-day">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-day" name="dob-day" type="number" pattern="[0-9]*" value="22">
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-month">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-month" name="dob-month" type="number" pattern="[0-9]*" value="09">
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-year">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="single-year" name="dob-year" type="number" pattern="[0-9]*" value="2019">
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">How long will it last</h2>

					<div class="govuk-form-group">
						<label class="govuk-label" for="width-3">
							Enter number of days.
						</label>
						<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text" value="3">
					</div>
				</div>
			</div>


			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">Maximum number of bookings</h2>

					<div class="govuk-form-group">
						<label class="govuk-label" for="width-3">
							This is the maximum number of candidates you'll accept on this date.<br/><br/>
							Once this limit has been reached the date will be removed from your school profile.
						</label>
						<br/>
						<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text" value="10">
					</div>
				</div>
			</div>


			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">Subject</h2>

					<div class="govuk-form-group">
						<label class="govuk-label" for="width-3">
							<p>Maths <a href="/schools/change-subject" class="govuk-link"> Change</a></p>
						</label>
					</div>
				</div>
			</div>


<!--
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<button id="add-single" onclick="copy_dates_block(); return false" class="govuk-button button-grey">
				Add more dates
			</button>
		</div>
	</div>
-->
	<br>
	<button type="submit" class="govuk-button">
		Save and return to manage dates
	</button>
</div>

<script>
	function copy_dates_block() {
		var initialBlock = document.getElementById("initial-block") ;
		var newBlock = document.createElement('div') ;

		var parentBlock = document.getElementById('dates-block') ;
		parentBlock.appendChild(newBlock) ;

		newBlock.innerHTML = initialBlock.innerHTML ;

		return true ;
	}
</script>

<!--
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="/public/javascripts/availability-list.js"></script>
-->
{% endblock %}
