{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Check your answers before setting up your school experience profile</h1>





<h2 class="govuk-heading-m">School details</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value">
      Chiserly Academy
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      Cheshire Road, Manchester MA2 4TW.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0161 555 1234
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      info@chiserly.ac.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <br>
</dl>


<h2 class="govuk-heading-m">School experience details</h2>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Fees
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body" data-school-details="feesCharged">Yes - £10 daily administration fee and £50 one-off DBS check fee</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DBS check required
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="dbsCheckRequired">
      Yes - Sometimes. We only accept DBS certificates which are less than 12 months old and will ask people to get another check if their certificate is older than this.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Individual requirements
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="individualRequirements">
      Must have a degree and be planning to become a teacher.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      School experience phases
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="experiencePhases">
      Both primary and secondary
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Primary key stages
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="keyStages">
      Key stage 1
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Secondary subjects
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="secondarySubjects">
      Maths, Art, Physics, Geography.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Specialisms
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="specialisms">
      Yes - Arts, bilingual students and SEN.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      School experience details
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="experienceOffered">
      Attendees will observe lessons in their chosen subjects and may get the chance to interact with pupils and classroom activities. We only offer key stage 1 experience for primary placements.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teacher training links
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="teacherTrainingLinks">
     Yes - We’re part of The Greater Manchester SCITT. <a href="">www.gmscitt.org.uk</a>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
	<br>
	<h2 class="govuk-heading-m">Candidate information</h2>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Dress code
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="dressCode">
      Business dress, cover up tattoos and no jeans or trainers.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Parking
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="parking">
      Yes - on site parking provided
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disability and access needs
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="disabilityNeeds">
      Yes - Full wheelchair access and hearing loops / audio induction loops for people with hearing impairments.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start time
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="startTime">
      8:30am
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Finish time
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="finishTime">
      5:30pm
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Flexible on times
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="flexibleTimes">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Availability
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="placementAvailability">
      We only offer school experience during the Autumn and Spring Terms and not during the Summer term due to it being the main exam period.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
<br>
	<h2 class="govuk-heading-m">Admin contact details</h2>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="adminFullName">
      Steve Booker
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="adminPhone">
      0161 555 2233
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value" data-school-details="adminEmail">
      experience.admin@chiserly.ac.uk
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  </dl>
  </div>

    <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Set up your school experience profile</h2>



<div class="govuk-form-group">
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="" name="" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="">
By checking this box and setting up your school experience profile you’re confirming, to the best of your knowledge, the details you’re providing are correct and you accept our <a class="govuk-link" href="/register/privacy-policy">privacy policy</a>
        </label>
      </div>
    </div>
  </fieldset>
</div>
	<form method="get" action="/schools/school-registration-complete">
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button">
        Accept and set up profile
        </button>
    </div>
    </form>
</div>
</div>




    </div>

{% endblock %}
