{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Preview your school experience profile</h1>

        <p>This is how your school will appear to candidates.  </p>
<!--		
			<ul class="govuk-list govuk-list--bullet">
					<li>If you're happy with this - select 'Accept and set up profile' at the bottom of this page </li>
					<li>If you need to change anything - select relevant 'Change' link shown within each section of the following preview </li>
       </ul>
-->				
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">				
				
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Newton Heath School</h1>

        <p>We’re a thriving community school serving a cosmopolitan community in North Manchester with more than 1,700 pupils.
        </p>
        <p>Our pupils’ GCSE scores are above the national average and, with more than 63 languages spoken at our school, we’re highly skilled in meeting the needs of bilingual children. </p>
        <p>We’re also a barrier free school and cater fully for the needs of pupils with movement difficulties while our work with hearing impaired children is well supported by the local authority and other agencies.</p>
        <p>
            <a class="" href="/schools/content-edit">Change</a>
        </p>

        <h1 class="govuk-heading-m">Experience information</h1>

        <p><b>Individual requirements:</b> Must have a degree and be planning to become a teacher.</p>
            <p><a class="" href="/schools/other-details-requirements-school-experience">Change</a></p>
        <p><b>Experience details:</b> Attendees will observe lessons in their chosen subjects and may get the chance to interact with pupils and classroom activities. Only offer key stage 1 experience for primary experiences.</p>
            <p><a class="" href="/schools/outline-experience">Change</a></p>
        <p><b>Experience subjects:</b></p>
				
<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">Date</th>
			<th class="govuk-table__header app-custom-class" scope="col">Duration</th>
			<th class="govuk-table__header app-custom-class" scope="col">Subjects</th>				
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <colgroup>
        <col span="" class="name">
        <col>
        <col span="" class="subject">
    </colgroup>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1 October 2019</th>
			<td class="govuk-table__cell">1 day</td>
			<td class="govuk-table__cell">Physics</td>			
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">2 October 2019</th>
			<td class="govuk-table__cell">2 days</td>
			<td class="govuk-table__cell">Physics</td>			
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">30 September 2019</th>
			<td class="govuk-table__cell">1 day</td>
			<td class="govuk-table__cell">Physics, Maths</td>			
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">29 September 2019</th>
			<td class="govuk-table__cell">2 days</td>
			<td class="govuk-table__cell">Maths</td>			
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">15 September 2019</th>
			<td class="govuk-table__cell">1 day</td>
			<td class="govuk-table__cell">Chemistry</td>			
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">10 September 2019</th>
			<td class="govuk-table__cell">3 days</td>
			<td class="govuk-table__cell">Art, Maths, Chemistry</td>			
    </tr>

  </tbody>
</table>				
				
        <p>
            <a class="" href="/schools/subjects-secondary">Change</a>
        </p>

        <h1 class="govuk-heading-m">Location</h1>
        <div style="width: 100%; height: 400px; overflow: hidden; vertical-align: middle">
            <div style="">
                <img class="school-map" src="/public/images/fir-trees.png" width="100%" />
            </div>
        </div>
        <br>
        <h1 class="govuk-heading-m">About our school</h1>

        <p><b>Age range:</b> 3 to 16 years (nursery, primary and secondary)</p>
        <p>
            <a class="" href="/schools/school-type">Change</a>
        </p>
        <p><b>For more information about our school use the following links: </b>
            <br>

            <p>
                <li><a class="govuk-link" href="https://www.abrahammoss.manchester.sch.uk/">{{ school['Name'] }} website</a></li>
            </p>

            <p>
                <li><a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/105560#school-dashboard">{{ school['Name'] }} Get Information About Schools page</a></li>
            </p>

            <p>
                <li><a class="govuk-link" href="https://reports.ofsted.gov.uk/provider/28/105560">Ofsted report: {{ school['Name'] }}</a></li>
            </P>

            <p>
                <li><a class="govuk-link" href="https://www.compare-school-performance.service.gov.uk/school/105560/abraham-moss-community-school">Performance information: {{ school['Name'] }}</a></li>
            </p>

                            <h1 class="govuk-heading-m">Accessibility details</h1>
                            <p class="govuk-body">
      <p>We offer an inclusive environment for students and staff. We encourage requests from under-represented groups and do our best to support and make adjustments for all needs and requirements. We're happy to discuss you disability or access needs before or as part of your school experience request.
			</p>
			<p>Full wheelchair access and hearing loops / audio induction loops for people with hearing impairments. We are part of the Disability Confident employer scheme.</p>
            <a class="" href="">Access needs policy</a>
						<br>
						<br>						
						<img src="/public/images/disability-confident-small.png" alt="disability confident logo">
<br>

<br>
                                <p>																	
                                    <a class="" href="/schools/access-need1">Change</a>
                                </p>
    </div>

    <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">DBS check required</h3>
            <p class="govuk-body">
                Yes - Sometimes <a href="">more info ></a>
                <p>
                    <a class="" href="/schools/other-details-requirements-school-experience">Change</a>
                </p>

                <h3 class="govuk-heading-s">Fees</h3>
                <p class="govuk-body">
                    £10 daily administration fee</p>
                <p> £50 one-off DBS check fee</p>
                <p>
                    <a class="" href="/schools/other-details">Change</a>
                </p>

                <h3 class="govuk-heading-s">Dress code</h3>
                <p class="govuk-body">
                    Business dress, cover up tattoos and no jeans or trainers
                    <p>
                        <a class="" href="/schools/other-details-continued">Change</a>
                    </p>

                    <h3 class="govuk-heading-s">Experience start and finish times</h3>
                    <p class="govuk-body">
                        8.30am to 5.30pm - Flexible
                        <p>
                            <a class="" href="/schools/other-details-continued">Change</a>
                        </p>

                        <h3 class="govuk-heading-s">Parking</h3>
                        <p class="govuk-body">
                            Yes - on site parking provided
                            <p>
                                <a class="" href="/schools/other-details-continued">Change</a>
                            </p>

                                <h3 class="govuk-heading-s">Teacher training offered</h3>
                                <p class="govuk-body">
                                    Yes - We’re part of The Greater Manchester SCITT.
                                    <p>
                                        <p><a href="">www.gmscitt.org.uk</a></p>
                                        <p>
                                            <a class="" href="/schools/outline-experience">Change</a>
                                        </p>

    </div>
    </div>

		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">	


    <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Set up your school experience profile</h2>



<div class="govuk-form-group">
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="" name="" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="">
By checking this box and setting up your school experience profile you’re confirming, to the best of your knowledge, the details you’re providing are correct and you accept our <a class="govuk-link" href="/register/privacy-policy-school">privacy policy</a>
        </label>
      </div>
    </div>
  </fieldset>
</div>
	<form method="get" action="/schools/school-registration-complete">
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button">
        Set up profile
        </button>
    </div>
    </form>
</div>
</div>




    </div>

{% endblock %}
