{% extends "layout.html" %} {% import "sections.html" as s %} {% import "schools/candidate-request.html" as candidate_request %} {% block pageTitle %} Candidate Requests {% endblock %} {% block beforeContent %} {{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<h1 class="govuk-heading-l">
      Confirm attendance
    </h1>

<table class="govuk-table attendance-confirmation">

    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header app-custom-class" scope="col">Name</th>
            <th class="govuk-table__header app-custom-class" scope="col">Subject</th>
            <th class="govuk-table__header app-custom-class" scope="col">Date booked</th>
            <th class="govuk-table__header app-custom-class" scope="col">Candidate attended</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <colgroup>
            <col span="" class="name">
                <col>
                    <col span="" class="subject">
        </colgroup>

        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Matthew Richards</th>
            <td class="govuk-table__cell">Physics</td>
            <td class="govuk-table__cell"><strong>1 October 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-1" name="changed-name-one" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-1">
          Yes
        </label></div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name-one" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label> </div>
    </div>
  </fieldset>
</div></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Jacob Sterling</th>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><strong>17 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-3" name="changed-name-two" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-3">
          Yes
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-4" name="changed-name-two" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-4">
          No
        </label> </div>
    </div>
  </fieldset>
</div></td></td>

    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Ellie Simpson</th>
      <td class="govuk-table__cell">Media studies</td>
      <td class="govuk-table__cell"><strong>5 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-5" name="changed-name-three" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-5">
          Yes
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-6" name="changed-name-three" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-6">
          No
        </label> </div>
    </div>
  </fieldset>
</div></td></td>
    </tr>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Paul Baker</th>
      <td class="govuk-table__cell">Maths</td>
      <td class="govuk-table__cell"><strong>13 September 2019</td>
      <td class="govuk-table__cell"><div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-7" name="changed-name-four" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name-7">
          Yes
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-8" name="changed-name-four" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-8">
          No
        </label> </div>
    </div>
  </fieldset>
</div></td></td>
    </tr>
  </tbody>
</table>

<p><a class="govuk-button button" href="/schools/school-dashboard?request-count=2&change-count=1">Save and return to requests and bookings</a></p>

{% endblock %}
