{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">Change school details</h1>

      <form action="/booking/profile?id=3" method="post" class="form">

      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
        Change your details for Abraham Moss Community School and select confirm to update your profile.
        </label>
        <br/>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="15" aria-describedby="more-detail-hint">
We're a 5 to 18 comprehensive school with approximately 850 students on roll, serving a catchment area in and around Manchester. We're a very successful school with a strong reputation for social inclusion. We value all of the young people who study here and work hard to try to make sure they all reach their full potential.

The school has seen growing academic success over recent years and our students consistently achieve at levels well above national averages. As a specialist sports college we have an excellent track record for providing opportunities for our students and the wider community to participate in sport. As a key partner in the Manchester Adult Learning Alliance we're proud of our community education role, which sees almost 1,000 adult learners currently enrolled on courses.

We're constantly striving to improve on all fronts. We're working hard to raise academic standards even further and to extend the range of opportunities available to our students and our wider community.
        </textarea>
      </div>

      <button type="submit" class="govuk-button">
        Confirm
      </button>
      <br />
        <a class="govuk-link" href="/booking/profile?id=3">Back to your profile</a>


    </div>
</div>


{% endblock %}
