{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="/schools/other-details-admin" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">26 May 2020 (1 day)</h1>

	  <div class="govuk-form-group">
		
		<fieldset class="govuk-fieldset">
			<div class="govuk-radios govuk-radios__inline">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-fieldset__heading">Is there a maximum number of bookings you'll accept for this date?</h1>
				</legend>
				<p>Once you've accepted the maximum number of bookings this date will not be shown to candidates.</p>
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="admin-costs" id="checkbox_admin_costs" name="checkbox_admin_costs" type="radio" {{ checkbox_admin_costs_yes }} value="1" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_admin_costs">
	          Yes
	        </label>
				</div>
				

				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-m">Enter maximum number of bookings you’ll accept for this date</h2>
	
						<div class="govuk-form-group">
							<p>
								Once you’ve accepted the maximum number of bookings this date will not be shown to candidates.
							</p>
							<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
						</div>
					</div>
				</div>
				<br/>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="admin-costs" id="checkbox_admin_costs" name="checkbox_admin_costs" type="radio" {{ checkbox_admin_costs_no }} value="" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_admin_costs">
	          No
	        </label>
				</div>
			</div>
		</fieldset>
	</div>
			
	<div class="govuk-form-group">		
		<fieldset class="govuk-fieldset">
			<div class="govuk-radios govuk-radios__inline">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-fieldset__heading">Select type of experience</h1>
				</legend>
				<p>Tell us if the experience is a general experience and not subject specific or if it's about a specific subject.</p>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="other-costs" id="checkbox_other_costs" name="checkbox_other_costs" type="radio" {{ checkbox_other_costs_yes }} value="1" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_other_costs">
	          General / not subject specific experience
	        </label>
				</div>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="other-costs" id="checkbox_other_costs" name="checkbox_other_costs" type="radio" {{ checkbox_other_costs_no }} value="" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_other_costs">
	          About a specific subject
	        </label>
				</div>
			</div>
		</fieldset>
	</div>

<br>
<br>
				<button type="submit" class="govuk-button">
        Continue
				</button>

    </div>
		</form>
</div>

{% endblock %}
