{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Add a date</h1>
	<form action="" method="post" class="form">
 	 <div class="govuk-grid-row">
	 	<div class="govuk-grid-column-two-thirds">

<p>Enter a start date and tell us how long the experience will last.</p>

<p>These details will be shown to candidates to help them choose school experience at your school.</p>
		</div>
	</div>

	<div id="dates-block">
		<div id="initial-block">
			<h2 class="govuk-heading-m">Enter start date</h2>
			<p class="govuk-hint">For example, 31 09 2019.</p>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
							<div class="govuk-date-input">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-day">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-day" name="dob-day" type="number" pattern="[0-9]*">
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-month">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="single-month" name="dob-month" type="number" pattern="[0-9]*">
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="single-year">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="single-year" name="dob-year" type="number" pattern="[0-9]*">
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">How long will it last</h2>

					<div class="govuk-form-group">
						<label class="govuk-label" for="width-3">
							Enter number of days.
						</label>
						<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
					</div>
				</div>
			</div>
			<section class="date-selector date-selector-primary">
		<h3 class="govuk-heading-m">Select school experience phase</h3>
		

		<div class="govuk-radios">
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="primary" name="phase" type="radio" value="yes" aria-describedby="primary-hint">
			  <label class="govuk-label govuk-radios__label govuk-label--s" for="primary">
				Primary
			  </label>
			  <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
				Including early years, key stage 1 and key stage 2.
			  </span>
			</div>
			<div class="govuk-radios__item">
			  <input class="govuk-radios__input" id="secondary" name="phase" type="radio" value="no" aria-describedby="secondary-hint">
			  <label class="govuk-label govuk-radios__label govuk-label--s" for="secondary">
				Secondary
			  </label>
			  <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
				Including secondary schools, sixth-forms, colleges and 16 to 18 years.
			  </span>
			</div>
		  </div>

<br>

<!--
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Subject
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="Art and design">Art and design</option>
    <option value="Biology" selected>Biology</option>
    <option value="Business studies">Business studies</option>
    <option value="Chemistry">Chemistry</option>
    <option value="Citizenship">Citizenship</option>
    <option value="Classics">Classics</option>
    <option value="Computing">Computing</option>
    <option value="Dance">Dance</option>
    <option value="Design and technology">Design and technology</option>
    <option value="Drama">Drama</option>
    <option value="Economics">Economics</option>
    <option value="English">English</option>
    <option value="French">French</option>
    <option value="Geography">Geography</option>
    <option value="German">German</option>
    <option value="Health and social care">Health and social care</option>
    <option value="History">History</option>
    <option value="Maths">Maths</option>
    <option value="Media studies">Media studies</option>
    <option value="Music">Music</option>
    <option value="Physical education (PE)">Physical education (PE)</option>
    <option value="Physics">Physics</option>
    <option value="Physics with maths">Physics with maths</option>
    <option value="Psychology">Psychology</option>
    <option value="Religious education (RE)">Religious education (RE)</option>
    <option value="Social sciences">Social sciences</option>
    <option value="Spanish">Spanish</option>
    <option value="Vocational health">Vocational health</option>																																					
  </select>
</div>

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        	<h2 class="govuk-heading-m">Enter maximum number of bookings you'll accept for this date</h2>

					<div class="govuk-form-group">
						<label class="govuk-label" for="width-3">
							<p class="govuk-hint">Once you've accepted the maximum number of bookings this date will not be shown to candidates.</p>
						</label>
						<input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
					</div>
				</div>
			</div>
			
-->







	<br>
	<a href="/schools/add-date-secondary2" class="govuk-button" style="font-weight:normal">Continue</a>
	

</div>


{% endblock %}
