{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<form action="/schools/specialisms" method="post" class="form" data-local-save="school-onboarding:secondary-subjects">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Select school experience subjects</h1>

      <p>Tell us which subjects you offer for this date and select continue.</p>
      <br>
    </div>
</div>

<div class="govuk-checkboxes">

    <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" data-save-name="Art-and-design" id="subject1" name="sub" type="checkbox" value="">
          <label class="govuk-label govuk-checkboxes__label" for="subject1">
           All subjects</label>
          
      </div>
      <br>
      <hr>
      <br>


<div class="govuk-grid-row subject">
    <div class="govuk-grid-column-two-thirds">

      	<p>
            Select all that apply.
          </p>


          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="subjects">


                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Biology" id="subject1" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject1">
                      Biology
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Business-studies" id="subject10" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject10">
                      Business studies
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="Chemistry" id="subject2" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject2">
                      Chemistry
                    </label>
                  </div>
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="Citizenship" id="subject7" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="subject7">
                        Citizenship
                      </label>
                    </div>
                  </fieldset>
<br>
<br>

    </div>

<button type="submit" class="govuk-button">
  Continue
</button>
</div>
</form>


{% endblock %}
