{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">Delete 2 October 2019</h1>
	<form action="/schools/school-edit-dates-deleted" method="post" class="form">
 	 <div class="govuk-grid-row">
	 	<div class="govuk-grid-column-two-thirds">

<p>Confirm deletion of this date?</p>


		</div>
	</div>

<button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
  Delete
</button>
<br>
<a href="/schools/school-edit-dates" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Cancel
</a>
</form>
<br>
<br>
{% endblock %}
