{% extends "layout.html" %}

{% block pageTitle %}
  Schools Admin - for School Experience
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader() }}
{% endblock %}



{% block content %}
<!--
    <div class="grid-row">
        <div class="col-8">
            <h1 class="heading-xlarge">
                DfE Sign-in
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>DfE Sign-in is the new way to access some specific education sector services. To use DfE Sign-in you will need to <a href="https://pp-help.signin.education.gov.uk/contact/create-account">create an account</a>.</p>
            <form method="post" id="form-signin" class="form-signin">
                <input type="hidden" name="_csrf" value="vdbgQ5Gj-r0QlSo4JLnG1q22mNRD_rTBEO-0" />
                <input type="hidden" name="clientId" value="schoolexperience"/>
                <input type="hidden" name="redirectUri" value="https://school-experience-staging.azurewebsites.net/auth/callback"/>
                <fieldset>
                    <legend class="heading-medium">Sign-in</legend>
                    <div class="form-group ">
                        
                            <label class="form-label" for="username">Email address</label>
                        
                        
                        <input class="form-control full-width" id="username" name="username" type="text"  value="">
                    </div>
                    <div class="form-group ">
                        <label class="form-label" for="password">Password</label>
                        
                        <div class="show-password full-width">
                            <input class="form-control" id="password" name="password" type="password" >
                        </div>
                        <p class="form-help"><a href="/e033d1d8-f693-4773-b381-c8c7aa9ff7fb/resetpassword/request?clientid=schoolexperience&redirect_uri=https://school-experience-staging.azurewebsites.net/auth/callback">Forgotten your password?</a></p>
                    </div>
                </fieldset>
                <div class="panel panel-border-wide">
                    <p>By continuing you accept the <a href="/terms">terms and conditions</a>.</p>
                </div>
                <div class="form-submit submit-buttons">
                    <button type="submit" class="button">
                        Sign in
                        <span class="loader spinner-inline vh">
                            <span class="ball b-1"></span>
                            <span class="ball b-2"></span>
                            <span class="ball b-3"></span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <details class="helpdesk">
    <summary><span class="summary">Having problems?</span></summary>
    <div class="panel panel-border-narrow">
        <p>If you are having problems using the DfE Sign-in service, follow <a href="https://pp-help.signin.education.gov.uk/contact">DfE Sign-in Help</a>. You will be able to request further assistance if required.</p>
    </div>
</details>

        </div>
    </div>



    </main>

</div>


-->
 <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


          <h1  class="govuk-heading-xl">DfE Sign-in</h1>

          <p>DfE Sign-in is the new way to access some specific education sector services. To use DfE Sign-in you will need to <a href="https://pp-help.signin.education.gov.uk/contact/create-account">create an account</a>.</p>
            <form method="post" id="form-signin" class="form-signin">



          </p>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">


                {% call govukFieldset({
                  legend: {
                    text: "Sign in",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: true
                  }
                }) %}


                {{ govukInput({
                  label: {
                    text: "Email address"
                  },

                  id: "user-id",
                  name: "user-id",
                  type: "user-id"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Password"
                  },

                  id: "password",
                  name: "password",
                  type: "password"
                })}}
								<a href="#" class="govuk-link">Forgotten password?</a>
							
							<div class="govuk-inset-text">
							  By continuing you accept the <a href="#" class="govuk-link">terms and conditions.</a>
							</div>
							
							
                {{ govukButton({
                  text: "Sign in",
                  href: "/schools/associations",
                  classes: "govuk-button--start"
                }) }}

              {% endcall %}
							

							
              </div>
          </div>



		          <details class="govuk-details details-bottomfix">
		                <summary class="govuk-details__summary">
		                    <span class="govuk-details__summary-text">
		                      Having problems?
		                    </span>
		                </summary>
		                <div class="govuk-details__text">
		                  If you are having problems using the DfE Sign-in service, follow <a href="#" class="govuk-link">DfE Sign-in Help</a>. You will be able to request further assistance if required.
		                </div>
		          </details>

<!--
          <h2 class="govuk-heading-m">Problems signing in</h2>



          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten user ID
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <a href="#">Recover your user ID</a>
                </div>
          </details>


          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten password
                    </span>
                </summary>
                <div class="govuk-details__text">
                  <a href="#">Recover your password</a>
                </div>
          </details>

          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten user ID and password
                    </span>
                </summary>
                <div class="govuk-details__text">
                  <a href="#">Recover all your sign in details</a>
                </div>
          </details>

          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Get a user ID and password
                    </span>
                </summary>
                <div class="govuk-details__text">
                  <p>You need to request a DfE Sign-in account from the DfE Sign-in ‘approver’ at your organisation.</p>
                  <p>The ‘approver’ is usually the senior manager at your organisation such as the headteacher.</p>
                  <p>If your organisation does not have an approver, you can request an approver account by submitting a <a href="https://help.signin.education.gov.uk/contact/form">service request</a>.</p>
                </div>
          </details>

-->




        </div>
      </div>


</main>


{% endblock %}
