{% extends "layout.html" %}

{% block pageTitle %}
  Schools Admin - for School Experience
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader() }}
{% endblock %}



{% block content %}




 <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


          <h1  class="govuk-heading-l">DfE Sign-in help</h1>

           <p class='govuk-body'>You'll need your DfE Sign-in username and password but be aware these are not the same as your old SEP login details and does not include your URN.</p>
         <p>You'll also need to ask your organisation's 'DfE Sign-in approver' (often your head or deputy head) to provide you with access to ‘School Experience’ within your DfE Sign-in account.</p>
         <p>Your organisation's approver details can be found in the 'My Organisations' section of your DfE Sign-in account.</p>




      <div class="govuk-accordion" data-module="accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                I do not have a DfE Sign-in account
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>You'll need to ask your organisation's 'DfE Sign-in approver' (often your head or deputy head) to create a DfE Sign-in account for you.</p>
           <p>They'll need your email address but make sure this is one that only you have access to. </p>
           <p>It will only be used for DfE Sign-in purposes and we won't use it to send you anything to do with the service.</p>
           <p>If you don't know who's your DfE Sign-in approver email us with your URN at <a href="mailto:organise.school-experience@education.gov.uk">organise.school-experience@education.gov.uk</a>.</p></p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                I cannot remember if I have a DfE Sign-in account
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>You'll need to fill in the following online form and ask DfE Sign-in if they can provide you with your DfE Sign-in account details.</p>
           <p>Submit a <a href="https://help.signin.education.gov.uk/contact/submit?type=create-account">DfE Sign-in support request</a>.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  I want to add another school to manage its requests and bookings
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>You'll need to ask your organisation's 'DfE Sign-in approver' (often your head or deputy head) to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>associate your DfE Sign-in account with the school you want to add and manage</li>
        
                   <li>set you up with a 'School Experience Administrator' role for the school you want to add and manage</li>
      
                </ul>
                <p>If you don't know who's your DfE Sign-in approver email us with your URN at <a href="mailto:organise.school-experience@education.gov.uk">organise.school-experience@education.gov.uk</a>.</p></p>
            </div>
          </div>
	      </div>

          <a class="govuk-button" href="/schools/start-page-dfe">Back</a>	
        </div>
      </div>
              </div>
          </div>

</main>


{% endblock %}
