{% extends "layout.html" %}

{% block pageTitle %}
  Schools Admin - for School Experience
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader() }}
{% endblock %}



{% block content %}

 <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


          <h1  class="govuk-heading-xl">Manage school experience sign in</h1>

          <p>You need a DfE Sign-in user ID and password to use the manage school experience service.<p>

          <p>DfE Sign-in use is the new way to sign in to access specific education sector services.<p>

          </p>

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">


                {% call govukFieldset({
                  legend: {
                    text: "Sign in",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: true
                  }
                }) %}


                {{ govukInput({
                  label: {
                    text: "User ID"
                  },

                  id: "user-id",
                  name: "user-id",
                  type: "user-id"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Password"
                  },

                  id: "password",
                  name: "password",
                  type: "password"
                })}}

                {{ govukButton({
                  text: "Sign in",
                  href: "/schools/associations",
                  classes: "govuk-button--start"
                }) }}

              {% endcall %}
              </div>
          </div>





            <!--<a class="govuk-link" href=""></a>-->
          <h2 class="govuk-heading-m">Problems signing in</h2>



          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten user ID
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <a href="#">Recover your user ID</a>
                </div>
          </details>


          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten password
                    </span>
                </summary>
                <div class="govuk-details__text">
                  <a href="#">Recover your password</a>
                </div>
          </details>

          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Forgotten user ID and password
                    </span>
                </summary>
                <div class="govuk-details__text">
                  <a href="#">Recover all your sign in details</a>
                </div>
          </details>

          <details class="govuk-details details-bottomfix">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Get a user ID and password
                    </span>
                </summary>
                <div class="govuk-details__text">
                  <p>You need to request a DfE Sign-in account from the DfE Sign-in ‘approver’ at your organisation.</p>
                  <p>The ‘approver’ is usually the senior manager at your organisation such as the headteacher.</p>
                  <p>If your organisation does not have an approver, you can request an approver account by submitting a <a href="https://help.signin.education.gov.uk/contact/form">service request</a>.</p>
                </div>
          </details>






        </div>
      </div>


</main>


{% endblock %}
