{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

    <form action="/schools/other-details" method="post" class="form" data-local-save="other-details-requirements-dbs">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Do you require candidates to be DBS-checked?</h1>
      <p>
        These details will help candidates select a school experience.
      </p>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" data-save-name="Yes-Always" id="how-contacted-conditional-2" name="fee" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                Yes - Always
              </label>
            </div>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" data-save-name="Yes-Sometimes" id="how-contacted-conditional-4" name="fee" type="radio" value="" data-aria-controls="conditional-how-contacted-conditional-4">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-4">
                Yes - Sometimes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" data-save-name="Provide-details" id="conditional-how-contacted-conditional-4">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Provide details.
                </label>
                  <textarea class="govuk-textarea govuk-!-width-two-thirds" id="more-detail" name="more-detail" rows="7" aria-describedby="more-detail-hint"></textarea>
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" data-save-name="No-Never" id="how-contacted-conditional-2" name="fee" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-2">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No - Never
              </label>
            </div>

          </div>
        </fieldset>
      </div>

          </div>
      </div>
      <input type="submit" class="govuk-button">
        Continue
      </button>
</form>













    </div>
</div>


{% endblock %}
