{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="/schools/other-details-admin" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Do you charge fees to cover any of the following?</h1>

				<p>
              Schools can charge fees to cover the associated costs of running school experience.
						</p>
						<p>
							This includes fees to cover administration costs, background and security ‘DBS check’ charges or any other school experience-related costs schools might incur.
						</p>
    



	<div class="govuk-form-group">
	  <fieldset class="govuk-fieldset" aria-describedby="">


	    <div class="govuk-checkboxes">
	      <div class="govuk-checkboxes__item">
	        <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
	        <label class="govuk-label govuk-checkboxes__label" for="">
	          Administration costs
	        </label>
	      </div>
	      <div class="govuk-checkboxes__item">
	        <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
	        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
	          DBS check costs
	        </label>
	      </div>
	      <div class="govuk-checkboxes__item">
	        <input class="govuk-checkboxes__input" id="" name="" type="checkbox" value="">
	        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
	          Other costs
	        </label>
	      </div>
	    </div>
	  </fieldset>
	</div>

<br>
<br>
      <button type="submit" class="govuk-button">
        Continue
      </button>

    </div>
</div>


{% endblock %}
