{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="/schools/other-details-admin" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Do you charge fees to cover any of the following?</h1>
    <form action="/schools/other-details-admin-save" method="post" class="form" data-local-save="school-onboarding:fees-charged">

				<p>
              Some schools charge fees to cover the associated costs of running school experience.
						</p>
						<p>
							This includes fees to cover administration costs, background and security ‘DBS check’ charges or any other school experience-related costs schools might incur.
						</p>



	<div class="govuk-form-group">
		
		<fieldset class="govuk-fieldset">
			<div class="govuk-radios govuk-radios__inline">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-fieldset__heading">Administration costs</h1>
				</legend>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="admin-costs" id="checkbox_admin_costs" name="checkbox_admin_costs" type="radio" {{ checkbox_admin_costs_yes }} value="1" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_admin_costs">
	          Yes
	        </label>
				</div>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="admin-costs" id="checkbox_admin_costs" name="checkbox_admin_costs" type="radio" {{ checkbox_admin_costs_no }} value="" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_admin_costs">
	          No
	        </label>
				</div>
			</div>
		</fieldset>
	</div>
		
	<div class="govuk-form-group">
		<fieldset class="govuk-fieldset">
			<div class="govuk-radios govuk-radios__inline">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-fieldset__heading">DBS check costs</h1>
				</legend>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="admin-costs" id="checkbox_dbs_costs" name="checkbox_dbs_costs" type="radio" {{ checkbox_dbs_costs_yes }} value="1" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_dbs_costs">
	          Yes
	        </label>
				</div>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="dbs-check-costs" id="checkbox_dbs_costs" name="checkbox_dbs_costs" type="radio" {{ checkbox_dbs_costs_no }} value="" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_dbs_costs">
	          No
	        </label>
				</div>
			</div>
		</fieldset>
	</div>
	
	<div class="govuk-form-group">		
		<fieldset class="govuk-fieldset">
			<div class="govuk-radios govuk-radios__inline">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h1 class="govuk-fieldset__heading">Other costs</h1>
				</legend>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="other-costs" id="checkbox_other_costs" name="checkbox_other_costs" type="radio" {{ checkbox_other_costs_yes }} value="1" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_other_costs">
	          Yes
	        </label>
				</div>
				
				<div class="govuk-radios__item">
	        <input class="govuk-radios__input" data-save-name="other-costs" id="checkbox_other_costs" name="checkbox_other_costs" type="radio" {{ checkbox_other_costs_no }} value="" data-local-store>
	        <label class="govuk-label govuk-radios__label" for="checkbox_other_costs">
	          No
	        </label>
				</div>
			</div>
		</fieldset>
	</div>

<br>
<br>
				<button type="submit" class="govuk-button">
        Continue
				</button>

    </div>
		</form>
</div>

{% endblock %}
