{% extends "layout.html" %}

{% block pageTitle %}
Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
		text: "alpha"
	},
	html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
		<form action="" method="post" class="form" data-local-save="school-onboarding:dbs-costs">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<h1 class="govuk-heading-l">DBS check costs</h1>
				</div>
			</div>


			<div class="govuk-form-group">
				<label class="govuk-label" for="contact-by-email">
					Enter the number of pounds.
				</label>
				£ <input class="govuk-input govuk-input--width-5" data-save-name="cost-pounds" id="pounds" name="pounds" type="text">
			</div>

			<div class="govuk-form-group">
				<label class="govuk-label" for="contact-by-email">
					Explain what the fee covers.
				</label>
				<textarea class="govuk-textarea govuk-input--width-15" rows="4">
				</textarea>
			</div>

			<div class="govuk-form-group">
				<label class="govuk-label" for="contact-by-email">
					
					<h3 class="govuk-heading-m">Explain how the fee is paid</h3>
				</label>
				<span id="more-detail-hint" class="govuk-hint">For example, by bank transfer, in cash or via PayPal</span>
				<textarea class="govuk-textarea" rows="4">
				</textarea>
			</div>




					<a href="/schools/other-details-other" class="govuk-button" data-save-inputs>
						Continue
					</a>

				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
