{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Enter school experience details for candidates</h1>
      <p>
        The following details will be shown to candidates to help them make their school experience requests.
      </p>


  <form action="/schools/availability" method="post" class="form">











      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you have a dress code for candidates?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-6" name="dress" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-6">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-6">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-6">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Provide details
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="contact-by-email" name="contact-by-email" type="text">
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-7" name="dress" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-7">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-7">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>













            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Do you provide parking for candidates?
                  </h1>
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-8" name="park" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-8">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-7">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-8">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-email">
                        Provide details
                      </label>
                      <input class="govuk-input govuk-!-width-one-half" id="contact-by-email" name="park" type="text">
                    </div>

                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-9" name="park" type="radio" value="no" data-aria-controls="conditional-how-contacted-conditional-9">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-9">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-9">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-email">
                        Provide details of where candidates can park
                      </label>
                      <input class="govuk-input govuk-!-width-one-half" id="contact-by-email" name="park" type="text">
                    </div>

                  </div>

                </div>
              </fieldset>
            </div>











            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    What are your start and finish times for candidates?
                  </h1>
                </legend>
                <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                  Start time. For example, 8:15am.
                </label>
                <input class="govuk-input govuk-!-width-one-quarter" id="name" name="time" type="text">
              </div>
              <div class="govuk-form-group">
              <label class="govuk-label" for="name">
                Finish time. For example, 4:30pm.
              </label>
              <input class="govuk-input govuk-!-width-one-quarter" id="name" name="time" type="text">
            </div>
              </fieldset>
            </div>










      <button type="submit" class="govuk-button">
        Continue
      </button>

    </div>
</div>


{% endblock %}
