{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Confirm number of primary key stages</h1>

      <p>Tell us which key stages you offer for your primary school experience. </p>
      <p>This will help candidates select a primary school experience.</p>
    </div>
</div>

  <form action="/schools/specialisms" method="post" class="form">



<div class="govuk-grid-row subject">
    <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="subject1" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject1">
                      Early years foundation stage (EYFS)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="subject10" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject10">
                      key stage 1 
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="subject2" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="subject2">
                      key stage 2
                    </label>
                  </div>

              </fieldset>
    </div>

<button type="submit" class="govuk-button">
  Continue
</button>
</div>


{% endblock %}
