{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}





    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Reject school link</h1>


              <form action="/schools/add-school" method="post" class="form">

                <p>
                  You've chosen to reject a link to:</p>
                <p>
                  <span class="govuk-!-font-weight-bold">Chiserly Academy, Cheshire Road, Manchester MA2 4TW</span>
                </p>
                <p>
                  You need to confirm this rejection.
                </p>
                <p>
                  If you need to link to a new school you can do this next.
                </p>


                <button type="submit" class="govuk-button">
                Confirm
                </button>

              </form>


    </div>

</div>

{% endblock %}
