{% extends "layout.html" %}
{% import "sections.html" as s %}
{% import "schools/candidate-request.html" as candidate_request %}
{% import "schools/notification-circle-dismissable.html" as dismissableNotifications %}

{% block pageTitle %}
  Candidate Requests
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">
      Manage bookings during September 2019
    </h1>

    <p>The following <strong>only lists bookings</strong> made on or after <strong>20 June 2019</strong>.</p> 
      
    <p>You'll need to refer to <strong>your own records</strong> for any bookings made before this date.</p>

<a href="/schools/school-change-booking-grouped-october" class="govuk-link">October 2019</a><br>
<a href="/schools/school-change-booking-grouped-august" class="govuk-link">August 2019</a><br>
<a href="/schools/school-change-booking-grouped-july" class="govuk-link">July 2019</a>
<br>
<br>
    <h2 class="govuk-heading-m">
      20 September 2019 - 21 September 2019
    </h2>

<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">Name</th>
      <th class="govuk-table__header app-custom-class" scope="col">Subject &nbsp;<img src="/public/images/sort.png" width=11px height=16px></th>
      <th class="govuk-table__header app-custom-class" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <colgroup>
        <col span="" class="name">
        <col>
        <col span="" class="subject">
    </colgroup>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Jason Taylor</th>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Ellie Simpson</th>
      <td class="govuk-table__cell">Business studies</td>
      <td class="govuk-table__cell"><a href="" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Paul Baker</th>
      <td class="govuk-table__cell">Health and social care</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request1-full" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Juan Gutierrez-Dominguez</th>
      <td class="govuk-table__cell">Maths</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Peter Campbell-Jones</th>
      <td class="govuk-table__cell">Media studies</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Edward Vasey</th>
      <td class="govuk-table__cell">Spanish</td>
      <td class="govuk-table__cell"><a href="" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Jason Taylor</th>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Ellie Simpson</th>
      <td class="govuk-table__cell">Business studies</td>
      <td class="govuk-table__cell"><a href="" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Paul Baker</th>
      <td class="govuk-table__cell">Health and social care</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request1-full" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Juan Gutierrez-Dominguez</th>
      <td class="govuk-table__cell">Maths</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Peter Campbell-Jones</th>
      <td class="govuk-table__cell">Media studies</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Edward Vasey</th>
      <td class="govuk-table__cell">Spanish</td>
      <td class="govuk-table__cell"><a href="" class="govuk-link">View</a></td>
    </tr>		
  </tbody>
</table>
<br>
    <h2 class="govuk-heading-m">
      19 September 2019
    </h2>

<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">Name</th>
      <th class="govuk-table__header app-custom-class" scope="col">Subject &nbsp;<img src="/public/images/sort.png" width=11px height=16px></th>
      <th class="govuk-table__header app-custom-class" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <colgroup>
        <col span="" class="name">
        <col>
        <col span="" class="subject">
    </colgroup>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Jason Taylor</th>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Ellie Simpson</th>
      <td class="govuk-table__cell">Business studies</td>
      <td class="govuk-table__cell"><a href="" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Paul Baker</th>
      <td class="govuk-table__cell">Health and social care</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request1-full" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Juan Gutierrez-Dominguez</th>
      <td class="govuk-table__cell">Maths</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Peter Campbell-Jones</th>
      <td class="govuk-table__cell">Media studies</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2" class="govuk-link">View</a></td>
    </tr>	
  </tbody>
</table>
<br>
    <h2 class="govuk-heading-m">
      10 September 2019
    </h2>

<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">Name</th>
      <th class="govuk-table__header app-custom-class" scope="col">Subject &nbsp;<img src="/public/images/sort.png" width=11px height=16px></th>
      <th class="govuk-table__header app-custom-class" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <colgroup>
        <col span="" class="name">
        <col>
        <col span="" class="subject">
    </colgroup>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Jason Taylor</th>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Ellie Simpson</th>
      <td class="govuk-table__cell">Business studies</td>
      <td class="govuk-table__cell"><a href="" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Paul Baker</th>
      <td class="govuk-table__cell">Health and social care</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request1-full" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Juan Gutierrez-Dominguez</th>
      <td class="govuk-table__cell">Maths</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Peter Campbell-Jones</th>
      <td class="govuk-table__cell">Media studies</td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2" class="govuk-link">View</a></td>
    </tr>	
  </tbody>
</table>
<br>
    <h2 class="govuk-heading-m">
      1 September 2019
    </h2>

<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">Name</th>
      <th class="govuk-table__header app-custom-class" scope="col">Subject &nbsp;<img src="/public/images/sort.png" width=11px height=16px></th>
      <th class="govuk-table__header app-custom-class" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <colgroup>
        <col span="" class="name">
        <col>
        <col span="" class="subject">
    </colgroup>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Jason Taylor</th>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><a href="/booking/profile-booking1" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Ellie Simpson</th>
      <td class="govuk-table__cell">Business studies</td>
      <td class="govuk-table__cell"><a href="" class="govuk-link">View</a></td>
    </tr>
  </tbody>
</table>
<p><a class="govuk-button button-grey cta" href="/schools/school-dashboard?request-count=7&change-count=7">Return to requests and bookings</a></p>


{% endblock %}
