{% extends "layout.html" %}
{% import "sections.html" as s %}
{% import "schools/candidate-request.html" as candidate_request %}
{% import "schools/notification-circle-dismissable.html" as dismissableNotifications %}

{% block pageTitle %}
  Candidate Requests
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">
      Manage bookings 
    </h1>
		
		
    <h1 class="govuk-heading-m">
      View bookings by month
    </h1>

    <p>Only months with bookings are listed.</p> 
  

<p><a href="/schools/school-change-booking-grouped-july" class="govuk-link">July 2019</a></p>
<p><a href="/schools/school-change-booking-grouped-september" class="govuk-link">September 2019</a></p>
<p><a href="/schools/school-change-booking-grouped-october" class="govuk-link">October 2019</a></p>
<p><a href="/schools/school-change-booking-grouped-november" class="govuk-link">November 2019</a></p>
<p><a href="/schools/school-change-booking-grouped-december" class="govuk-link">December 2019</a></p>
<p><a href="/schools/school-change-booking-grouped-february" class="govuk-link">February 2020</a></p>
<p><a href="/schools/school-change-booking-grouped-april" class="govuk-link">April 2020</a></p>
<p><a href="/schools/school-change-booking-grouped-june" class="govuk-link">June 2020</a></p>


    <h1 class="govuk-heading-m">
      View bookings by subject
    </h1>

    <p>Only subjects with bookings are listed.</p> 

		
<div class="govuk-grid-row subject">
    <div class="govuk-grid-column-two-thirds">

                      <p><a href="/schools/bookings-art" class="govuk-link">Art and design</a></p>

                      <p><a href="/schools/bookings-biology" class="govuk-link">Biology</a></p>                      

                      <p><a href="/schools/bookings-computing" class="govuk-link">Computing</a></p>                         

                      <p><a href="/schools/bookings-french" class="govuk-link">French</a></p>                       

                      <p><a href="/schools/bookings-health" class="govuk-link">Health and social care</a></p>                      

                      <p><a href="/schools/bookings-maths" class="govuk-link">Maths</a></p>                        

                      <p><a href="/schools/bookings-physics" class="govuk-link">Physics</a></p>                      

                      <p><a href="/schools/bookings-social" class="govuk-link">Social sciences</a></p>                        




<br>
		
<p><a class="govuk-button button-grey cta" href="/schools/school-dashboard?request-count=7&change-count=7">Return to requests and bookings</a></p>


</div>
{% endblock %}
