{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset">


				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading">
						Newton Heath School
					</h1>
				</legend>
				<a class="govuk-link" href="/booking/associate?id=2">Change school</a>
				<br>
				<br>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">
						Requests and bookings
					</h2>
				</legend>
			</fieldset>
		</div>
	</div>
</div>
				
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<div class="govuk-se-dashboard">
    	<div class="govuk-se-dashboard__row govuk-se-dashboard__row--header">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader">
				</div>
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--heading">
					<h3>Your requests</h3>
					<div>Oldest first</div>
				</div>
			</div>
			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="#">Matthew Richards</a>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Degree subject:</strong> Maths<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Dates requested:</strong> 10 to 18 March 2019<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>DBS checked:</strong> Yes<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Disability or access needs:</strong> No<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Request received:</strong> 01 January 2019<br/>
						<a href="view-request">View request</a>
					</div>
					<div class="govuk-se-dashboard-entry__cancel">
						<a href="cancel-request">Cancel request</a>
					</div>
				</div>
			</div>
			
			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="#">Jacob Sterling</a>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Degree subject:</strong> Biology<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Dates requested:</strong> 28 February to 08 March 2019<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>DBS checked:</strong> Yes<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Disability or access needs:</strong> No<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Request received:</strong> 15 January 2019<br/>
						<a href="view-request">View request</a>
					</div>
					<div class="govuk-se-dashboard-entry__cancel">
						<a href="cancel-request">Cancel request</a>
					</div>
				</div>
			</div>
			
			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>
		
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="#">Ashley Bourne</a>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Degree subject:</strong> Chemistry<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Dates requested:</strong> 15 to 20 February 2019<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>DBS checked:</strong> No<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Disability or access needs:</strong> Yes<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Request received:</strong> 30 January 2019<br/>
						<a href="view-request">View request</a>
					</div>
					<div class="govuk-se-dashboard-entry__cancel">
						<a href="cancel-request">Cancel request</a>
					</div>
				</div>
			</div>
			
			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>
		
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="#">Priya Acharya</a>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Degree subject:</strong> English<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Dates requested:</strong> 20 to 27 February 2019<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>DBS checked:</strong> No<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Disability or access needs:</strong> Yes<br/>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>Request received:</strong> 31 January 2019<br/>
						<a href="view-request">View request</a>
					</div>
					<div class="govuk-se-dashboard-entry__cancel">
						<a href="cancel-request">Cancel request</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>


	<div class="govuk-grid-column-one-half">

  	<div class="govuk-se-dashboard purple">
			<div class="govuk-se-dashboard__row govuk-se-dashboard__row--header">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader">
				</div>
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--heading">
					<h3>Your bookings</h3>
					<div>Latest first</div>
				</div>
			</div>
			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
				</div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="#">Jessica Harrington</a>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>School experience subject: </strong>English<br/>
						<strong>Start date: </strong>01 February 2019<br/>											
						<strong>Status: </strong>Confirm attendance<br/>
						<strong>DBS Checked: </strong>No<br/>											
						<strong>Disability or access needs: </strong>Yes<br/>												
						<a href="view-request">View booking</a>
					</div>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
				</div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="#">Christopher Jackson</a>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>School experience subject: </strong>Chemistry<br/>
						<strong>Start date: </strong>04 February 2019<br/>											
						<strong>Status: </strong>Not attended<br/>
						<strong>DBS Checked: </strong>Yes<br/>											
						<strong>Disability or access needs: </strong>No<br/>												
						<a href="view-request">View booking</a>
						<br>
						<a href="leave-feedback">Leave feedback</a>
					</div>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
				</div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="#">Amit Laghari</a>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>School experience subject: </strong>Maths<br/>
						<strong>Start date: </strong>15 February 2019<br/>											
						<strong>Status: </strong>Confirmed<br/>
						<strong>DBS Checked: </strong>No<br/>											
						<strong>Disability or access needs: </strong>No<br/>												
						<a href="view-request">View booking</a>
						<br>
						<a href="cancel-booking">Cancel booking</a>
					</div>
				</div>
			</div>
		
			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter">
				</div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="#">Sarah Dickens</a>
					</div>
					<div class="govuk-se-dashboard-entry__info">
						<strong>School experience subject: </strong>Biology<br/>
						<strong>Start date: </strong>01 March 2019<br/>											
						<strong>Status: </strong>Confirmed<br/>
						<strong>DBS Checked: </strong>Yes<br/>											
						<strong>Disability or access needs: </strong>No<br/>												
						<a href="view-request">View booking</a>
						<br>
						<a href="cancel-booking">Cancel booking</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
						
{% endblock %}
