{% extends "layout.html" %}
{% import "sections.html" as s %}
{% import "schools/candidate-request.html" as candidate_request %}

{% block pageTitle %}
  Candidate Requests
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
  Requests
</h1>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Status key
    </span>
  </summary>
  <div class="govuk-details__text">
		<table class="govuk-table">
		  <thead class="govuk-table__head">
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="col"></th>
		      <th class="govuk-table__header" scope="col"></th>
		    </tr>
		  </thead>
		  <tbody class="govuk-table__body">
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></th>
		      <td class="govuk-table__cell">An item requiring your attention</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--available">new</strong></th>
		      <td class="govuk-table__cell">New request from candidate - requires your decision</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--default">rejected</strong></th>
		      <td class="govuk-table__cell">Request was rejected by your school</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--unavailable">Withdrawn</strong></th>
		      <td class="govuk-table__cell">Request was withdrawn by the candidate</td>
		    </tr>
		  </tbody>
		</table>
  </div>
</details>


<div class="govuk-tabs" data-module="tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#new">
        New (5)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#withdrawn">
        Withdrawn (5)
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#archived">
        Rejected
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#all">
        All (10)
      </a>
    </li>
  </ul>
	
  <section class="govuk-tabs__panel" id="all">
<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="header govuk-table__header app-custom-class" scope="col"></th>
			<th class="header govuk-table__header app-custom-class" scope="col">Name</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Date received</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Subject</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Status</th>
			<th class="header govuk-table__header app-custom-class" scope="col"></th>
		</tr>
	</thead>
	<tbody class="cancelled-booking govuk-table__body">
		<h2 class="govuk-heading-m">All</h2>
		<nav class="pagination" role="navigation" aria-label="pager">  
<span class="page current">1</span>
<span class="page"><a rel="next" href="">2</a></span>
<span class="page"><a rel="next" href="">3</a></span>
<span class="next"><a rel="next" href="">Next</a></span>
		</nav>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">John O'hanrahan</td>
			<td class="govuk-table__cell">24 October 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>		
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Jacob Sterling</td>
			<td class="govuk-table__cell">11 October 2019</td>
			<td class="govuk-table__cell">Biology</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Matthew Richards</td>
			<td class="govuk-table__cell">1 October 2019</td>
			<td class="govuk-table__cell">Chemistry</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">James Smith</td>
			<td class="govuk-table__cell">14 September 2019</td>
			<td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Paul Baker</td>
			<td class="govuk-table__cell">13 September 2019</td>
			<td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Gaye Jones</td>
			<td class="govuk-table__cell">11 September 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Sarah Toole</td>
			<td class="govuk-table__cell">10 September 2019</td>
			<td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Linda McKinzie</td>
			<td class="govuk-table__cell">8 September 2019</td>
			<td class="govuk-table__cell">English</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Michelle Hampson</td>
			<td class="govuk-table__cell">4 September 2019</td>
			<td class="govuk-table__cell">RE</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Faye Riley</td>
			<td class="govuk-table__cell">3 September 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Michael Gilmore</td>
			<td class="govuk-table__cell">1 September 2019</td>
			<td class="govuk-table__cell">History</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Jane Godley</td>
			<td class="govuk-table__cell">28 August 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
	</tbody>
</table>
		<nav class="pagination" role="navigation" aria-label="pager">  
<span class="page current">1</span>
<span class="page"><a rel="next" href="">2</a></span>
<span class="page"><a rel="next" href="">3</a></span>
<span class="next"><a rel="next" href="">Next</a></span>
		</nav>
  </section>
	
	
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="new">
<table class="govuk-table">
			<h2 class="govuk-heading-m">New</h2>
					<nav class="pagination" role="navigation" aria-label="pager">  
			<span class="page current">1</span>
			<span class="page"><a rel="next" href="">2</a></span>
			<span class="page"><a rel="next" href="">3</a></span>
			<span class="next"><a rel="next" href="">Next</a></span>
					</nav>
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="header govuk-table__header app-custom-class" scope="col"></th>
			<th class="header govuk-table__header app-custom-class" scope="col">Name</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Date received</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Subject</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Status</th>
			<th class="header govuk-table__header app-custom-class" scope="col"></th>
		</tr>
	</thead>
	<tbody class="cancelled-booking govuk-table__body">
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Jacob Sterling</td>
			<td class="govuk-table__cell">11 October 2019</td>
			<td class="govuk-table__cell">Biology</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Matthew Richards</td>
			<td class="govuk-table__cell">1 October 2019</td>
			<td class="govuk-table__cell">Chemistry</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Paul Baker</td>
			<td class="govuk-table__cell">13 September 2019</td>
			<td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Sarah Toole</td>
			<td class="govuk-table__cell">10 September 2019</td>
			<td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Michelle Hampson</td>
			<td class="govuk-table__cell">4 September 2019</td>
			<td class="govuk-table__cell">RE</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--available">new</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
		</tr>
	</tbody>
</table>
		<nav class="pagination" role="navigation" aria-label="pager">  
<span class="page current">1</span>
<span class="page"><a rel="next" href="">2</a></span>
<span class="page"><a rel="next" href="">3</a></span>
<span class="next"><a rel="next" href="">Next</a></span>
		</nav>
  </section>
	
	
	
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="withdrawn">
<table class="govuk-table">
	<thead class="govuk-table__head">
				<h2 class="govuk-heading-m">Withdrawn</h2>
						<nav class="pagination" role="navigation" aria-label="pager">  
				<span class="page current">1</span>
				<span class="page"><a rel="next" href="">2</a></span>
				<span class="page"><a rel="next" href="">3</a></span>
				<span class="next"><a rel="next" href="">Next</a></span>
						</nav>
		<tr class="govuk-table__row">
			<th class="header govuk-table__header app-custom-class" scope="col"></th>
			<th class="header govuk-table__header app-custom-class" scope="col">Name</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Date received</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Subject</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Status</th>
			<th class="header govuk-table__header app-custom-class" scope="col"></th>
		</tr>
	</thead>
	<tbody class="cancelled-booking govuk-table__body">
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">John O'hanrahan</td>
			<td class="govuk-table__cell">24 October 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">James Smith</td>
			<td class="govuk-table__cell">14 September 2019</td>
			<td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Gaye Jones</td>
			<td class="govuk-table__cell">11 September 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>	
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Linda McKinzie</td>
			<td class="govuk-table__cell">8 September 2019</td>
			<td class="govuk-table__cell">English</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
		<tr class="bold-line govuk-table__row">
			<td class="govuk-table__header" scope="row"><img src="/public/images/dot.png" width="19" height="46" alt="new"></td>
			<td class="govuk-table__cell">Faye Riley</td>
			<td class="govuk-table__cell">3 September 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>	
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Michael Gilmore</td>
			<td class="govuk-table__cell">1 September 2019</td>
			<td class="govuk-table__cell">History</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Jane Godley</td>
			<td class="govuk-table__cell">28 August 2019</td>
			<td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-cancelled" class="govuk-link">View</a></td>
		</tr>
	</tbody>
</table>
		<nav class="pagination" role="navigation" aria-label="pager">  
<span class="page current">1</span>
<span class="page"><a rel="next" href="">2</a></span>
<span class="page"><a rel="next" href="">3</a></span>
<span class="next"><a rel="next" href="">Next</a></span>
		</nav>
  </section>
	
	
	
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archived">	
<table class="govuk-table">
	<thead class="govuk-table__head">
				<h2 class="govuk-heading-m">Rejected</h2>
						<nav class="pagination" role="navigation" aria-label="pager">  
				<span class="page current">1</span>
				<span class="page"><a rel="next" href="">2</a></span>
				<span class="page"><a rel="next" href="">3</a></span>
				<span class="next"><a rel="next" href="">Next</a></span>
						</nav>
		<tr class="govuk-table__row">
			<th class="header govuk-table__header app-custom-class" scope="col"></th>
			<th class="header govuk-table__header app-custom-class" scope="col">Name</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Experience date</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Subject</th>
			<th class="header govuk-table__header app-custom-class" scope="col">Status</th>
			<th class="header govuk-table__header app-custom-class" scope="col"></th>
		</tr>
	</thead>
	<tbody class="cancelled-booking govuk-table__body">
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Peter Campbell-Jones</td>
			<td class="govuk-table__cell">25 September 2019</td>
			<td class="govuk-table__cell">Health and social care</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--default">rejected</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-rejected" class="govuk-link">View</a></td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Juan Dominguez</td>
			<td class="govuk-table__cell">19 September 2019</td>
			<td class="govuk-table__cell">Spanish</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--default">rejected</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-rejected" class="govuk-link">View</a></td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Paul Hubris</td>
			<td class="govuk-table__cell">14 September 2019</td>
			<td class="govuk-table__cell">French</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--default">rejected</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-rejected" class="govuk-link">View</a></td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Richard Finely</td>
			<td class="govuk-table__cell">9 September 2019</td>
			<td class="govuk-table__cell">Spanish</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--default">rejected</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-rejected" class="govuk-link">View</a></td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Carlos Gutierrez</td>
			<td class="govuk-table__cell">5 September 2019</td>
			<td class="govuk-table__cell">PE</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--default">rejected</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-rejected" class="govuk-link">View</a></td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__header" scope="row"></td>
			<td class="govuk-table__cell">Richard Hare</td>
			<td class="govuk-table__cell">1 September 2019</td>
			<td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--default">rejected</strong></td>
			<td class="govuk-table__cell"><a href="/booking/profile-rejected" class="govuk-link">View</a></td>
		</tr>
	</tbody>
	</table>	
			<nav class="pagination" role="navigation" aria-label="pager">  
	<span class="page current">1</span>
	<span class="page"><a rel="next" href="">2</a></span>
	<span class="page"><a rel="next" href="">3</a></span>
	<span class="next"><a rel="next" href="">Next</a></span>
			</nav>
  </section>
</div>







<p><a class="govuk-button button" href="/schools/school-dashboard-lean">Return to manage school experience</a></p>

<p><a class="govuk-button govuk-button--warning" href="/schools/school-requests-on-radio">Turn all requests off</a></p>

        </main>
      </div>
<!--
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag">'X' days old</strong></th>
		      <td class="govuk-table__cell">Number of days that have passed since the request was made - requires your decision</td>
		    </tr>
			    <tr class="govuk-table__row">
			      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--default">archived</strong></th>
			      <td class="govuk-table__cell">The request has expired and now archived</td>
			    </tr>
-->
					

{% endblock %}
