{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You've successfully set up your school experience profile
          </h1>
          <div class="govuk-panel__body">

          </div>
        </div>
<br>
      <h3 class="govuk-heading-m">What happens next</h3>

      <p>You’ve provided us with all the details so candidates can start sending you school experience requests. </p>
<p>You’ll receive confirmation emails when candidates have made a school experience request and you'll be provided with their:</p>

<ul class="govuk-list govuk-list--bullet">
<li>full name and contact details - including address, email and telephone number</li>
<li>school experience requirements - including preferred dates and subjects</li>
<li>teaching experience - including how far they've got towards becoming a teacher</li>
</ul>

<p class="govuk-body">
  <strong>You should try and respond to requests within 10 working days.</strong>
  </p>

<h3 class="govuk-heading-m">View and update your school experience details</h3>

<ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/booking/profile?id=3">School experience profile</a></li>

           <li><a class="govuk-link" href="/schools/school-dashboard">Requests and bookings</a></li>

           <li><a class="govuk-link" href="/schools/signout">Sign out</a></li>
</ul>

















      </div>


      </form>

    </div>
  </div>
{% endblock %}
