{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You've set up your profile
          </h1>
          <div class="govuk-panel__body">

          </div>
        </div>
<br>
<!--   
	    <h3 class="govuk-heading-m">What happens next</h3>

      <p>You’ve provided all the relevant details to start receiving requests from candidates.</p>
-->
<p>You can now receive school experience requests from candidates.</p>      
<p class="govuk-body">
        <strong>Try and respond to requests within 10 working days during term time.</strong>
        </p>
			<a href="/schools/school-dashboard-zero" class="govuk-button">Manage requests and bookings</a>




















      </div>


      </form>

    </div>
  </div>
{% endblock %}
