{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            You've successfully set up your school experience profile
          </h1>
          <div class="govuk-panel__body">

          </div>
        </div>
<br>
      <h3 class="govuk-heading-m">What happens next</h3>

      <p>You’ve provided us with all the details so candidates can start sending you school experience requests. </p>
<p>You’ll receive confirmation emails when a request has been made and to help you decide whether to book candidates on an experience you'll be provided with their:</p>

<ul class="govuk-list govuk-list--bullet">
<li>full name and contact details - including address, email and telephone number</li>
<li>placement requirements - including preferred placement length, dates and subjects</li>
<li>teaching experience and motivations - including how far they've got towards becoming a teacher and why they want to teach</li>
</ul>

<p class="govuk-inset-text">You should respond to any requests within [XX] working days.</p>

<h3 class="govuk-heading-m">View and update your school experience details</h3>

<ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/booking/profile?id=3">School experience profile</a></li>

           <li><a class="govuk-link" href="/booking/dashboard">School experience dashboard</a></li>

           <li><a class="govuk-link" href="/schools/signout">Sign out</a></li>
</ul>

















      </div>


      </form>

    </div>
  </div>
{% endblock %}
