{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


<form action="/booking/" method="post" class="form">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Send school experience cancellation </h1>

            <p>You’ve confirmed the reasons for cancelling the school experience booking at your school for {{ data['full-name'] }}.</p>

						<p>The following contains the wording of the email which will be sent to them to let them know their booking has been cancelled.</p>

            <p>You can change any of the details ahead of sending this message by simply editing or adding in any extra details in the following text box.</p>

            <h2 class="govuk-heading-s">Read and update rejection email </h2>
            <div class="govuk-form-group">
                <textarea class="govuk-textarea" id="more-detail1" name="more-detail" rows="8" aria-describedby="more-detail-hint">

Dear [INSERT CANDIDATE NAME],

Your booking for school experience at [INSERT SCHOOL NAME] has been cancelled for the following reasons:

[INSERT CANCELLATION REASON FROM SCHOOL HERE]
If you have any questions about this decision contact [INSERT SCHOOL EXPERIENCE ADMIN CONTACT DETAILS].

You can still apply to other schools for placements. If you need support call the Teaching Line on [INSERT TELEPHONE NUMBER].


                </textarea>
          </div>

					<h2 class="govuk-heading-s">Send cancellation email to {{ data['full-name'] }} </h2>
          <a href="school-cancel-complete" class="govuk-button">Send booking cancellation</a>


          <br>
          <a class="govuk-link" href="/schools/school-dashboard">Requests and bookings</a>
					<br>
      </form>



    </div>

</div>





      </div>
  </div>


{% endblock %}
