{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset">


				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
					<h1 class="govuk-fieldset__heading">
						Newton Heath School
					</h1>
				</legend>
				<a class="govuk-link" href="/booking/associate?id=2">Change school</a>
				<br>
				<br>
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">
						Your requests and bookings
					</h2>
				</legend>
			</fieldset>
		</div>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<div class="govuk-se-dashboard pink">
    	<div class="govuk-se-dashboard__row govuk-se-dashboard__row--header">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader">
				</div>
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--heading">
					<h2>Requests</h2>
					<div>Oldest first</div>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="/booking/profile-request1">Matthew Richards</a>
					</div>

					<dl class="govuk-summary-list">
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Degree subject
							</dt>
							<dd class="govuk-summary-list__value">
								Maths
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Dates available
							</dt>
							<dd class="govuk-summary-list__value">
								Any time during March 2019
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								DBS certificate
							</dt>
							<dd class="govuk-summary-list__value">
								Yes
					    </dd>
						</div>
								  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Request received
							</dt>
							<dd class="govuk-summary-list__value">
								01 January 2019
					    </dd>
						</div>
					</dl>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="/booking/profile-request2">Jacob Sterling</a>
					</div>

					<dl class="govuk-summary-list">
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Degree subject
							</dt>
							<dd class="govuk-summary-list__value">
								Biology
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Dates available
							</dt>
							<dd class="govuk-summary-list__value">
								20 to 27 March, 6 to 25 April and 5 until 20 May 2019
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								DBS certificate
							</dt>
							<dd class="govuk-summary-list__value">
								Yes
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Request received
							</dt>
							<dd class="govuk-summary-list__value">
								15 January 2019
					    </dd>
						</div>
					</dl>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="/booking/profile-request4">Ashley Bourne</a>
					</div>

					<dl class="govuk-summary-list">
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Degree subject
							</dt>
							<dd class="govuk-summary-list__value">
								Chemistry
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Dates available
							</dt>
							<dd class="govuk-summary-list__value">
								All of April through to 25 May and any time during September
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								DBS certificate
							</dt>
							<dd class="govuk-summary-list__value">
								No
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Request received
							</dt>
							<dd class="govuk-summary-list__value">
								30 January 2019
					    </dd>
						</div>
					</dl>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="/booking/profile-request3">Priya Acharya</a>
					</div>

					<dl class="govuk-summary-list">
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Degree subject
							</dt>
							<dd class="govuk-summary-list__value">
								English
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Dates available
							</dt>
							<dd class="govuk-summary-list__value">
								15 to 18 March, 5 to 10 April, 1 to 15 May, 1 to 15 June
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								DBS certificate
							</dt>
							<dd class="govuk-summary-list__value">
								No
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Request received
							</dt>
							<dd class="govuk-summary-list__value">
								31 January 2019
					    </dd>
						</div>
					</dl>
				</div>
			</div>

		</div>

	</div>


	<div class="govuk-grid-column-one-half">

  	<div class="govuk-se-dashboard green">
			<div class="govuk-se-dashboard__row govuk-se-dashboard__row--header">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader">
				</div>
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--heading">
					<h2>Bookings</h2>
					<div>Latest first</div>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="/booking/profile2-template">Jessica Harrington</a>
					</div>

					<dl class="govuk-summary-list">
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Degree subject
							</dt>
							<dd class="govuk-summary-list__value">
								English
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Start date
							</dt>
							<dd class="govuk-summary-list__value">
								01 February 2019
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Status
							</dt>
							<dd class="govuk-summary-list__value">
								Confirm attendance
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								DBS certificate
							</dt>
							<dd class="govuk-summary-list__value">
								No
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Disability or access needs
							</dt>
							<dd class="govuk-summary-list__value">
								Yes
					    </dd>
						</div>
					</dl>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="/booking/profile5-template">Christopher Jackson</a>
					</div>

					<dl class="govuk-summary-list">
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Degree subject
							</dt>
							<dd class="govuk-summary-list__value">
								Chemistry
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Start date
							</dt>
							<dd class="govuk-summary-list__value">
								04 February 2019
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Status
							</dt>
							<dd class="govuk-summary-list__value">
								Not attended
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								DBS certificate
							</dt>
							<dd class="govuk-summary-list__value">
								Yes
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Disability or access needs
							</dt>
							<dd class="govuk-summary-list__value">
								No
					    </dd>
						</div>
					</dl>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="/booking/profile3-template">Amit Laghari</a>
					</div>

					<dl class="govuk-summary-list">
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Degree subject
							</dt>
							<dd class="govuk-summary-list__value">
								Maths
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Start date
							</dt>
							<dd class="govuk-summary-list__value">
								15 February 2019
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Status
							</dt>
							<dd class="govuk-summary-list__value">
								Confirmed
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								DBS certificate
							</dt>
							<dd class="govuk-summary-list__value">
								No
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Disability or access needs
							</dt>
							<dd class="govuk-summary-list__value">
								No
					    </dd>
						</div>
					</dl>
				</div>
			</div>

			<div class="govuk-se-dashboard__row">
				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--leader counter"></div>

				<div class="govuk-se-dashboard__cell govuk-se-dashboard__cell--data">
					<div class="govuk-se-dashboard-entry__heading">
						<a href="/booking/profile4-template">Sarah Dickens</a>
					</div>

					<dl class="govuk-summary-list">
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Degree subject
							</dt>
							<dd class="govuk-summary-list__value">
								Biology
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Start date
							</dt>
							<dd class="govuk-summary-list__value">
								01 March 2019
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Status
							</dt>
							<dd class="govuk-summary-list__value">
								Confirmed
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								DBS certificate
							</dt>
							<dd class="govuk-summary-list__value">
								No
					    </dd>
						</div>
					  <div class="govuk-summary-list__row">
					    <dt class="govuk-summary-list__key">
								Disability or access needs
							</dt>
							<dd class="govuk-summary-list__value">
								No
					    </dd>
						</div>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
