{% extends "layout.html" %}
{% import "sections.html" as s %}
{% import "schools/notification-circle.html" as notification %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row" id="school-dashboard">

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Manage requests and bookings at Newton Heath School
    </h1>
    <p><a href="/schools/change-school" class="">Change school</a></p>



		<div class="blue-banner">
			<div class="govuk-warning-text">
			  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			  <strong class="govuk-warning-text__text">
			    <span class="govuk-warning-text__assistive">Note</span>
			    You have no dates set up so your school won't be displayed in search results
					<br><a href="/schools/set-date-preference"> Choose how dates are displayed</a>
			  </strong>
			</div><em></em>
		</div>



	 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {{ notification.count("/schools/school-requests-ver5", "Requests", 0, "Accept and reject new requests, view old requests and turn requests on / off.") }}

<br>

    {{ notification.count("/schools/manage-bookings-all-ver2", "Bookings", 0, "Update and cancel bookings, send reminders and confirm candidate attendance.") }}

<br>

    {{ notification.count("/schools/confirm-attendance-lean", "Attendance", 0, "Confirm if candidates have attended their school experience.") }}
    
<br>
    <a href="/schools/school-edit-dates-lean" class="govuk-heading-m govuk-heading-s-no-margin">Dates</a>
    <p class="govuk-hint">Add and update dates, change how they're displayed on your profile and open / close dates.</p>  

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	<section>

      <h3 class="govuk-heading-m">Administration</h3>

      <a href="/schools/school-requests-on-radio" class="govuk-heading-s govuk-heading-s-no-margin">Turn requests on / off</a>
      <p class="govuk-hint">Start / stop receiving requests from candidates.</p>

      <a href="/schools/check-profile-school" class="govuk-heading-s govuk-heading-s-no-margin">View and update school profile</a>
      <p class="govuk-hint">Add, edit and remove school profile details.</p>
      
      <a href="/schools/manage-email" class="govuk-heading-s govuk-heading-s-no-margin">Manage email alerts</a>
      <p class="govuk-hint">Receive alerts instantly or in a daily round-up.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">Help and support</h3>

    <a href="/schools/service-update-changes" class="govuk-heading-s govuk-heading-s-no-margin">Service updates and guidance</a>
    <p class="govuk-hint">Find out about the latest changes to the service and how it works.</p>

    <a href="/schools/contact-us" class="govuk-heading-s govuk-heading-s-no-margin">Contact us</a>
    <p class="govuk-hint">Get in touch if you need help using the service.</p>


    <a href="/booking/feedback-school" class="govuk-heading-s govuk-heading-s-no-margin">Give feedback on this service</a>
    <p class="govuk-hint">Help us improve the manage school experience service.</p>

  </div>
</div>
{% endblock %}
