{% extends "layout-internal-booking-iteration.html" %}

{% block pageTitle %}
XXXXXXXXXXXXXXXXXXXXXXXXX
{% endblock %}

{% block beforeContent %}
  <!--<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


<form action="/booking/" method="post" class="form">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Confirm school experience rejection </h1>

            <p>
              You’ve confirmed the reasons for rejecting the request for school experience at your school by {{ data['full-name'] }}.
            </p>
						<p>
The following contains the wording of the email which will be sent to them to let them know their request has been turned down.
						</p>
						<p>
							You can change any of the details ahead of sending this message by simply editing or adding in any extra details in the following text box.
						</p>
            <h2 class="govuk-heading-s">Read and update rejection email </h2>
            <div class="govuk-form-group">
                <textarea class="govuk-textarea" id="more-detail1" name="more-detail" rows="8" aria-describedby="more-detail-hint">

The request you made for school experience at [INSERT SCHOOL NAME] has been turned down for the following reasons:

[INSERT REJECTION REASON FROM SCHOOL HERE]
If you have any questions about this decision contact [INSERT SCHOOL EXPERIENCE ADMIN CONTACT DETAILS].

You can still apply to other schools for placements. If you need support call the Teaching Line on [INSERT TELEPHONE NUMBER].

                </textarea>
          </div>


          <!-- End Form -->
					<h2 class="govuk-heading-s">Send rejection email to {{ data['full-name'] }} </h2>
          <a href="noti-sent?id=5" class="govuk-button">Send request rejection</a>


          <br>
          <a class="govuk-link" href="/schools/school-dashboard">Requests and bookings</a>
					<br>
					<br>
          <a class="govuk-link" href="{{data['candidate-profile-page']}}&id=5">Back to request</a>
          <br>
      </form>



    </div>

</div>

<!--
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full emails">
          <h2 class="govuk-heading-m">Email to {{ data['full-name'] }}</h2>
          <div class="divider"></div>
          <div class="noti-template">
              This email is using the "Reject booking" template.
          </div>
          <div class="divider"></div>
      </div>
  </div>
-->

<!--
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <strong>Subject:</strong> Your school experience placement request has been turned down

          The placement you requested at Abraham Moss Community School for {{ data['candidate-booking-dates'] }} has been rejected.</p>

              If you have any questions about this decision contact John Lewis at Abraham Moss Community School on 0161 123 4567 or at info@central.co.uk


          <div class="divider"></div>

-->




      </div>
  </div>


{% endblock %}
