{% extends "layout.html" %}
{% import "sections.html" as s %}
{% import "schools/candidate-request.html" as candidate_request %}

{% block pageTitle %}
  Candidate Requests
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">
      Manage requests
    </h1>



<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Status key
    </span>
  </summary>
  <div class="govuk-details__text">
		<table class="govuk-table">
		  <thead class="govuk-table__head">
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="col"></th>
		      <th class="govuk-table__header" scope="col"></th>
		    </tr>
		  </thead>
		  <tbody class="govuk-table__body">
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag">new</strong></th>
		      <td class="govuk-table__cell">New request from candidate - requires your decision</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag">accepted</strong></th>
		      <td class="govuk-table__cell">You have accepted their request and they are due to appear on the date shown</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag">'X' days old</strong></th>
		      <td class="govuk-table__cell">Number of days that have passed since the request was made</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--unavailable">rejected</strong></th>
		      <td class="govuk-table__cell">Request was rejected by your school</td>
		    </tr>
		    <tr class="govuk-table__row">
		      <th class="govuk-table__header" scope="row"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></th>
		      <td class="govuk-table__cell">Request was withdrawn by the candidate</td>
		    </tr>
		  </tbody>
		</table>
  </div>
</details>



<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">Name</th>
			<th class="govuk-table__header app-custom-class" scope="col">School experience date</th>
      <th class="govuk-table__header app-custom-class" scope="col">Subject</th>
      <th class="govuk-table__header app-custom-class" scope="col">Status</th>
      <th class="govuk-table__header app-custom-class" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <colgroup>
        <col span="" class="name">
        <col>
        <col span="" class="subject">
    </colgroup>

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Jacob Sterling</th>
      <td class="govuk-table__cell"><strong>11 October 2019</td>			
      <td class="govuk-table__cell">Biology</td>
			<td class="govuk-table__cell"><strong class="govuk-tag">new</strong></td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Matthew Richards</th>
      <td class="govuk-table__cell"><strong>1 October 2019</td>			
      <td class="govuk-table__cell">Chemistry</td>
			<td class="govuk-table__cell"><strong class="govuk-tag">new</strong></td>			
      <td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Ellie Simpson</th>
      <td class="govuk-table__cell"><strong>15 September 2019</td>
      <td class="govuk-table__cell">Media studies</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag">accepted</strong></td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Paul Baker</th>
      <td class="govuk-table__cell"><strong>13 September 2019</td>
      <td class="govuk-table__cell">Maths</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag">7 days old</strong></td>			
      <td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Juan Dominguez</th>
      <td class="govuk-table__cell"><strong>10 September 2019</td>
      <td class="govuk-table__cell">Spanish</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag">23 days old</strong></td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Peter Campbell-Jones</th>
      <td class="govuk-table__cell"><strong>5 September 2019</td>
      <td class="govuk-table__cell">Health and social care</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">rejected</strong></td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">John O'hanrahan</th>
      <td class="govuk-table__cell"><strong>3 September 2019</td>
      <td class="govuk-table__cell">Physics</td>
			<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--unavailable">withdrawn</strong></td>
      <td class="govuk-table__cell"><a href="/booking/profile-request2-note" class="govuk-link">View</a></td>
    </tr>
		
  </tbody>
</table>


	<p class="govuk-body govuk-!-font-size-19"><a href="/schools/school-requests-on-radio" class="govuk-link">Turn requests on / off</a><p>

<br>




<p><a class="govuk-button button" href="/schools/school-dashboard?request-count=7&change-count=7">Return to manage school experience</a></p>




        </main>
      </div>


{% endblock %}
