{% extends "layout.html" %}
{% import "sections.html" as s %}
{% import "schools/notification-circle.html" as notification %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row" id="school-dashboard">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Schools manager
    </h1>


		<p>
			Select a school to manage requests, bookings, notices and edit its profile.</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-24">Newton Heath School</a><br>
<strong class="govuk-tag govuk-tag--available">
  Accepting requests
</strong>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-24">Ellen Wilkinson High School</a><br>
<strong class="govuk-tag govuk-tag--available">
  Accepting requests
</strong>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-24">Buile Hill Visual Arts College</a><br>
<strong class="govuk-tag govuk-tag--unavailable">
  Not accepting requests
</strong>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-24">Barton Moss Community Primary School</a><br>
		<strong class="govuk-tag govuk-tag--available">
		  Accepting requests
		</strong>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-18">Read about service updates and changes</a>
    <hr class="govuk-section-break govuk-section-break--m">

    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-18">Get help and support</a>
    <hr class="govuk-section-break govuk-section-break--m">

    <a href="#" class="govuk-!-font-weight-bold govuk-!-font-size-18">Give feedback on this service</a>
		
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
		
		    <a href="#" class="govuk-body">Add new school</a>
				<p>Request to view and update another school’s requests and bookings</p>

				
  </div>
</div>
{% endblock %}
