{% extends "layout.html" %}
{% import "sections.html" as s %}
{% import "schools/candidate-request.html" as candidate_request %}

{% block pageTitle %}
  Candidate Requests
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">
      Date manager
    </h1>

<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">Date</th>
			<th class="govuk-table__header app-custom-class" scope="col">Duration</th>
			<th class="govuk-table__header app-custom-class" scope="col">Status</th>
      <th class="govuk-table__header app-custom-class" scope="col"></th>
      <th class="govuk-table__header app-custom-class" scope="col"></th>		
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <colgroup>
        <col span="" class="name">
        <col>
        <col span="" class="subject">
    </colgroup>
		
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1 October 2019</th>
			<td class="govuk-table__cell">1 day</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">available</strong>
			</td>
      <td class="govuk-table__cell"><a href="/schools/availability-start-date-edit" class="govuk-link">Change</a></td>		
		
    </tr>		

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1 October 2019</th>
			<td class="govuk-table__cell">1 day</td>			
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--unavailable">taken</strong>
			</td>
      <td class="govuk-table__cell"><a href="/schools/availability-start-date-edit" class="govuk-link">Change</a></td>		
		
    </tr>		

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">30 September 2019</th>
			<td class="govuk-table__cell">1 day</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">available</strong>
			</td>
      <td class="govuk-table__cell"><a href="/schools/availability-start-date-edit" class="govuk-link">Change</a></td>		
		
    </tr>		
		
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">29 September 2019</th>
			<td class="govuk-table__cell">2 days</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--unavailable">taken</strong>
			</td>
      <td class="govuk-table__cell"><a href="/schools/availability-start-date-edit" class="govuk-link">Change</a></td>		
		
    </tr>		
		
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">15 September 2019</th>
			<td class="govuk-table__cell">1 day</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--available">available</strong>
			</td>
      <td class="govuk-table__cell"><a href="/schools/availability-start-date-edit" class="govuk-link">Change</a></td>		
		
    </tr>		
		
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">10 September 2019</th>
			<td class="govuk-table__cell">3 days</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--default">offline</strong>
			</td>
      <td class="govuk-table__cell"><a href="/schools/availability-start-date-edit" class="govuk-link">Change</a></td>		
		
    </tr>		
		
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1 September</th>
 			<td class="govuk-table__cell">1 day</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--default">offline</strong>
			</td>
      <td class="govuk-table__cell"><a href="/schools/availability-start-date-edit" class="govuk-link">Change</a></td>		
		
    </tr>										
  </tbody>
</table>
<p><a class="govuk-button button" href="/schools/availability-start-date-edit">Add new placement date</a></p>
<p><a class="govuk-button button-grey cta" href="/schools/school-dashboard?request-count=2&change-count=1">Return to dashboard</a></p>


{% endblock %}
