{% extends "layout.html" %} {% block pageTitle %} Blank page {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({ tag: { text: "alpha" }, html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a> {% endblock %} {% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Service updates and guidance - [INSERT DATE OF LAST SERVICE UPDATES]</h1>

        <p>Find out about the latest changes to the manage school experience service.</p>

        <h1 class="govuk-heading-m">New management tool</h1>

        <p>We’ve updated the management tool on the service so you can now:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>manage requests - including accepting and rejecting requests with automatic email confirmations sent to candidates</li>
          <li>manage bookings - including cancelling bookings with automatic email confirmations sent to candidates</li>
          <li>confirm candidate attendance - so you can help us reduce the number of candidate no-shows</li>
          <li>manage dates - including adding, editing and disabling fixed dates for candidates</li>
          <li>update school profiles - including adding, editing and removing school profile details</li>
        </ul>

<h1 class="govuk-heading-m">A N Other 1</h1>

<p>Explain other stuff....</p>

<h1 class="govuk-heading-m">A N Other 2</h1>

<p>Explain other stuff....</p>

<h1 class="govuk-heading-m">Help and support</h1>

<p>If you’ve got any feedback, questions or would like to take part in user testing email our School Experience Service team with your URN at <a href="mailto:organise.school-experience@education.gov.uk">organise.school-experience@education.gov.uk</a>.</p>

        <p> <a href="" class="">Back to requests and bookings</a></p>
    </div>

    <div class="govuk-grid-column-one-third app-related-items ">
        <h3 class="govuk-heading-m">Service guidance</h3>
        <p>Find out more about the service and how it works.</p>
        <p class="govuk-body">
            <a href="https://www.gov.uk/government/publications/school-experience-programme-information-for-schools">Manage school experience: information for schools</a>
        </p>
        <p class="govuk-body">
            <a href="https://help.signin.education.gov.uk/contact">DfE Sign-in help</a>
        </p>

    </div>

</div>

{% endblock %}
