{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

{% endblock %}

{% block content %}





<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Signed out</h1>

        {% if data['school-request'] %}
        <p>
            {{ data['school-request'] }}
        </p>
        {% endif %}

        <p>
            You've signed out of the manage school experience service.
        </p>
        <p>You'll need your DfE Sign-in user ID and password to <a href="dfe-signin" class="">sign back in</a>.</p>




    </div>
</div>




{% endblock %}
