{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<form action="/schools/other-details-continued" method="post" class="form" data-local-save="school-onboarding:specialisms">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Enter a short description of your school </h1>
      <p>Tell us about your school. Provide a summary to help candidates choose your school.</p>
           <details class="govuk-details">
 <summary class="govuk-details__summary">
   <span class="govuk-details__summary-text">
     View description example
   </span>
 </summary>
 <div class="govuk-details__text">
   <p>We’re a thriving community school serving a cosmopolitan community with more than 1,700 pupils.</p>

<p>Our GCSE scores are above the national average and, with multiple languages spoken at our school, we’re highly-skilled in meeting the needs of bilingual children.</p>

<p>We’re a barrier-free school and cater for pupils with movement difficulties while our work with hearing-impaired children is supported by the local authority and other agencies.</p>

<p>We also specialise in art and drama and have strong sporting connections with local community organisations.</p>
 </div>
</details>

      <div class="govuk-form-group">
        <p class="govuk-hint">You can skip this section by selecting continue. You can then enter your description later by selecting 'Update school profile' on your 'Manage requests and bookings' page </p>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">

            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>

          </div>
        </fieldset>
      </div>



      <button type="submit" class="govuk-button">
        Continue
      </button>

    </div>
</div>
</form>


{% endblock %}
