{% extends "layout.html" %}

{% block pageTitle %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

  {{ govukHeader() }}
{% endblock %}



{% block content %}
 <main class="govuk-main-wrapper">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Manage school experience

      </h1>

      <p>
        Use this service if you're a primary or secondary school in England and want to offer and organise school experience for the current academic year.
      </p>


      <p>
        The service will send you requests from people who want to become teachers.
      </p>

      <p class="govuk-!-font-weight-bold">This service is only for managing school experience in England.
      </p>

      <a href="/schools/dfe-signin" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

 <h2 class="govuk-heading-m">Before you start</h2>

 <p>
   To help you decide whether to book them on an experience, you’ll be provided with their:
 </p>

 <ul class="govuk-list govuk-list--bullet">
   <li>full name and contact details - including address, email and telephone number</li>
   <li>individual requirements - including any accessibility requirements and preferred experience length, dates and subjects</li>
   <li>teaching experience and motivations - including how far they've got towards becoming a teacher and why they want to teach</li>
 </ul>


   <p class="govuk-!-font-weight-bold">
   You'll be told if they’ve undergone a Disclosure and Barring Service (DBS) check. These details will not be verified by DfE.
 </p>

   <p class="govuk-!-font-weight-bold">
    It's your responsibility to decide if they comply with your individual school safeguarding policies and whether to accept their request.
 </p>

 <p >
   To help cover costs, you can charge fees for school experience. You’ll need to sort out payment direct between yourselves and the individual candidate.
 </p>

      <p>
        If you’d like to manage your school experience through this service, you’ll need to provide various placement details including:

      </p>
      <ul class="govuk-list govuk-list--bullet">

      <li>
        your available placement dates and subjects
      </li>
      <li>
         your DBS-check requirements
      </li>
      <li>
        whether you charge a fee for school experience
      </li>
        </ul>
      <p>


      </p>



    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/government/publications/school-experience-programme-information-for-schools">
                School experience programme: information for schools
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>
{% endblock %}
