{% extends "layout.html" %}

{% block pageTitle %}
Why haven’t you applied yet?
{% endblock %}



{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        {{ govukRadios({
          idPrefix: "applied-yet",
          name: "applied-yet",
          fieldset: {
            legend: {
              text: "Why haven’t you applied yet?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "notsure",
              text: "I’m still not sure if becoming a teacher is the right career choice"
            },
            {
              value: "how",
              text: "I don’t know how"
            },
            {
              value: "right-course",
              text: " I haven’t found the right course"
            }

          ]
        }) }}








        {{ govukButton({
          text: "Save and continue"
        }) }}
      </div>
    </div>

  </main>
</div>


{% endblock %}
