{% extends "layout.html" %}

{% block pageTitle %}
Find out about something else / another subject
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
<p class="outofscope">Out of scope</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Find out about something else / another subject</h1>
          <p>
              You can get free one-to-one support and tailored advice and information about becoming a teacher by:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://getintoteaching.education.gov.uk/get-help-and-support">registering with the Get Into Teaching website</a></li>
            <li>
              calling the Premier Plus adviser service on 0800 389 2500
            </li>
          </ul>
      </div>
    </div>

  </main>
</div>


{% endblock %}
