{% extends "layout.html" %}

{% block pageTitle %}
Check your overseas qualification
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">
<p class="outofscope">Out of scope</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Check your overseas qualification</h1>
            <p>
              You need to check your overseas degree is recognised within the UK if you want to become a teacher.
            </p>

            <p>
              You can check if your degree is a UK recognised equivalent using the following links or information:
            </p>


            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link" href="https://www.gov.uk/government/publications/overseas-degree-equivalency-table-and-methodology">Overseas degree equivalency: table and methodology</a></li>
              <li><a class="govuk-link" href="https://www.qualificationcheck.com">Qualification Check</a></li>
              <li><a class="govuk-link" href="https://www.naric.org.uk">UK National Recognition Information Centre (NARIC)</a></li>
            </ul>




      </div>
    </div>

  </main>
</div>


{% endblock %}
