
{% extends "layout.html" %}

{% block pageTitle %}
  Check if you need a school experience
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}



{% endblock %}



{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Get school experience: step by step
      </h1>


      <p class="govuk-body-l">Find out more about school experience and how to find and book a placement in primary or secondary schools in England.</p>


      <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  1. What is school experience
                </span>
            </summary>
            <div class="govuk-details__text">
              An introduction to school experience and what placements involve.

              <ul class="govuk-list">
                <li>
                  <a class="govuk-link" href="/version1/content-overview">School experience: overview</a>
                </li>
                <li>
                  <a class="govuk-link" href="/version1/content-background">School experience: background and history</a>
                </li>
                <li>
                  <a class="govuk-link" href="/version1/content-types">School experience: types of placement</a>
                </li>

              </ul>
            </div>
      </details>


      <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  2. How school experience can help
                </span>
            </summary>
            <div class="govuk-details__text">
Find out how a school experience placement can help you decide on a career in teaching and become a teacher.

              <ul class="govuk-list">
                 <li>
                   <a class="govuk-link" href="/version1/content-benefits">School experience: the benefits</a>
                 </li>
              </ul>

            </div>

      </details>

      <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                   3. Find and book a school experience placement
                </span>
            </summary>
            <div class="govuk-details__text">

              Check if you’re ready and able to take part in school experience and the ways to organise a placement.
               <ul class="govuk-list">
                   <li>
                     <a class="govuk-link" href="/version1/start-page">Check if you’re eligible for a school experience placement</a>
                   </li>
                   <li>
                     <a class="govuk-link" href="/version1/find-and-book">School experience: ways to get a placement</a>
                   </li>


                </ul>
            </div>
      </details>


      <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  4. Next steps: after school experience
                </span>
            </summary>
            <div class="govuk-details__text">
              Use the School Experience Service and find out the other ways to organise a school experience placement.
              <ul class="govuk-list">
                 <li>
                   <a class="govuk-link" href="#">School experience: provide feedback</a>
                 </li>
                 <li>
                   <a class="govuk-link" href="#">Apply for teacher training</a>
                 </li>
                 <li>
                   <a class="govuk-link" href="#">Premier Plus adviser service</a>
                 </li>
              </ul>
            </div>

      </details>



    </div>
  </div>
{% endblock %}
