{% extends "layout.html" %}

{% block pageTitle %}
  Find and apply for teacher training
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">School experience: types of placement</h1>

<p>
  Each school experience placement is different but there are 3 main types of school experience placement which schools offer.

</p>
<p>
  Depending on the school and the length of your placement, your placement should involve one or all of the following:

</p>
<ul class="govuk-list govuk-list--bullet">
  <li>shadowing a teacher - where you’ll observe a teacher and classroom in action</li>
  <li>supporting a teacher - where you’ll take on a teaching assistant role and actively take part in classroom activities</li>
  <li>supervised teaching - where you’ll take on a teaching role and actively lead classroom activities under the supervision of an experienced teacher
</li>
</ul>

<p>
  However, during your placement you should be presented with the opportunity to at least:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>observe teaching and pastoral work in action across a range of subjects and age groups</li>
  <li>talk to teachers about day-to-day school life and life as a teacher</li>
  <li>    observe other areas of teaching outside of the classroom such as departmental meetings and lesson planning</li>
</ul>

<h2 class="govuk-heading-m">Outline your placement requirements</h2>
<p>
  School experience is not mandatory if you want to become a teacher and there are no set plans as to what each school should offer during a placement.

</p>
<p>
  It’s impossible to set a specific programme suitable for everyone due to each participant’s different level of experience and requirements.

</p>
<p>
  This means, if you do have any specific requirements and things you want to do during your placement, you should raise and arrange these directly with the school.

</p>
<p>
  For example, teaching older pupils or taking part in teaching a certain subject or ability group.

</p>

<h2 class="govuk-heading-m">Types of schools</h2>

<p>
  School experience placements are available from all the following types of schools as long as they’re not in special measure:

</p>


<ul class="govuk-list govuk-list--bullet">
  <li>mainstream secondary schools</li>
  <li>maintained secondary special schools</li>
  <li>primary schools</li>
  <li>secondary academies</li>
  <li>secondary free schools</li>
  <li>secondary pupil referral units</li>
  <li>sixth-form colleges</li>
</ul>


<h2 class="govuk-heading-m">School placement information</h2>

<p>    Ahead of your school experience placement you should receive the following information from the school:
  </p>

<ul class="govuk-list govuk-list--bullet">
  <li> Name and contact details for the person leading your placement</li>
  <li>School location and access details - including the school’s full address and where you need to access the school site</li>
  <li>Start and finish times - including a timetable of what you’ll be doing</li>
  <li>Details of what you need to bring along - For example, proof of identification, any necessary paperwork, pen, paper, laptop etc</li>
  <li>Whether there’s a charge for your placement - To help cover costs, some schools charge for placements. You’ll need to pay the school direct</li>
</ul>

<p>
  Find out more about the benefits of school experience and check if you’re eligible for and how to get a placement:

</p>


<ul class="govuk-list">

   <li>
     <a class="govuk-link" href="/version1/content-benefits">School experience: the benefits</a>
   </li>
   <li>
     <a class="govuk-link" href="/version1/start-page">Check if you’re eligible for a school experience placement</a>
   </li>
   <li>
     <a class="govuk-link" href="/version1/find-and-book">School experience: ways to find and book a placement</a>
   </li>

</ul>






      </div>
    </div>

  </main>
</div>


{% endblock %}
