{% extends "layout.html" %}

{% block pageTitle %}
  Find and apply for teacher training
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">School experience: the benefits</h1>
          <p>
            School experience placements provide people interested in becoming teachers with a valuable insight into what teaching involves on a day-to-day basis.

          </p>
<p>
  They’re an excellent way for anyone with the right qualifications who’s thinking about becoming a teacher to find out what working in a classroom is really like.

</p>
<p>
  They also offer teacher training candidates the opportunity to demonstrate their experience of working with children and young people as part of their application.

</p>
<p>
  If you’re a teacher training candidate, you’ll be tested on your knowledge of the national curriculum for your subject and general teaching methods.

</p>
<p>
  So, if you’re looking to enter initial teacher training (ITT), a good quality school experience placement can help you evidence this as well as your understanding of:

</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the role of a teacher</li>
  <li>creative and innovative teaching styles</li>
  <li>how to tailor lessons to cater for students with different abilities and backgrounds</li>
</ul>

<p>
  how to tailor lessons to cater for students with different abilities and backgrounds
</p>


<ul class="govuk-list">

   <li>
     <a class="govuk-link" href="/version1/content-types">School experience: types of placement</a>
   </li>


   <li>
     <a class="govuk-link" href="/version1/start-page">Check if you’re eligible for a school experience placement</a>
   </li>
   <li>
     <a class="govuk-link" href="/version1/find-and-book">School experience: ways to find and book a placement</a>
   </li>

</ul>




      </div>
    </div>

  </main>
</div>


{% endblock %}
