{% extends "layout.html" %}

{% block pageTitle %}
  Find and apply for teacher training
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


          <h1 class="govuk-heading-xl">School experience: background and history</h1>
          <p>
            School experience was introduced as an educational programme for secondary schools in September 2011.

          </p>
          <p>
            Since September 2012, school experience has been administered online through a central database and in September 2015 it was expanded to offer primary school placements.

          </p>

          <p>
            The programme and the path towards becoming a teacher are supported by the Department for Education’s <a class="govuk-link" href="https://getintoteaching.education.gov.uk/">Get Into Teaching</a> website which offers free support and advice services to anyone who’s interested in taking up teaching as a career.

          </p>
        <p>
          Find out more about school experience and check if you’re eligible for and how to get a placement:
        </p>

          <ul class="govuk-list">

             <li>
               <a class="govuk-link" href="/version1/content-types">School experience: types of placement</a>
             </li>

             <li>
               <a class="govuk-link" href="/version1/content-benefits">School experience: the benefits</a>
             </li>
             <li>
               <a class="govuk-link" href="/version1/start-page">Check if you’re eligible for a school experience placement</a>
             </li>
             <li>
               <a class="govuk-link" href="/version1/find-and-book">School experience: ways to find and book a placement</a>
             </li>

          </ul>








      </div>
    </div>

  </main>
</div>


{% endblock %}
