{% extends "layout.html" %}

{% block pageTitle %}
Find and book a school experience placement
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

<p class="outofscope">Out of scope</p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Find and book a school experience placement</h1>
          <p>
You should consider taking part in school experience so you can get a taste of what it’s like to be a teacher
          </p>
          <p>
            Hundreds of primary and secondary school in England have school experience placements on offer across a range of subjects

          
      </div>
    </div>

  </main>
</div>


{% endblock %}
