{% extends "layout.html" %}

{% block pageTitle %}
  Get into teaching
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">




  <main class="govuk-main-wrapper">

    <p class="outofscope">Out of scope</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Find out more about teaching</h1>
          <p>
            You’ll find guidance and information about careers in teaching and how to become a teacher on the  <a class="govuk-link" href="https://getintoteaching.education.gov.uk/">Get Into Teaching</a> website.
          </p>

          <p>
            You can also register to access a range of free services to help you take the next steps towards a career in teaching.
          </p>
          <p class="govuk-inset-text">
              <a class="govuk-link" href="https://getintoteaching.education.gov.uk/">Register with Get Into Teaching</a>
          </p>


      </div>
    </div>

  </main>
</div>


{% endblock %}
