{% extends "layout.html" %}

{% block pageTitle %}
  How far have you got towards becoming a teacher?
{% endblock %}

x{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/version1/get-into-teaching" method="post" class="form">

        {{ govukRadios({
          idPrefix: "sort-journey",
          name: "howfar",
          fieldset: {
            legend: {
              text: "How far have you got towards becoming a teacher? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "new-to-teach",
              text: "I'm new to teaching and want to find out more about becoming a teacher"
            },
            {
              value: "assessing",
              text: " I'm deciding if becoming a teacher is the right career choice"
            },
            {
              value: "make-decision",
              text: " I need to check if I can to become a teacher and have the right qualifications"
            },
            {
              value: "confirming",
              text: " I've decided I want to become a teacher"
            },
            {
              value: "applying",
              text: "I'm applying for teacher training "
            },
            {
              value: "training",
              text: " I've been accepted on or am currently taking teacher training"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        </form>



      </div>
    </div>

  </main>
</div>


{% endblock %}
