{% extends "layout.html" %}

{% block pageTitle %}
What stage are you at?
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
    
          idPrefix: "placement",
          name: "placement",
          fieldset: {
            legend: {
              text: "What stage are you at? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "notyet",
              text: "I’ve not applied yet"
            },
            {
              value: "applied",
              text: "I’ve applied and waiting for a reply"
            },
            {
              value: "offered",
              text: "I’ve been offered a place on teacher training"
            }

          ]
        }) }}






        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </div>
    </div>

  </main>
</div>


{% endblock %}
