{% extends "layout.html" %}

{% block pageTitle %}
TBC...
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">

<!--p class="outofscope">Out of scope</p>-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Check with your teacher training course</h1>

          <p>
          As you’ve either already been accepted onto teacher training, or are currently taking a course, you probably don’t need to get a school experience placement.
          </p>
          <p>
            We recommend that you contact your teacher training course provider to talk through your school experience needs and requirements.
          </p>
      </div>
    </div>

  </main>
</div>


{% endblock %}
