{% extends "layout.html" %}

{% block pageTitle %}
TBC...
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

<p class="outofscope">Out of scope</p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">TBC...</h1>

          <p>
          USER IS ALREADY ON A TEACHER TRAINING COURSE SO NO SEEMING NEED FOR SCHOOL EXPERIENCE.
          </p>
          <p>
            WHERE DO WE SEND THEM? BACK TO PROVIDER? ANYWHERE ELSE?
          </p>
      </div>
    </div>

  </main>
</div>


{% endblock %}
