{% extends "layout.html" %}

{% block pageTitle %}
 Is your degree a recognised UK equivalent?
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <form action="/version1/find-and-book" method="post" class="form">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "ukrow",
          name: "ukrow",
          fieldset: {
            legend: {
              text: " Is your degree a recognised UK equivalent?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "yes"
            },
            {
              value: "no",
              text: "no"
            }

          ]
        }) }}








        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
      </div>
    </div>

  </main>
</div>


{% endblock %}
