{% extends "layout.html" %}

{% block pageTitle %}
Where did you get your degree?
{% endblock %}



{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


          <form action="/applied-yet" method="post">


        {{ govukRadios({

          idPrefix: "test",
          name: "test",
          fieldset: {
            legend: {
              text: "Testing routes",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "yes it is"
            },
            {
              value: "no",
              text: "no it isnt"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Save and continue"
        }) }}


        </form>


      </div>
    </div>

  </main>
</div>


{% endblock %}
