{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Background and security checks</h1>
      <p>Some schools may ask you to have a criminal record check through the <a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service/about">Disclosure and Barring Service (DBS)</a> before offering you school experience.</p>

      <p>These are commonly known as ‘DBS checks’ and provide you with a ‘DBS certificate’ to show you’re suitable to work with children and young people.</p>

      <p class="govuk-!-font-weight-bold">Schools will let you know if you need to have a DBS check before offering you school experience.</p>

      <p><strong><a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service/about">Find out more about 'DBS checks' and 'DBS certificates'</a></strong>.</p>

                  <!-- ************ Do you have a Disclosure and Barring Service (DBS) check document?  ************* -->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Do you have a DBS certificate?
                  </h1>          </legend>

                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-1" name="dbs" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1" {{'checked' if data['found-in-gitis']}}>
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                      Yes
                    </label>
                  </div>


                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-3" name="dbs" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                      No
                    </label>

                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
                  <div class="govuk-form-group">


                  </div>



                  </div>

                </div>
              </fieldset>
            </div>











            <div class="govuk-form-group">
			<form method="get" action="/register/check-answers">
                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </div>


        </form>

    </div>
  </div>
{% endblock %}
