{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">Check if we already have your details</h1>
      <p>Provide the following information so we can check if we already have your details.</p>



      <form action="/register/personal-details" method="post" class="form">


      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
          Full name
        </label>
        <input class="govuk-input" id="full-name" name="longname" value="{{ data['longname'] }}" type="text">
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint">
      </div>

      <div class="govuk-form-group">
          <button type="submit" class="govuk-button">
          Continue
          </button>
      </div>


      </form>

    </div>
  </div>
{% endblock %}
