{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">We need some more details</h1>
        <p>The following details will be used by schools to help them decide whether to offer you a school experience placement.</p><br />



        <form action="/register/account-info1" method="post" class="form">


            <!-- ************ What stage degree ************* -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            What stage are you at with your degree?
                        </h2>
                    </legend>

                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dont-have" name="degree" type="radio" value="nodegree">
                            <label class="govuk-label govuk-radios__label" for="dont-have">
                                I don't have a degree and am not studying for one
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="graduate" name="degree" type="radio" value="graduate or postgrad">
                            <label class="govuk-label govuk-radios__label" for="graduate">
                                Graduate or postgraduate
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="final" name="degree" type="radio" value="final year">
                            <label class="govuk-label govuk-radios__label" for="final">
                                Final year
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="second" name="degree" type="radio" value="second year">
                            <label class="govuk-label govuk-radios__label" for="second">
                                Second year
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="firstyear" name="degree" type="radio" value="first year">
                            <label class="govuk-label govuk-radios__label" for="firstyear">
                                First year
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="how-contacted-conditional-1" name="degree" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                                Other
                            </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-email">
                                    Explain
                                </label>
                                <input class="govuk-input govuk-!-width-full" id="contact-by-email" name="contact-by-email" type="text">
                            </div>

                        </div>
                    </div>

                </fieldset>
            </div>


            <!-- ************ What subject ************* -->
            <h2 class="govuk-heading-m">
                What subject is your degree in?
            </h2>
            <div class="govuk-form-group">
                <label class="govuk-label" for="degree-subject">Subject</label>
                <div id="degree-subject-autocomplete" class="govuk-!-width-one-half">
                    <select data-validation="degreeSubject" id="degree-subject" name="field_degree_subject[und]" class="govuk-select">
                        <option value="_none">- Start typing the subject name -</option>
                        <option value="3406">Not applicable</option>
                        <option value="1522">Architecture</option>
                        <option value="1523">Art</option>
                        <option value="1655">Astronomy</option>
                        <option value="1524">Bioscience</option>
                        <option value="1526">Business</option>
                        <option value="1662">Chemical engineering</option>
                        <option value="1527">Chemistry</option>
                        <option value="1528">Childcare</option>
                        <option value="1529">Citizenship</option>
                        <option value="1661">Civil engineering</option>
                        <option value="1530">Classical languages</option>
                        <option value="1531">Classics</option>
                        <option value="1532">Computer studies</option>
                        <option value="1656">Dentistry</option>
                        <option value="1535">Design and technology</option>
                        <option value="1536">Drama and performing arts</option>
                        <option value="1537">Economics</option>
                        <option value="1538">Education</option>
                        <option value="1657">Electronic engineering</option>
                        <option value="1540">English</option>
                        <option value="1541">Environmental science</option>
                        <option value="1666">Finance and accounting</option>
                        <option value="9568">Food</option>
                        <option value="1658">Forensic science</option>
                        <option value="1550">French</option>
                        <option value="1539">General engineering</option>
                        <option value="1569">General science</option>
                        <option value="1542">Geography</option>
                        <option value="1543">Geology &amp; earth science</option>
                        <option value="1551">German</option>
                        <option value="1544">Health</option>
                        <option value="1545">History</option>
                        <option value="1546">HR</option>
                        <option value="1547">ICT</option>
                        <option value="1552">Italian</option>
                        <option value="1555">Law</option>
                        <option value="1556">Leisure and tourism</option>
                        <option value="1557">Linguistics</option>
                        <option value="1558">Manufacturing</option>
                        <option value="1559">Mathematics</option>
                        <option value="1560">Media studies and communications</option>
                        <option value="1561">Medicine</option>
                        <option value="1562">Music</option>
                        <option value="1659">Other languages</option>
                        <option value="1563">Outdoor activities</option>
                        <option value="1660">Pharmacology</option>
                        <option value="1564">Philosophy</option>
                        <option value="1565">Physical education</option>
                        <option value="1566">Physics</option>
                        <option value="1663">Politics</option>
                        <option value="9570">Product design</option>
                        <option value="1567">Psychology</option>
                        <option value="1568">Religious education</option>
                        <option value="1571">Social science</option>
                        <option value="1664">Sociology</option>
                        <option value="1554">Spanish</option>
                        <option value="1665">Sports science</option>
                        <option value="9571">Systems, control and engineering</option>
                        <option value="9569">Textiles</option>
                        <option value="1573">Theology</option>
                        <option value="1574">Training</option>
                    </select>

                </div>
            </div>





            <!-- ************ How far have you got ************* -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            How far have you got towards becoming a teacher?
                        </h2>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="think" name="how-far" type="radio" value="thinking">
                            <label class="govuk-label govuk-radios__label" for="think">
                                I'm thinking about teaching and want to find out more
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="appliedfor" name="how-far" type="radio" value="applied">
                            <label class="govuk-label govuk-radios__label" for="appliedfor">
                                I’ve applied for teacher training
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="acceptedon" name="how-far" type="radio" value="accepted">
                            <label class="govuk-label govuk-radios__label" for="acceptedon">
                                I've been accepted on teacher training
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>



            <!-- ************ Why do you want to become a teacher? ************* -->
            <div class="govuk-form-group">
                <h2 class="govuk-heading-m">
                    Why do you want to become a teacher?
                </h2>
                <label class="govuk-label " for="more-detail">
                    Describe why in 50 words or less
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>


            <!-- ************ What subject do you want to teach? ************* -->
            <div class="govuk-form-group">
                <h2 class="govuk-heading-m">
                    What are you interested in teaching?
                </h2>
                <label class="govuk-label" for="subject">
                    Only enter 1 subject
                </label>
                <div id="subject-autocomplete" class="govuk-!-width-one-half">
                    <select data-validation="degreeSubject" id="subject" name="field_degree_subject[und]" class="govuk-select">
                        <option value="_none">- Start typing the subject name -</option>
                        <option value="3406">Not applicable</option>
                        <option value="1522">Architecture</option>
                        <option value="1523">Art</option>
                        <option value="1655">Astronomy</option>
                        <option value="1524">Bioscience</option>
                        <option value="1526">Business</option>
                        <option value="1662">Chemical engineering</option>
                        <option value="1527">Chemistry</option>
                        <option value="1528">Childcare</option>
                        <option value="1529">Citizenship</option>
                        <option value="1661">Civil engineering</option>
                        <option value="1530">Classical languages</option>
                        <option value="1531">Classics</option>
                        <option value="1532">Computer studies</option>
                        <option value="1656">Dentistry</option>
                        <option value="1535">Design and technology</option>
                        <option value="1536">Drama and performing arts</option>
                        <option value="1537">Economics</option>
                        <option value="1538">Education</option>
                        <option value="1657">Electronic engineering</option>
                        <option value="1540">English</option>
                        <option value="1541">Environmental science</option>
                        <option value="1666">Finance and accounting</option>
                        <option value="9568">Food</option>
                        <option value="1658">Forensic science</option>
                        <option value="1550">French</option>
                        <option value="1539">General engineering</option>
                        <option value="1569">General science</option>
                        <option value="1542">Geography</option>
                        <option value="1543">Geology &amp; earth science</option>
                        <option value="1551">German</option>
                        <option value="1544">Health</option>
                        <option value="1545">History</option>
                        <option value="1546">HR</option>
                        <option value="1547">ICT</option>
                        <option value="1552">Italian</option>
                        <option value="1555">Law</option>
                        <option value="1556">Leisure and tourism</option>
                        <option value="1557">Linguistics</option>
                        <option value="1558">Manufacturing</option>
                        <option value="1559">Mathematics</option>
                        <option value="1560">Media studies and communications</option>
                        <option value="1561">Medicine</option>
                        <option value="1562">Music</option>
                        <option value="1659">Other languages</option>
                        <option value="1563">Outdoor activities</option>
                        <option value="1660">Pharmacology</option>
                        <option value="1564">Philosophy</option>
                        <option value="1565">Physical education</option>
                        <option value="1566">Physics</option>
                        <option value="1663">Politics</option>
                        <option value="9570">Product design</option>
                        <option value="1567">Psychology</option>
                        <option value="1568">Religious education</option>
                        <option value="1571">Social science</option>
                        <option value="1664">Sociology</option>
                        <option value="1554">Spanish</option>
                        <option value="1665">Sports science</option>
                        <option value="9571">Systems, control and engineering</option>
                        <option value="9569">Textiles</option>
                        <option value="1573">Theology</option>
                        <option value="1574">Training</option>
                    </select>
                </div>
            </div>





















            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </div>


        </form>

    </div>
</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
    $(document).ready(function () {

        accessibleAutocomplete.enhanceSelectElement({
            selectElement: document.querySelector('#degree-subject')
        });
        accessibleAutocomplete.enhanceSelectElement({
            selectElement: document.querySelector('#subject')
        });
    });


</script>

{% endblock %}
