{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Check your answers before requesting your school experience</h1>
<p>A copy of the following details will be emailed to you once you've sent your school experience request.</p>



<dl class="govuk-summary-list">

      <p><h2 class="govuk-heading-m">Personal details</h2></p>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value">
      Robert Smith
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/booking/enter-contact">
        Change
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      110 Acacia Avenue, Northern Quarter, Manchester M1 1AD.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/booking/enter-contact">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0161 555 2222
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/booking/enter-contact">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      bob.smith1995@outlook.com
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/account-check?back=/register/check-answers">
        Change
      </a>
    </dd>
  </div>
  <br>
        <p><h2 class="govuk-heading-m">Request details</h2></p>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      School or college
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Ellen Wilkinson High School - Manchester</p>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Availability
    </dt>
    <dd class="govuk-summary-list__value">
      Any time during April or May
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/request?back=/register/check-answers">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      What you want to get out of school experience
    </dt>
    <dd class="govuk-summary-list__value">
			 I want to experience classroom life, the way lessons are delivered, as well as various types of classroom behaviour and how to deal with them.
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/request?back=/register/check-answers">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree stage
    </dt>
    <dd class="govuk-summary-list__value">
      Final year
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/account-info?back=/register/check-answers">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree subject
    </dt>
    <dd class="govuk-summary-list__value">
      English
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/account-info?back=/register/check-answers">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching stage
    </dt>
    <dd class="govuk-summary-list__value">
      I’ve applied for teacher training
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/account-info?back=/register/check-answers">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject - first choice
    </dt>
    <dd class="govuk-summary-list__value">
      Maths
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/account-info?back=/register/check-answers">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject - second choice
    </dt>
    <dd class="govuk-summary-list__value">
      History
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/account-info?back=/register/check-answers">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DBS certificate
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/register/account-info1?back=/register/check-answers">
        Change
      </a>
    </dd>
  </dl>
  </div>


    <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Send your school experience request</h2>

<div class="govuk-form-group">
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="" name="" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="">
<p>By checking this box you’re confirming: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>the details you’ve provided are correct</li>
  <li>you've read our <a class="govuk-link" href="/register/privacy-policy">privacy policy</a></li>
  <li>you understand your personal details will be used by DfE's <a href="https://getintoteaching.education.gov.uk">Get Into Teaching Information Service</a> to provide you with tailored advice and information about teacher training and a career as a teacher</li>
</ul>
        </label>
      </div>
    </div>
  </fieldset>
</div>


	<form method="get" action="{{ '/register/created-sent' if data['found-in-gitis'] else '/register/confirm-placement' }}">
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button">
        Continue
        </button>
    </div>
    </form>
</div>
</div>




    </div>

{% endblock %}
