{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Check your answers before requesting your placement</h1>
	  




<dl class="govuk-summary-list">
	
      <p><h2 class="govuk-heading-m">Personal details</h2></p>
	  
	  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value">
      Robert Smith
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
        <span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      110 Acacia Avenue, Northern Quarter, Manchester M1 1AD. 
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      UK telephone number
    </dt>
    <dd class="govuk-summary-list__value">
      0161 555 2222
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      bob.smith1995@outlook.com
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <br>
        <p><h2 class="govuk-heading-m">Request details</h2></p>
  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      School or college
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Abbey College - Manchester</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Placement availability
    </dt>
    <dd class="govuk-summary-list__value">
      01 April 2019 to 10 November 2019
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Placement outcome
    </dt>
    <dd class="govuk-summary-list__value">
      I want to find out if I’m suitable for becoming a teacher
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disability or access needs
    </dt>
    <dd class="govuk-summary-list__value">
      None
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree stage
    </dt>
    <dd class="govuk-summary-list__value">
      Final year
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree subject
    </dt>
    <dd class="govuk-summary-list__value">
      English
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching stage
    </dt>
    <dd class="govuk-summary-list__value">
      I want to become a teacher 
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject - first choice
    </dt>
    <dd class="govuk-summary-list__value">
      English
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Teaching subject - second choice
    </dt>
    <dd class="govuk-summary-list__value">
      History
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DBS check document
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change
      </a>
    </dd>
  </dl>
  </div>

	
    <div class="govuk-grid-column-full">
<h2 class="govuk-heading-m">Send your placement request</h2>
	
<p class="govuk-body">By submitting this notification you’re confirming, to the best of your knowledge, the details you’re providing are correct.</p>
	
	<p>GDPR STATEMENT AND CONTENT PATTERN HERE</p>
	<form method="get" action="/register/created-sent">
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button">
        Accept and send
        </button>
    </div>
    </form>
</div>
</div>

		


    </div>

{% endblock %}
