{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Verify your placement request</h1>
      <p>Click the link in the email we’ve sent to the following email address to verify your request for a placement at Ellen Wilkinson High School:
</p>

					<ul class="govuk-list govuk-list--bullet">
            <li>name@testemail.com</li>
					</ul>

      <p>If you can’t find the message in your inbox:</p>

<ul class="govuk-list govuk-list--bullet">
            <li>check your spam and other mailbox folders</li>

</ul>

      <p>If you can’t find or haven’t received the email use the following link to resend it:</p>

			<a id="resend-btn" class="govuk-button" href="/fake-emails/email-magic-link" target="_blank">Resend link</a>

			<script>
				window.setTimeout(function() {
					document.getElementById('resend-btn').click() ;
				}, 2000) ;
			</script>

    </div>
  </div>
{% endblock %}
