{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Verify your school experience request</h1>
      <p>We’ve sent a link to the following email address:</p>

					<ul class="govuk-list govuk-list--bullet">
            <li>name@testemail.com</li>
					</ul>

          <p>You need to <strong>click the link to verify your request</strong> for school experience at Ellen Wilkinson High School.</p>
          
          <p><strong>The link will expire within 24 hours.</strong></p>

          <p>If you cannot find the message in your inbox check your spam and other mailbox folders.</p>

      <p>If you still cannot find and haven’t received the link:</p>

			<a id="resend-btn" class="govuk-button" href="/fake-emails/email-magic-link" target="_blank">Resend link</a>

    </div>
  </div>
{% endblock %}
