{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your placement request has been sent
          </h1>

        </div>




      <h3 class="govuk-heading-m">What happens next</h3>

      <p>Your request for a school experience placement from 8 to 12 October 2018 will be forwarded to Abraham Moss Community School.</p>

      <p class="govuk-inset-text">The school will be in touch with you shortly. For example, during term time this could typically mean within 2 weeks.</p>

      <p>We'll also send you an email to confirm you've requested a placement.
    </p>


    <h3 class="govuk-heading-m">View and request more placements</h3>


                <a href="/candidate-dashboard/dash-search" class="">View and request more placements</a>
<br><br>
               <a class="govuk-link" href="/candidate-dashboard/signout">Sign out</a>












      <form action="/register/XXX" method="post" class="form">












<!--



      <div class="govuk-form-group">
          <button type="submit" class="govuk-button">
          continue
          </button>

        -->
      </div>


      </form>

    </div>
  </div>
{% endblock %}
