{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}
	
	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">
	    <h1 class="govuk-heading-l">
	      Verify your details and school experience request
	    </h1>

	    <p>
			You now need to verify your details and school experience request by selecting the link we've sent to:
	    </p>

	    <ul class="govuk-list govuk-list--bullet">
	      <li>name@testemail.com</li>
	    </ul>

		<div class="govuk-inset-text">
			<p>If we <strong>already have your details</strong> we'll automatically add them to your school experience request.</p>
			<p>If we <strong>do not have your details</strong> we'll register them with DfE's <a href="https://getintoteaching.education.gov.uk/">Get Into Teaching Information Service</a> so you can get help and advice about becoming a teacher.</p>
    	</ul>
        </div>
			
		<p><strong>The link will expire within 24 hours.</strong></p>
		
		<p>
	      If you cannot find the message in your inbox:
	    </p>

	    <ul class="govuk-list govuk-list--bullet">
	      <li>check your spam and any other mailbox folders</li>
	    </ul>

	    <p>
	      If you cannot find or have not received the message and link:
	    </p>

			<a id="resend-btn" class="govuk-button govuk-button--secondary" href="/fake-emails/gitis-verify-email" target="_blank">Resend link</a>
	  </div>
	</div>
{% endblock %}
