{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Privacy notice for the School Experience Service</h1>
<dl class="govuk-summary-list">

<h2 class="govuk-heading-m">Who we are</h2>

<p>This work is being carried out by Education Standards which is a part of the Department for Education (DfE). DfE engages the private companies Engine Group and Teleperformance UK (TPUK) to help provide and improve the service. For the purpose of data protection legislation, the DfE is the data controller for the personal data processed as part of School Experience Service.</p>

<h2 class="govuk-heading-m">How we will use your information</h2>

<p>
We receive your personal data from when you fill in and submit an online request for a school experience. This data is passed onto staff who work at / for schools and manage school experience at the school you have selected for processing and review. As part of the service we will use your contact information provided to send out notifications, reminders and feedback questionnaires relating to this service.
</p>	

<h2 class="govuk-heading-m">The nature of your personal data we will be using</h2>

<p>
Personal data will be collected when the individual fills and submits a webform. The fields which are requested are personal information such as:</p>

<li>Name

<li>Email address

<li>Address

<li>Telephone number

<li>Degree subject

<li>Stage of degree

<li>Degree class (predicted / achieved)

<li>Teaching subject preferences

<li>IP address
</p>	

<h2 class="govuk-heading-m">Why our use of your personal data is lawful</h2>

<p>
In order for our use of your personal data to be lawful, we need to meet one (or more) conditions in the data protection legislation. For the purpose of this project, your consent forms the basis of this as stated under GDPR Article 6 (1)(a).
</p>	


	
<h2 class="govuk-heading-m">Who we will make your personal data available to</h2>
	

<p>We sometimes need to make personal data available to other organisations. These might include contracted partners (who we have employed to process your personal data on our behalf) and / or other organisations (with whom we need to share your personal data for specific purposes).</p>
<p>
Where we need to share your personal data with others, we ensure that this data sharing complies with data protection legislation. We share specific types of personal data with Engine Group, who have been contracted by DfE to manage the delivery of the digital service and TPUK, who have been contracted by DfE to support the administration of the service.</p>
<p>
<strong>The firm Engine Group uses your data:</strong>
<p>
<li>for user research that informs development of the service, where you have shared your name, email address and / or phone number for this purpose</p>
<p>
<li>for security purposes: Engine Group collects part of the IP addresses of people visiting the School Experience website (for example, if we were receiving continuous direct denial of service attacks from an IP address range then we could block it)</p>
<p>
<li>to enable users to use the service and receive updates: Engine Group collects the emails of individuals requesting school experience.</p>
<p>
<p><strong>The firm TPUK uses your data:</strong></p>
<p>
<li>to cancel, amend and manage your booking requests on your behalf</p>
<p>
<h2 class="govuk-heading-m">How long we will keep your personal data</h2>

<p>
DfE, Engine Group or TPUK will only keep your personal data for as long as we need it for the purpose(s) of this piece of work, after which point it will be securely destroyed. In the event that this is longer than 6 years your data will be deleted. Please note that, under Data Protection legislation, and in compliance with the relevant data processing conditions, personal data can be kept for longer periods of time when processed purely for archiving purposes in the public interest, scientific or historical research, and statistical purposes.
</p>	
<p>
<h2 class="govuk-heading-m">Your data protection rights</h2>

<p>
Under certain circumstances, you have the right:</p>

<li>to ask us for access to information about you that we hold</p>
<p>
<li>to have your personal data rectified, if it is inaccurate or incomplete</p>
<p>
<li>to request the deletion or removal of personal data where there is no compelling reason for its continued processing</p>
<p>
<li>to restrict our processing of your personal data (i.e. permitting its storage but no further processing)</p>
<p>
<li>to object to direct marketing (including profiling) and processing for the purposes of scientific / historical research and statistics</p>
<p>
<li>not to be subject to decisions based purely on automated processing where it produces a legal or similarly significant effect on you</p>
<p>

If you need to contact us regarding any of the above, please do so via the DfE site at: <a href="https://www.gov.uk/contact-dfe">Contact DfE.</a></p>
<p>
Further information about your data protection rights appears on the Information Commissioner’s website at  <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights">ICO.</a>
</p>	

<h2 class="govuk-heading-m">Withdrawal of consent and the right to lodge a complaint</h2>

<p>
Where we are processing your personal data with your consent, you have the right to withdraw that consent. If you change your mind, or you are unhappy with our use of your personal data, please let us know by contacting <a href="mailto: organise.schoolexperience@education.gov.uk">Organise School Experience</a>.</p>
<p>
Alternatively, you have the right to raise any concerns with the Information Commissioner’s Office (ICO) via their website at <a href="https://ico.org.uk/concerns/">ico.org.uk.</a>
</p>

<h2 class="govuk-heading-m">Last updated</h2>
<p>
We may need to update this privacy notice periodically so we recommend that you revisit this information from time to time. This version was last updated on 6th March 2019.
</p>
<h2 class="govuk-heading-m">Contact Information</h2>
<p>
If you have any questions about how your personal information will be used, please contact us at <a href="mailto:organise.schoolexperience@education.gov.uk">Organise School Experience</a> and enter (reference) as a reference. For the Data Protection Officer (DPO) please contact us via <a href="gov.uk">gov.uk</a> and mark it for the attention of the ‘DPO’.
<br>
</p>
<a href="privacy-policy" class="govuk-link govuk-link--no-visited-state back-to-top">
	<svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
		<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
			</svg>
			 
				Back to top
					</a>
</div>
</div>
    </div>

{% endblock %}
