{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Privacy Notice: Get Into Teaching Information Service and Get School Experience Service</h1>
<dl class="govuk-summary-list">

<p>This Privacy Notice covers how the inter-related Get Into Teaching Information Service and School Experience Service lawfully uses your persnal data to help the Department for Education (DfE) carry out its public interest task to make sure there's a sufficient supply of qualified teachers in England. </p>

<h2 class="govuk-heading-m">Who we are</h2>

<p>The work of these services is being carried out by DfE. DfE has engaged the private companies Engine Group and Teleperformance UK (TPUK) to help provide and improve these services.</p>

<p>For the purpose of data protection legislation, DfE is the data controller for the personal data processed as part of these services. </p>

<h2 class="govuk-heading-m">How we'll use your information</h2>

<h2 class="govuk-heading-s">Get Into Teaching Information Service</h2>

<p>We receive and process the personal data you provide when completing the Get Into Teaching registration form, because you've requested we provide you with tailored advice and information about teacher training and a career as a teacher.</p>

<p>This will help you to make an informed decision about making an application.</p>

<p>The information you provide in the Get Into Teaching registration form (and any subsequent updates made via our helpline, including registration to events) is shared with our Get Into Teaching telephone helpline and web chat service to make sure they have an accurate picture of your circumstances in order to provide a tailored service and information to you.</p>  

<p>Any subsequent information you provide to the helpline will also be recorded in order to continue to provide you with a tailored service.</p>  

<p>We use your contact details to communicate with you by telephone and to send you email, SMS and postal messages, providing you with information about a career in teaching. </p>  
  
<p>We may also contact you to gauge your interest in taking part in market research. In each message, you'll be given the opportunity to unsubscribe from further communications.</p>

<p>The information we collect from you (such as your name, contact details and subject preferences) is used for identification, administration, analysis and targeting purposes. 
  
<p>We share your information with trusted partners working under a legal contract on our behalf in order for us to continue to provide you with relevant information about a career in teaching and teacher training or 'the service'.</p>

<p>These partners are required to strictly comply with our privacy policies which prohibit them using your personal data for any other purpose.</p>

<p>The information we collect from you may be used to deliver tailored messages on third party platforms, including social media - like Facebook, Instagram, Twitter, Snapchat and Google search.</p> 

<p>Your information will also be used to identify and advertise to people similar to you, who may also be interested in our service.</p>

<p>We share certain personal data with UCAS Teacher Training, who manage the application system for teacher training, enabling us to identify those who have applied for teacher training and remove the names of these applicants from our mailing lists.</p>

<p>We also share data to track your application in order to determine the effectiveness of our service and improve it for you and future applicants. It also allows us to ensure that public funds are being spent effectively.</p>

<p>Your personal data, supplied for the purposes of this service, will be used as long as it's deemed necessary. We'll delete this information if you request us to do so. CAN WE DELETE THIS AS DUPLICATES SAME INFORMATION BELOW???</p>

<p>If you do not supply us with your personal information then we cannot provide a tailored advice and information service or offer you access to the services available via our website such as booking a Train to Teach event.</p>

<p>However, without registering, you can still access general information via the Get into Teaching helpline and website and complete an application for Initial Teacher Training through UCAS Teacher Training.</p>

<h2 class="govuk-heading-s">Get School Experience Service</h2>

<p>We receive and process the personal data you provide when submitting an online request for school experience.</p>

<p>
  In order to request school experience through the service, your details also need to be registered with the Get Into Teaching Information Service.
</p>

<p>If you're not already registered with Get Into Teaching Information Service, we'll register your details with it as part of you making your school experience request.</p>

<p>If you're already registered with Get Into Teaching Information Service, we'll automatically add the personal and contact details you've registered with it to your school experience request.</p>

<p>The personal data you provide is then passed on to staff (who work at and for schools and manage school experience at schools where you've requested school experience) for processing and review.</p> 

<p>We'll also use the contact information you’ve provided to send out Get School Experience service notifications, reminders and feedback questionnaires.</p>

<h2 class="govuk-heading-m">The nature of the personal data we'll be using</h2>

<p>
  The categories of your personal data that we'll be collecting and using for these services are your:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>name</li>
<li>email address</li>
<li>address</li>
<li>UK telephone number</li>
<li>date of birth</li>
<li>intended training commencement year</li>
<li>IP address</li>
<li>qualifications including degree class (predicted / achieved), degree subject and stage of degree</li>
<li>teaching subject preferences</li>
</ul>

<p>The Get Into Teaching Information Service will also collect and use additional supplementary information you provide during communication with its helpline and personal advisers which will help progress your teacher training application and continue to improve our service.</p> 

<h2 class="govuk-heading-m">Why our use of your personal data is lawful</h2>

<p>In order to lawfully use your personal data, we need to meet 1 (or more) conditions in the data protection legislation. </p>

<p>You've requested to receive these services and therefore, together with this privacy notice (about the use of your personal data), you've agreed to your data being used to deliver these services.</p>

<p>However, the condition we're relying on (once you've agreed to receive these services) is that DfE is carrying out its public interest task in making sure there's a sufficient supply of qualified teachers in England.</p>

<p>For the purpose of this project, your consent forms the basis of this as stated under GDPR Article 6 (1)(a).</p>

<h2 class="govuk-heading-m">Who we'll make your personal data available to</h2>

<p>We sometimes need to make personal data available to other organisations.</p>

<p>These include contracted partners (who we've employed to process your personal data on our behalf) and other organisations (with whom we need to share your personal data for specific purposes) who help us deliver these services on our behalf.</p>

<p>Where we need to share your personal data with others, we ensure that this data sharing complies with data protection legislation. </p>

<h2 class="govuk-heading-s">Get Into Teaching Information Service</h2>

<p>Your data will be used to identify if you've applied for teacher training through UCAS Teacher Training and to monitor overall levels of teacher training applicants.</p>

<p>Your data will be used to identify if you’ve applied for teacher training through <a href="https://www.ucas.com/">UCAS</a> and to monitor overall levels of teacher training applicants.</p>

<p>We also share specific types of personal data with TPUK, who've been contracted by DfE to support the administration of the service.</p>

<p><strong>The private company TPUK uses your data:</strong></p>

<ul class="govuk-list govuk-list--bullet">
<li>to EXPLAIN WHAT TPUK DOES FOR GITIS ETC</li>
</ul>

<h2 class="govuk-heading-s">Get School Experience Service</h2>

<p>As part of your experience request, we'll make your personal data available to staff who work at and for schools and manage school experience at schools where you've requested school experience.</p>

<p>We share specific types of personal data with Engine Group, who've been contracted by DfE to manage the delivery of the digital service, and TPUK, who've been contracted by DfE to support the administration of the service.</p>

<p><strong>The private company Engine Group uses your data for:</strong></p>

<ul class="govuk-list govuk-list--bullet">
<li>user research to help develop the service - where you’ve shared your name, email address and / or phone number for this purpose</li>
<li>security purposes to protect the service - for example, parts of the IP addresses of website visitors are collected to block continuous direct denial of service attacks from an IP address range</li>
<li>for communications purposes - to help you use and receive updates about the service individual email addresses are collected</li>
</ul>

<p><strong>The private company TPUK uses your data:</strong></p>

<ul class="govuk-list govuk-list--bullet">
<li>to cancel, manage and update your requests and bookings on your behalf</li>
</ul>

<h2 class="govuk-heading-m">How long we'll keep your personal data</h2>

<p>THIS IS THE GITIS VERSION</p>

<p>We'll only keep your personal data for as long as we need it for the purpose(s) of this service, after which point it will be securely destroyed. </p>
  
<p>Please note that under the Data Protection Act, and in compliance with the relevant conditions, we can lawfully keep personal data processed purely for research purposes indefinitely.</p>

<p>THIS IS OUR VERSION</p>

<p>DfE, Engine Group or TPUK will only keep your personal data for as long as we need it for the purposes of their work, after which point it will be securely destroyed. If this is longer than 6 years your data will be deleted. </p>

<p>Note: under Data Protection legislation, and in compliance with the relevant data processing conditions, personal data can be kept for longer periods of time when processed purely for archiving purposes in the public interest, statistical purposes and historical or scientific research.</p>

<p>I THINK THIS IS BEST COMBINED VERSION</p>

<p>We'll only keep your personal data for as long as we need it for the purposes of these services, after which point it will be securely destroyed. If this is longer than 6 years your data will be deleted. (NOT SURE IF THIS LAST LINE IS ACCURATE FOR BOTH SERVICES BUT IF IT IS THEN WE SHOULD KEEP IT</p>

<p>Note: under the Data Protection Act, and in compliance with the relevant data processing conditions, we can lawfully keep personal data indefinitely when it's processed purely for archiving purposes in the public interest, statistical purposes and historical or scientific research.</p>

<h2 class="govuk-heading-m">Your data protection rights</h2>

<p>Under certain circumstances, you have the right:

<ul class="govuk-list govuk-list--bullet">

<li>to ask us for access to information we hold about you</li>
<li>have your personal data rectified if it's inaccurate or incomplete</li>
<li>request the deletion or removal of personal data where there's no compelling reason for its continued processing</li>
<li>restrict our processing of your personal data (ie permitting its storage but no further processing)</li>
<li>object to direct marketing (including profiling) and processing for statistical purposes and historical or scientific research</li>
<li>not be subject to decisions based purely on automated processing where it produces a legal or similarly significant effect on you</li>

</ul>

<p>If you need to contact us regarding any of the above use the details on DfE's <a href="https://www.gov.uk/contact-dfe">Contact the Department for Education (DfE)</a> page.</p>

<p>
  For specific Get Into Teaching Information Service related enquiries use the details on the <a href="https://getintoteaching.education.gov.uk/contact">Get into Teaching website</a>
</p>

<p>
Further information about your data protection rights can be found on the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights">Information Commissioner’s Office (ICO)</a> website.
</p>

<h2 class="govuk-heading-m">Updating, viewing and deleting your data and the right to lodge a complaint</h2>

<p>Where we're processing your personal data with your consent, you have the right to withdraw that consent and also have the right to update, view or delete your data.</p>

<h2 class="govuk-heading-s">Get Into Teaching Information Service</h2>

<p>To update, view or delete your data contact the Get Into Teaching helpline on 0800 389 2500 between 8am and 8pm, Monday to Friday or email <a href="mailto:getintoteaching.helpdesk@education.gov.uk">getintoteaching.helpdesk@education.gov.uk</a>.</p>

<p>If you change your mind or are unhappy with our use of your personal data email <a href="mailto:getintoteaching.helpdesk@education.gov.uk">getintoteaching.helpdesk@education.gov.uk</a>.</p>

<h2 class="govuk-heading-s">Get School Experience Service</h2>

<p><p>To update, view or delete your data or if you change your mind or are unhappy with our use of your personal data email <a href="mailto:organise.schoolexperience@education.gov.uk">organise.schoolexperience@education.gov.uk</a>.</p>


<h2 class="govuk-heading-s">Information Commissioner's Office</h2>

<p>
    Alternatively, you have the right to raise any concerns via the <a href="https://ico.org.uk/concerns/">Information Commissioner's Office (ICO)</a> website.
</p>
    
<h2 class="govuk-heading-m">Last updated</h2>
<p>
  We may need to update this privacy notice periodically so we recommend that you revisit this information from time to time. This version was last updated on [INSERT DD MONTH YYYY].
</p>
<h2 class="govuk-heading-m">Contact information</h2>
<p>
If you have any questions about how your personal information will be used email:

<ul class="govuk-list govuk-list--bullet">

    <li>Get Into Teaching Information Service - <a href="mailto:organise.schoolexperience@education.gov.uk">organise.schoolexperience@education.gov.uk</a></li>
    <li>Get School Experience Service - <a href="mailto:organise.schoolexperience@education.gov.uk">organise.schoolexperience@education.gov.uk</a></li>
    
</ul>
You can also contact the DfE Data Protection Officer (DPO) via DfE's <a href="https://www.gov.uk/contact-dfe">Contact the Department for Education (DfE)</a> page.</p>
<br>

			<a class="govuk-button button" href="/register/check-answers">Back to previous page</a>
<br>
<a href="privacy-policy" class="govuk-link govuk-link--no-visited-state back-to-top">
	<svg class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
		<path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
			</svg>

				Back to top
					</a>
</div>
</div>
    </div>

{% endblock %}
