{% extends "layout.html" %}

{% block pageTitle %}
Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
		text: "alpha"
	},
	html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Enter school experience dates</h1>


		<p class="govuk-body">Select your school experience date for Ellen Wilkinson School.</p>

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="subjects">
				<span id="waste-hint" class="govuk-hint">
					Select all that apply
				</span>
              <div class="govuk-checkboxes govuk-checkboxes--small">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" data-save-name="1 August 2019" id="1 August 2019" name="sub" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="1 August 2019">
                    1 August 2019
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" data-save-name="2 August 2019" id="2 August 2019" name="sub" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="2 August 2019">
                    2 August 2019
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" data-save-name="3 August 2019" id="3 August 2019" name="sub" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="3 August 2019">
                    3 August 2019
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" data-save-name="10 August 2019" id="10 August 2019" name="sub" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="10 August 2019">
                    10 August 2019
                  </label>
                </div>
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="15 August 2019" id="15 August 2019" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="15 August 2019">
                      15 August 2019
                    </label>
                  </div>
                  <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="20 August 2019" id="20 August 2019" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="20 August 2019">
                        20 August 2019
                      </label>
                    </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="28 August 2019" id="28 August 2019" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="28 August 2019">
                      28 August 2019
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="3 September 2019" id="3 September 2019" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="3 September 2019">
                      3 September 2019
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="4 September 2019" id="4 September 2019" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="4 September 2019">
                       4 September 2019
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="5 September 2019" id="5 September 2019" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="5 September 2019">
                       5 September 2019
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="6 September 2019" id="6 September 2019" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="6 September 2019">
                       6 September 2019
                    </label>
                  </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" data-save-name="7 September 2019" id="7 September 2019" name="sub" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="7 September 2019">
                     7 September 2019
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" data-save-name="12 September 2019" id="12 September 2019" name="sub" type="checkbox" value="">
                  <label class="govuk-label govuk-checkboxes__label" for="12 September 2019">
                    12 September 2019
                  </label>
                </div>
                 <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" data-save-name="13 September 2019" id="13 September 2019" name="sub" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="13 September 2019">
                      13 September 2019
                    </label>
                    </div>
                    <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" data-save-name="14 September 2019" id="14 September 2019" name="sub" type="checkbox" value="">
                      <label class="govuk-label govuk-checkboxes__label" for="14 September 2019">
                       14 September 2019
                     </label>
                    </div>
                  </div>
            </fieldset>
						<br>
						<br>
<!--
				<div class="govuk-radios govuk-radios--conditional" data-module="radios">

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="date" name="degree" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="1 August 2019">
							1 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="date" name="degree" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="3 August 2019">
							3 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="date" name="degree" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="7 - 10 August 2019">
							7 - 10 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="second" name="date" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="16 - 19 August 2019">
							16 - 19 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="firstyear" name="date" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="22 - 27 August 2019">
							22 - 27 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="how-contacted-conditional-1" name="date" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="2 September 2019">
							2 September 2019
						</label>
					</div>
				</div>
			</fieldset>
		</div>
-->

		<form action="/register/account-check" method="post" class="form">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">



					<h1 class="govuk-heading-m">Is there anything schools need to know about your availability for school experience?</h1>
					<div class="govuk-warning-text">
						<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
						<strong class="govuk-warning-text__text">
							<span class="govuk-warning-text__assistive">Warning</span>
							Depending on availability and time of year, schools may not always be able to offer you the exact dates you’re looking for.
						</strong>
					</div>




					<textarea class="govuk-textarea govuk-!-width-two-thirds" id="more-detail" name="more-detail" rows="4" aria-describedby="more-detail-hint"></textarea>
				</fieldset>
			</div>

			<a href="/booking/enter-contact" class="govuk-button">Continue</a>

		</form>
	</div>
</div>
{% endblock %}
