{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Request school experience placement</h1>


      <p>Tell us a few details so we can forward your requirements to the school.</p><br />

      <form action="/register/account-check" method="post" class="form">

                  <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            When are you available for placements?
                          </h1>
                        </legend>
                        <p>Tell us about your availability. For example, when you'll be available for placements or any particular days or periods when you won't.</p>

                        <p>The school will contact you to arrange the exact date of your placement and will use this information to offer you the best dates it has available.</p>

                        <p>Depending on availability and time of year, schools may not always be able to offer you the exact dates you’re looking for.</p>



                      <textarea class="govuk-textarea govuk-!-width-two-thirds" id="more-detail" name="more-detail" rows="4" aria-describedby="more-detail-hint"></textarea>

                          </div>





                      </fieldset>
                    </div>






                    <!-- ************ What do you want to get out of your school experience placement? ************* -->
                    <div class="govuk-form-group">
                      <h2 class="govuk-heading-m">
                        What do you want to get out of your placement?
                      </h2>
                      <label class="govuk-label " for="more-detail">
                        <p>Provide a short explanation about what you want to gain from your placement.</p>

                        <p>This will help the school see if it can offer you the kind of placement you’re looking for.</p>
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-two-thirds" id="more-detail" name="more-detail" rows="4" aria-describedby="more-detail-hint"></textarea>
                    </div>














<a href="/booking/enter-contact" class="govuk-button">Continue</a>



      </form>

    </div>
  </div>
{% endblock %}
