{% extends "layout.html" %}

{% block pageTitle %}
Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag: {
		text: "alpha"
	},
	html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">Request school experience </h1>
		<p class="govuk-body">Tell us a few details so we can forward your experience requirements to the school.</p>
		<h1 class="govuk-heading-m">Enter school experience date </h1>
		<p class="govuk-body">Select a school experience date for Ellen Wilkinson School.</p>

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="subjects">
              <div class="govuk-radios govuk-radios--small">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-save-name="1 August 2019" id="1 August 2019" name="sub" type="radio" value="request_date">
                  <label class="govuk-label govuk-radios__label" for="1 August 2019">
                    1 October 2019
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-save-name="2 August 2019" id="2 August 2019" name="sub" type="radio" value="request_date">
                  <label class="govuk-label govuk-radios__label" for="2 August 2019">
                    2 October 2019
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-save-name="3 August 2019" id="3 August 2019" name="sub" type="radio" value="request_date">
                  <label class="govuk-label govuk-radios__label" for="3 August 2019">
                    3 October 2019
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-save-name="10 August 2019" id="10 August 2019" name="sub" type="radio" value="request_date">
                  <label class="govuk-label govuk-radios__label" for="10 August 2019">
                    10 October 2019
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-save-name="7 September 2019" id="7 September 2019" name="sub" type="radio" value="request_date">
                  <label class="govuk-label govuk-radios__label" for="7 September 2019">
                     15 - 16 October 2019 (2 days)
                  </label>
                </div>
                  </div>
            </fieldset>

<!--
				<div class="govuk-radios govuk-radios--conditional" data-module="radios">

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="date" name="degree" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="1 August 2019">
							1 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="date" name="degree" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="3 August 2019">
							3 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="date" name="degree" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="7 - 10 August 2019">
							7 - 10 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="second" name="date" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="16 - 19 August 2019">
							16 - 19 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="firstyear" name="date" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="22 - 27 August 2019">
							22 - 27 August 2019
						</label>
					</div>

					<div class="govuk-radios__item">
						<input class="govuk-radios__input" id="how-contacted-conditional-1" name="date" type="radio" value="date">
						<label class="govuk-label govuk-radios__label" for="2 September 2019">
							2 September 2019
						</label>
					</div>
				</div>
			</fieldset>
		</div>
-->
				</fieldset>
			</div>

			<a href="/register/request-experience" class="govuk-button">Continue</a>

		</form>
	</div>
</div>
{% endblock %}
