{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

  <a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Request school experience placement</h1>
      <p>Tell us a few details so we can forward your requirements to the school.</p><br />

      <form action="/register/account-check" method="post" class="form">



                  <!-- ************ Give us a date range when you will be available for a school experience ************* -->
                  <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            When would you be available for a placement?
                          </h1>
                        </legend>
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dates1" name="when" type="radio" value="email" data-aria-controls="conditional-dates1">
                            <label class="govuk-label govuk-radios__label" for="dates1">
                              Provide a date range
                            </label>
                          </div>
                          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dates1">
                          <!-- ***** Dates from too  ***** -->



                          <div class="govuk-form-group">


                            <label class="govuk-label " for="more-detail">
                              Start date
                            </label>
                              <div class="govuk-date-input" id="dob">
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                                      Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                                      Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                                      Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                              </div>

                          </div>




                          <div class="govuk-form-group">


                            <label class="govuk-label " for="more-detail">
                              End date
                            </label>
                              <div class="govuk-date-input" id="dob">
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                                      Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                                      Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                                      Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                              </div>

                          </div>


                          <!-- ***** End Dates from too  ***** -->
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dates2" name="when" type="radio" value="phone" data-aria-controls="conditional-dates2">
                            <label class="govuk-label govuk-radios__label" for="dates2">
                              Any time
                            </label>
                          </div>



                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="dates3" name="when" type="radio" value="text" data-aria-controls="conditional-dates3">
                            <label class="govuk-label govuk-radios__label" for="dates3">
                              Other
                            </label>
                          </div>
                          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-dates3">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="contact-by-text">
                                Provide details
                              </label>
                              <input class="govuk-input govuk-!-width-one-half" id="contact-by-text" name="contact-by-text" type="text">
                            </div>

                          </div>
                        </div>

                      </fieldset>
                    </div>





                    <!-- ************ What do you want to get out of your school experience placement? ************* -->
                    <div class="govuk-form-group">
                      <h2 class="govuk-heading-m">
                        What do you want to get out of a placement?
                      </h2>
                      <label class="govuk-label " for="more-detail">
                        Explain in 50 words or less
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-two-thirds" id="more-detail" name="more-detail" rows="7" aria-describedby="more-detail-hint"></textarea>
                    </div>



                    <!-- ************ Accessibility ************* -->
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Do you have any disability or access needs?
                          </h1>
                        </legend>
						<span id="waste-hint" class="govuk-hint">
						Tell us so we can make sure the school is able to cater for your requirements
						</span>
                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
                              Yes
                            </label>
                          </div>
                          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
                            <div class="govuk-form-group">
                              <label class="govuk-label" for="contact-by-email">
                                Provide details
                              </label>
                              <textarea class="govuk-textarea govuk-!-width-one-half" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>

                            </div>

                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                              No
                            </label>
                          </div>

                        </div>
                      </fieldset>
                    </div>









      <div class="govuk-form-group">
          <button type="submit" class="govuk-button">
          Continue
          </button>
      </div>


      </form>

    </div>
  </div>
{% endblock %}
