{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{
 govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Which of the following teaching stages are you at?</h1>

        <form action="/register/request-date" method="post" class="form">


            <!-- ************ How far have you got ************* -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="think" name="how-far" type="radio" value="thinking">
                            <label class="govuk-label govuk-radios__label" for="think">
                              It's just an idea
                            </label>
                        </div>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="think" name="how-far" type="radio" value="thinking">
                            <label class="govuk-label govuk-radios__label" for="think">
                                I’m not sure and finding out more
                            </label>
                        </div>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="think" name="how-far" type="radio" value="thinking">
                                <label class="govuk-label govuk-radios__label" for="think">
                                  I'm fairly sure and exploring my options
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="think" name="how-far" type="radio" value="thinking">
                                <label class="govuk-label govuk-radios__label" for="think">
                                  I’m very sure and think I’ll apply
                                </label>
                            </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="appliedfor" name="how-far" type="radio" value="applied">
                            <label class="govuk-label govuk-radios__label" for="appliedfor">
                                I’ve applied for teacher training
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="acceptedon" name="how-far" type="radio" value="accepted">
                            <label class="govuk-label govuk-radios__label" for="acceptedon">
                                I've been accepted on teacher training
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>


            <!-- ************ What subject do you want to teach? ************* -->
            <div class="govuk-form-group">
                <h2 class="govuk-heading-m">
                    What subject do you want to teach?
                </h2>
                <p>Select the nearest or equivalent subject and at least 1 subject.</p>
                <label class="govuk-label" for="subject">
                    First choice
                </label>
                <div id="subject-autocomplete" class="govuk-!-width-one-half">
                    <select data-validation="degreeSubject" id="subject" name="field_degree_subject[und]" class="govuk-select">
                        <option value="_none">Select</option>
                        <option value="1523">Art and Design</option>
                        <option value="1655">Biology</option>
                        <option value="1526">Business Studies</option>
                        <option value="1527">Chemistry</option>
                        <option value="1528">Childcare</option>
                        <option value="1529">Citizenship</option>
                        <option value="1531">Classics</option>
                        <option value="1532">Computing</option>
                        <option value="1536">Dance</option>
                        <option value="1537">Economics</option>
                        <option value="1540">English</option>
                        <option value="1550">French</option>
                        <option value="1542">Geography</option>
                        <option value="1551">German</option>
                        <option value="1544">Health and social care</option>
                        <option value="1545">History</option>
                        <option value="1555">Languages (other)</option>
                        <option value="1559">Mathematics</option>
                        <option value="1560">Media studies</option>
                        <option value="1562">Music</option>
                        <option value="1565">Physical education (PE)</option>
                        <option value="1566">Physics</option>
												<option value="1567">Physics with maths</option>
                        <option value="1663">Primary</option>
                        <option value="1567">Psychology</option>
                        <option value="1568">Religious education (RE)</option>
                        <option value="1571">Social sciences</option>
                        <option value="1554">Spanish</option>
                        <option value="1574">Vocational health</option>
                    </select>
                </div>
				<br>
                <label class="govuk-label" for="subject">
                    Second choice
                </label>
                <div id="subject-autocomplete" class="govuk-!-width-one-half">
                    <select data-validation="degreeSubject" id="subject" name="field_degree_subject[und]" class="govuk-select">
                        <option value="3406">I don't have a second subject</option>
                        <option value="1523">Art and design</option>
                        <option value="1524">Biology</option>
                        <option value="1526">Business studies</option>
                        <option value="1527">Chemistry</option>
                        <option value="1529">Citizenship</option>
                        <option value="1531">Classics</option>
                        <option value="1532">Computing</option>
                        <option value="1535">Design and technology</option>
                        <option value="1536">Drama</option>
                        <option value="1537">Economics</option>
                        <option value="1540">English</option>
                        <option value="1550">French</option>
                        <option value="1542">Geography</option>
                        <option value="1551">German</option>
                        <option value="1544">Health and social care</option>
                        <option value="1545">History</option>
                        <option value="1557">Languages (other)</option>
                        <option value="1559">Maths</option>
                        <option value="1560">Media studies</option>
                        <option value="1562">Music</option>
                        <option value="1565">Physical education (PE)</option>
                        <option value="1566">Physics</option>
                        <option value="1663">Physics with maths</option>
                        <option value="9570">Primary</option>
                        <option value="1567">Psychology</option>
                        <option value="1568">Religious education (RE)</option>
                        <option value="1571">Social science</option>
                        <option value="1554">Spanish</option>
                        <option value="9569">Vocational health</option>
                    </select>
                </div>
            </div>





















            <div class="govuk-form-group">
                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </div>


        </form>

    </div>
</div>

{% endblock %}

{% block pageScripts %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>



</script>

{% endblock %}
