
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DfE Get School Experience
        <span class="govuk-caption-xl">Prototype kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <p class="govuk-heading-l">
        Sprint 1 &amp; 2
      </p>

      <p class="govuk-!-font-weight-bold">Variance eligibility and suitability page testing</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>
              <a class="govuk-link" href="version1/start-page">Eligibility and suitability checker</a>
          </li>


        </ul>

      <p class="govuk-!-font-weight-bold">Onboarding information and suitability checker</p>
      <p>
        Below is a list of individual pages developed as part of Sprint 1 &amp 2.

        These pages will be tested as part of a journey that forms the ‘Book School Experience’ onboarding information and suitability checker.
      </p>
      <p class="govuk-!-font-weight-m">
        Findings
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Coming Soon</li>
      </ul>




      <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Individual pages
                </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">


                 <li>
                   <a class="govuk-link" href="version1/check">Check if you need a school experience </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/start-page">Start Page</a>
                 </li>

                 <li>
                   &nbsp;
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/how-far">How far have you got towards becoming a teacher? (1)</a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/get-into-teaching">Get into teaching (2)</a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/how-can-we-help">How can we help you decide? (3) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/have-you-got-a-degree">Have you got a degree? (4) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/where-degree">Where did you get your degree? (5)</a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/where-degree-alt">Where are you working towards your degree? (5a) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/experience-before">Have you undertaken a school experience placement? (6) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/recognised"> Is your degree a recognised UK equivalent? (7) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/call-centre">Find out about something else / another subject (8) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/check-qualification">Check your overseas qualification (9) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/find-and-book">Find and book a school experience placement (10) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/find-itt">Find and apply for teacher training (11) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/applied-yet">Why haven’t you applied yet? (12) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/itt-placement">What stage are you at?  (13) </a>
                 </li>
                 <li>
                   <a class="govuk-link" href="version1/on-teacher-training">TBC (14) </a>
                 </li>

                 <li>
                   <a class="govuk-link" href="version1/start-page-book">Start Page for booking a school experience</a>
                 </li>

              </ul>
            </div>

      </details>



        <div class="divider">
          &nbsp;
        </div>


        <p class="govuk-heading-l">
          Sprint 3
        </p>
        <p class="govuk-!-font-weight-bold">
          A + B Testing an top level internal menu system<br />
          Skeleton navigation produced

        </p>
        <p>
          In Sprint 3 we started to look at how the Schools admin interface may function. This would help us test out hypothesis number 2.
        </p>
        <p>
          We started building a menu system in the prototype kit that lent itself to a gov.uk style interface. Placing menu items in the black header we thought would be lost. So we created a different style menu bringing the top-level menu items outside off the black header. This could then be tested with users to which they find easiest to navigate.
        </p>
        <p>
          As part of testing the hypothesis number 2 we developed a skeleton navigation style for the second level and linked all this together so we could see if the sections made sense to users and ask them what would be expected in the sections and if this was what they needed.
        </p>
        <p class="govuk-!-font-weight-bold">
          Findings
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Coming Soon</li>
        </ul>
        <p>
          <h2 class="govuk-heading-s">Links</h2>
          <a class="govuk-link" href="http://localhost:3000/schools-1/dashboard">Example navigation A</a><br />
          <a class="govuk-link" href="http://localhost:3000/schools-2/dashboard">Example navigation B</a><br />
          <a class="govuk-link" href="http://localhost:3000/schools-1/view-bookings">Example skeleton A</a><br />
          <a class="govuk-link" href="http://localhost:3000/schools-2/view-bookings?id=5">Example skeleton B</a><br />
        </p>

        <div class="divider">
          &nbsp;
        </div>


        <p class="govuk-heading-l">
          Sprint 4
        </p>
        <p class="govuk-!-font-weight-bold">
Testing out 2 styles of booking
        </p>
        <p>
          In Sprint 4 we wanted to test out how users felt about booking and was unsure whether the onus should be on them to confirm the booking or just give them confirmed bookings. So we developed the ‘your bookings’ sections to include a set of results and from these results candidate details pages were placed with differing options. This was done in anticipation of learning which most suited them. We also added a dashboard under ‘your bookings’ to help summarise information they may need. This would help us organise the right information in the right place and get rid of irrelevant information.
        </p>
        <p>
          Also in sprint 4 we started to look at how schools may manage their candidates through the ‘your placements’ section. Within this we started to develop a calendar where they can view what candidate are booked in for the week ahead. We broke this down by subject so they could easily see what was bookd in. We are unsure if they need a monthly view so we will draw one of these and show them to see if its needed. As this area will be crucial to them managing their placements we will try various options here on paper and in the prototype.
        </p>
        <p class="govuk-!-font-weight-bold">
          Findings
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Coming Soon</li>
        </ul>

        <p>
          <h2 class="govuk-heading-s">Links</h2>
          <a class="govuk-link" href="http://localhost:3000/booking/dashboard?id=1">Dashboard</a><br />
          <a class="govuk-link" href="http://localhost:3000/booking/view-bookings?id=5">Bookings incoming</a><br />
          <a class="govuk-link" href="http://localhost:3000/booking/profile2?id=5">School booking candidate detail 1 with contact and cancel</a><br />
          <a class="govuk-link" href="http://localhost:3000/booking/profile2?id=5">School booking detail 2 with confirm, reject and cancel</a><br />
          <a class="govuk-link" href="http://localhost:3000/booking/profile3?id=5">School booking detail 3 with confirm, reject and cancel</a><br />

            <a class="govuk-link" href="http://localhost:3000/booking/noti-contact">Contact candidate template for schools</a><br />
            <a class="govuk-link" href="http://localhost:3000/booking/noti-cancel">Cancel candidate template for schools</a><br />
            <a class="govuk-link" href="http://localhost:3000/booking/noti-confirm">Confirm candidate template for schools</a><br />
            <a class="govuk-link" href="http://localhost:3000/booking/noti-reject">Reject candidate template for schools</a><br />

            <a class="govuk-link" href="http://localhost:3000/booking/noti-sent?id=5">Confirm email</a><br />

        </p>

        <div class="divider">
          &nbsp;
        </div>






        <p class="govuk-heading-l">
          Sprint 5
        </p>
        <p class="govuk-!-font-weight-bold">
          Candidate information check<br />
          A + B Search and find a school experience
        </p>
        <p>
        In Sprint 5 we decided to test out hypothesis 3. To start this off we looked what the candidate’s think and feel is the right amount and right content for giving as part of registration. This was set out with the basic ‘needed’ information then asking them how they feel about the rest.
        </p>
        <p>
          A key part of hypothesis 3 was users searching and finding the appropriate school experience. We tested 2 variations along this theme with the aim of gaining direction on what works best.
        </p>
        <p class="govuk-!-font-weight-bold">
          Findings
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Coming Soon</li>
        </ul>

        <p>
          <h2 class="govuk-heading-s">Links</h2>
          <a class="govuk-link" href="http://localhost:3000/candidate-search/search">Candidate search facility</a><br />
          <a class="govuk-link" href="http://localhost:3000/candidate-search/search-results">Candidate search results</a><br />
          <a class="govuk-link" href="http://localhost:3000/candidate-search/search-blank">Candidate search result details</a><br />
        </p>

        <div class="divider">
          &nbsp;
        </div>



      <!--
      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>
-->



    </div>
</div>

{% endblock %}
