{% extends "layout.html" %}
{% import "sections.html" as s %}
{% import "schools/candidate-request.html" as candidate_request %}

{% block pageTitle %}
  Candidate Requests
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it. <a class="" href="/"> Sign out</a>'
}) }}

<a class="govuk-back-link" href="#" onclick="history.back(-1)">Back</a>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">
      Bookings
    </h1>

<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-custom-class" scope="col">School</th>
      <th class="govuk-table__header app-custom-class" scope="col">Subject</th>
      <th class="govuk-table__header app-custom-class" scope="col">Date booked</th>	
      <th class="govuk-table__header app-custom-class" scope="col">Action</th>							
    </tr>
  </thead>
  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">
      <td class="govuk-table__cell">New Islington Free School</td>
      <td class="govuk-table__cell">Chemistry</td>
      <td class="govuk-table__cell"><strong>1 September 2019</td>
      <td class="govuk-table__cell"><a href="/booking/candidate-request1-booking" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Waterloo Primary School</td>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><strong>5 September 2019</td>
      <td class="govuk-table__cell"><a href="/booking/candidate-request1-booking" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Ashton-on-Mersey School</td>
      <td class="govuk-table__cell">Chemistry</td>
      <td class="govuk-table__cell"><strong>14 September 2019</td>
      <td class="govuk-table__cell"><a href="/booking/candidate-request1-booking" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Barton Moss Community Primary School</td>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><strong>20 September 2019</td>
      <td class="govuk-table__cell"><a href="/booking/candidate-request1-booking" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">The Blue Coat CofE School</td>
      <td class="govuk-table__cell">Physics</td>
      <td class="govuk-table__cell"><strong>2 October 2019</td>
      <td class="govuk-table__cell"><a href="/booking/candidate-request1-booking" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prestolee Primary School</td>
      <td class="govuk-table__cell">Art</td>
      <td class="govuk-table__cell"><strong>5 October 2019</td>
      <td class="govuk-table__cell"><a href="/booking/candidate-request1-booking" class="govuk-link">View</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Cheadle Hulme High School</td>
      <td class="govuk-table__cell">Chemistry</td>
      <td class="govuk-table__cell"><strong>5 November 2019</td>
      <td class="govuk-table__cell"><a href="/booking/candidate-request1-booking" class="govuk-link">View</a></td>
    </tr>
  </tbody>
</table>



<p><a class="govuk-button button-grey cta" href="/candidate-dashboard-lite/c-dashboard-lite?request-count=4&bookings-count=7">Return to bookings and admin</a></p>


{% endblock %}
