{% extends "layout.html" %}
{% import "sections.html" as s %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
{{ s.banner() }}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Cancel booking</h1>
      <p>
        You've chosen to cancel your school experience booking for Ancoats Nursery School.</p>
        <p>Date booked: 10 March 2019<br />
      </p>

<!--
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          To change any school experience details you’ll need to contact the school. For example, to change the date of your booking.
        </strong>
      </div>
-->

<div class="govuk-form-group">
  <h2 class="govuk-heading-m">Cancellation reasons</h2>
  <p>
Tell us a why you want to cancel your booking so we can let the school know you no longer want school experience.</p>
  </span>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

            <p>
              <a href="booking-cancel-confirm" class="govuk-button govuk-button--warning">Cancel booking</a><br/>

<!--
      <p>
        <a href="view-booking" class="govuk-button">Contact school</a><br/>
      </p>
-->
<p><a class="govuk-button button-grey cta" href="/candidate-dashboard-lite/c-dashboard-lite?request-count=4&bookings-count=7">Return to bookings and admin</a></p>

            </p>
                </div>

            </div>





            {% endblock %}
